[2019-03-28 11:42] yossaa commented on #643
btw. in your current design all azure* starters are loading all components. In this case I wanted to use keyvault, and your lib is trying to autoconfigure all other components (storage, cosmos, systembus).

[2019-03-28 11:45] hochas commented on #641
I rewrote the method [`list`](https://github.com/Microsoft/azure-spring-boot/blob/2.1.6/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultOperation.java#L46) and tested my application with `2.1.7-SNAPSHOT` with my modified method and it resolves my problem, but I don't know if this is the root cause.
[code]

[2019-03-28 14:37] Incarnation-p-lee commented on #641
@hochas
Thanks for figuring out this. It looks that the processor will eliminate the works after `-`. I did some validation for this, for example:

Assume you got keyvault secrets `test-value` from azure. When `list`, it will return the list contains `test-value`. But later when `get` the char after `-` (here means `-value`) is cut by framework and only `test` is here.

So from list, I think you c

[2019-03-28 15:12] hochas commented on #641
No problem, glad to help!

I'm not sure why this specific setup seems to break it though, when I created a minimal setup with only the keyvault starter it seemed to work. I will create another sample with that scenario next week, if you still determine that the fault lies with the starter I will gladly create a PR. In the mean time, hope you have a nice weekend!

[2019-03-29 01:51] Incarnation-p-lee commented on #643
@yossa
I am afraid I cannot reproduce you issue from my side, with you provided code. Spring boot 2.1.x may change the endpoint after /actuator, you may need to double confirm if `/actuator/env` exist or not.

About the design, keyvault starter as post processor will active unconditionally. But for rest starters, it only active when related properties exist, which is not the same as loading all co

[2019-03-29 06:45] yossaa commented on #643
In spring boot 2 you have to add a property:
management.endpoints.web.exposure.include=*

Otherwise you don't see /env

[2019-03-29 13:51] balazsmaria opened #645 "How to redirect to https after successful login?"
I use Azure AD, Azure API Gateway, and a Spring Boot (2.1.1) application just as in your example and I can successfully login but after that I always get redirected to http instead of https.

Does anyone know how to get this work with https? It would be very helpful to extend the tutorial with this way of configuration.

[2019-03-29 14:45] balazsmaria commented on #645
I configured a redirect rule (http -> https) in the gateway.

[2019-03-29 14:45] #645 closed

[2019-03-29 14:46] jtc198322 commented on #642
Would it be possible to make the hard-corded strings of the issuer dynamic supported by properties? For a single tenant...

` @Override
        public void verify(JWTClaimsSet claimsSet, SecurityContext ctx) throws BadJWTException {
            super.verify(claimsSet, ctx);
            final String issuer = claimsSet.getIssuer();
            if (issuer == null || !issuer.contains("https://sts.wind

[2019-03-29 15:42] mores commented on #476
I am seeing similar issue.
I have a token from 2.0 endpoint - invalid signature.
Followed this blog to verify: https://nicksnettravels.builttoroam.com/post/2017/01/24/Verifying-Azure-Active-Directory-JWT-Tokens.aspx
I think this may be an issue with how Microsoft is signing the 2.0 tokens.

[2019-03-30 14:40] Incarnation-p-lee commented on #643
@yossaa
Thanks for pointing out this. It should be cloud foundry properties which cannot be converted to Json. We will prepare one PR for this.

[2019-04-01 03:28] Incarnation-p-lee commented on #642
@jtc198322
I am sorry it seems I am not get your point for this issue. For aad, the service-endpoint is something like fixed value, and it should works well. Are you try to customize this endpoint with aad ? I am not sure if it is possible or not. Please correct me if something misunderstanding.

[2019-04-01 13:31] hochas commented on #641
@Incarnation-p-lee I have confirmed  that [`2.1.6`](https://github.com/Microsoft/azure-spring-boot/blob/2.1.6/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultOperation.java#L84) is broken, [`2.1.2`](https://github.com/Microsoft/azure-spring-boot/blob/2.1.2/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultOperation.java#L56) works. [Check out t

[2019-04-01 13:41] Incarnation-p-lee commented on #641
@hochas
Make sense. For support relaxing names as, removing that in previous. We need to double check how normal `@ConfigurationProperties` works, and then can add replacing properties back here with the real reason.

Thanks for issue this.
[code]

[2019-04-01 14:15] hochas commented on #641
Given this class:

[code]

The `get` method in `KeyVaultOperation` will be called with `prefix.sample-property`. From your perspective, I'm not sure if you need to consider all the above permutations. The use cases with the vault starter are:

1. `@Value("prefix.sampleProperty")`
2. `@Value("prefix-sampleProperty")`
3. The above class which results in `prefix.sample-property` being looked up

Spri

[2019-04-01 15:07] Incarnation-p-lee commented on #641
Thanks for the sample, I take a look into normal `@ConfigurationProperties` code, it works like this,

[code]
* First the instance will be created by default constructor.
* Then ConfigurationPropertiesBinder will find property by `prefix`, here is test.
* In fact, no properties named `test`
* And next, it notices Test is class, it will iterator all fields under class Test.
* For each field, it wil

[2019-04-01 16:46] mahoekst opened #648 "Build fails Could not find artifact com.microsoft.azure:azure-active-directory-spring-boot-starter:jar:2.1.7-SNAPSHOT"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.9

## Summary
Cannot compile the repository. Could not find artifact com.microsoft.azure:azure-active-directory-spring-boot-starter:jar:2.1.7-SNAPSHOT

## Reproduce steps
install Java (12), Maven. Check if all works. Check!
mvn install -DskipTests -X in the azure-a

[2019-04-01 18:36] mahoekst commented on #383
Not working for me either. I tried adding the suggested permissions and grant them as admin. Still 403 error.

[2019-04-02 00:44] Incarnation-p-lee commented on #648
@mahoekst
Thanks for issue this. Could you please share you minimal pom file to reproduce this ? From our env, I cannot reproduce you issue.

[2019-04-02 00:50] mahoekst commented on #648
It's the file in the repo. I changed the file ot use com.microsoft.azure:azure-active-directory-spring-boot-starter:jar:2.1.6 and it started working (the compile piece)

[2019-04-02 00:54] Incarnation-p-lee commented on #648
@mahoekst
I see, for snaphot version you may need to add special configuration, see our doc here.
https://github.com/Microsoft/azure-spring-boot#snapshots

[2019-04-02 05:42] hochas commented on #641
I think overriding will always be an issue either way. If you document where in [this hierarchy](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config) that the key vault is applied, I think it is fine. Thanks for your time, I'll be on the lookout for a new release :)

[2019-04-02 06:04] Incarnation-p-lee commented on #641
OK. You can leverage our SNAPSHOT version at first.

[2019-04-02 21:39] AlexandreGarino commented on #621
@sophiaso I use a Web App running on Linux. The runtime stack is Java 8 / Tomcat 9.0.

[2019-04-03 20:51] jaimodha opened #650 "spring-boot-starter-azure 2.12 and spring boot 2.1.3.RELEASE issue"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.8

## Summary

com.microsoft.azure:azure-active-directory-spring-boot-starter (v2.1.2) when used with the latest 2.1.3.RELEASE of spring boot fails in the authentication flow. All the steps are followed from this document. https://docs.microsoft.com/en-us/java/azur

[2019-04-04 00:20] Incarnation-p-lee commented on #650
Thanks for issue this, looks like known issue. But could you please share your correctly information about our starter version ? I think 2.12 is not valid version.

[2019-04-04 04:30] jtc198322 commented on #642
Basically my issuer from Azure AD is not "https://sts.windows.net/")  or issuer.contains("https://sts.chinacloudapi.cn/"))

it is from https://login.microsoftonline.com/{uuid}/v2.0

and the jwt verification fails.

[2019-04-04 18:23] vyasamit opened #651 "Failed to bind properties under 'azure.servicebus.subscription-receive-mode' to com.microsoft.azure.servicebus.ReceiveMode"
## Environment
- Spring boot starter:

  - service bus spring boot starter
     <dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>azure-servicebus-spring-boot-starter</artifactId>
            <version>2.0.5</version>
        </dependency>

OR

    <dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>azure-servicebus-spring-bo

[2019-04-04 18:25] vyasamit commented on #651
if azure.servicebus.subscription-receive-mode= is defined empty app starts but you can get messages from subscription. Seems the com.microsoft.azure.servicebus.ReceiveMode is Enum and it is having trouble to convert PEEKLOCK or RECEIVEANDDELETE to values after reading from a property file.

[2019-04-04 20:34] berndgoetz commented on #383
I tried your configuration but that fails with

`Caused by: java.lang.NoClassDefFoundError: javax/xml/bind/JAXBException
	at com.microsoft.applicationinsights.internal.config.JaxbAppInsightsConfigurationBuilder.build(JaxbAppInsightsConfigurationBuilder.java:49) ~[applicationinsights-core-2.2.0.jar:na]
`

Moreover, I don't understand what that change should have to do with the fact that a group def

[2019-04-04 21:08] jaimodha commented on #650
Attaching the build file here so that shows all the version here

[code]

[2019-04-05 14:25] sheekaat opened #652 "Any event to listen for the Azure key vault secret updates"
## Environment
- Spring boot starter:

   - key vault spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary
We use Azure key vault to store cosmos db keys as secrets and used key vault starter to fetch those and established connection to cosmos db. Whenever we do the key vault updates for the secret, we need to call the actuator refresh to get the newly updated se

[2019-04-06 11:57] berndgoetz commented on #553
A bit more description would be useful here.

[2019-04-06 12:00] berndgoetz commented on #626
Why is the client-secret still there in your config snippet above?

A simple sample app for this would be great. When I get the AAD sample app running (haven't done so., unfortunately), I might be able to write such a sample then. Anybody else having such code already and willing to share?

[2019-04-06 12:16] berndgoetz commented on #393
@Gopal-Git did you find a solution for your issue? Or is it still open?

[2019-04-06 12:50] Incarnation-p-lee commented on #553
Thanks, but it still under planning, will update design/task item once ready.

[2019-04-06 13:08] Incarnation-p-lee commented on #626
You can replace the `client-secret` with you keyvault secrets under placeholder.

[2019-04-07 14:31] berndgoetz commented on #288
Hi yungez, Hi all, for the records: I've played around with the application registration configuration and I found that setting the "oauth2AllowIdTokenImplicitFlow" attribute to true make the whole difference. If you were wondering how to fix it.

[2019-04-07 21:34] berndgoetz commented on #643
I can reproduce this with my test project at https://github.com/berndgoetz/spring-sec-aad-sample.

[2019-04-07 21:40] berndgoetz opened #653 "NullPointerException after service restart"
## Environment
- Spring Boot 2.1.4
- Spring boot starter:
  - active directory spring boot starter
- OS Type: Windows / any
- Java version: 11

## Summary
It seems that the Azure Active Directory Spring Boot Starter doesn't trigger a relogon after the application was restarted. The security filter should identify this combination and trigger the relogon to create the correct logon state in the app

[2019-04-08 00:27] Incarnation-p-lee commented on #653
Thanks for issue this. Do you mean restart the application and then access the `localhost:8080` will NPE, right ?

It looks I cannot reproduce you issue with you sample code from my side, after restart and the access `localhost:8080`, the process of auth will start as first time.

[2019-04-08 13:14] SteefB commented on #464
@Incarnation-p-lee Thanks for the information! We'll check it out asap.
Do you have estimation on when this will available in an official release?
Thanks a lot!

[2019-04-08 17:16] ganeshchippada opened #654 "404 error after login"
## Environment
- Spring boot starter:
  - active directory spring boot starter
- OS Type: MacOS
- Java version:
  - 1.8

## Summary
Created an app in Azure with all the configuration mentioned in the doc (https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory?view=azure-java-stable). I was successfully getting the login page

[2019-04-09 00:49] Incarnation-p-lee commented on #654
Thanks for issue this, could you please have a try from newest version 2.1.6 with spring boot 2.1.x ? Ass 2.1.2 is a little old.

[2019-04-10 00:51] Incarnation-p-lee commented on #651
@vyasamit
Thanks for issue this. It looks I cannot reproduce you issue from my env. From you description, seems the properties cannot be converted to class with binding.

From the debugging, I can see the `RECEIVEANDDELETE ` converted to `com.microsoft.azure.servicebus.ReceiveMode.RECEIVEANDDELETE ` correctly when create SubscriptionClient.

So could you have a try to reproduce you issue from our

[2019-04-10 02:50] vyasamit commented on #651
[azure-serrvice-bus-demo.zip](https://github.com/Microsoft/azure-spring-boot/files/3061767/azure-serrvice-bus-demo.zip)

Added the DEMO still show issue project.

Run to spring boot entry application java and you will see the error which I am encountering, below image, is the error message screenshot

![image](https://user-images.githubusercontent.com/16547923/55848050-5202d600-5b11-11e9-99cc-0724

[2019-04-10 03:11] Incarnation-p-lee commented on #651
Unfortunately, I cannot get your error from your demo project, for both `PEEKLOCK` and `RECEIVEANDDELETE `

See this ![snapshot](https://github.com/Incarnation-p-lee/test/blob/master/Untitled.png)

[2019-04-10 03:18] vyasamit commented on #651
I ran your Samples that too gave the same issue

![image](https://user-images.githubusercontent.com/16547923/55849147-3699ca00-5b15-11e9-801b-d1a4cfb61010.png)

Strange....

[2019-04-10 03:22] vyasamit commented on #651
The last thing comes to my mind is It can be due to a dependency mess.. Let me clean .m2 repo and rebuild .. will update you.

[2019-04-10 03:27] vyasamit commented on #651
after .m2 clean, still same .. will dig more

[2019-04-10 03:30] Incarnation-p-lee commented on #651
Could you please share your mvn dependency:tree to me ?

[2019-04-10 03:53] Incarnation-p-lee commented on #650
@jaimodha

Could you have a try to add below dependency to your build file, you may need to convert to gradle format.

[code]

[2019-04-10 14:52] vyasamit commented on #651
[demo-dependency.txt](https://github.com/Microsoft/azure-spring-boot/files/3064394/demo-dependency.txt)

attached dependency tree output in txt file

[2019-04-10 21:19] jaimodha commented on #650
@Incarnation-p-lee Thanks for that info after adding that dependency it worked. So will that cause any concern in future if we upgrade to future versions of spring security and spring boot since we are adding the specific version of that dependency. Or the future version of spring boot starter azure fix this?

[2019-04-11 00:38] Incarnation-p-lee commented on #650
Good to know that. Actually it should be the dependency conflict from azure aad sdk, details see this issue:

https://github.com/AzureAD/azure-activedirectory-library-for-java/issues/248

We are planing to upgrade this and you may have no concern about the explicit version management.

[2019-04-14 15:53] berndgoetz commented on #653
Yes.

Hm, where's the difference? I'm using this version of Java 11:

[code]

What else could be different?

[2019-04-15 01:31] Incarnation-p-lee commented on #643
Could you please have a try with snapshot ? The fixing PR has merged already.

[2019-04-15 08:23] tanay1307shah opened #656 "@Autowired not being able to find beans"
In the main sprinboot application class, spring can configure beans for

    @Autowired
    private ServiceURL serviceURL;

    @Autowired
    private ContainerURL containerURL;

    @Autowired
    private StorageProperties properties;

[2019-04-15 10:44] sophiaso commented on #656
@tanay1307shah Could you share which version you are using? And if possible, could you provide a minimum producible example?

Also could you check whether you have configured below properties in your application.properties?
[code]

You may already know about the sample project, [sample project here](https://github.com/Microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-storage-

[2019-04-15 20:06] tanay1307shah commented on #656
Also when I run "mvn package" I get these exceptions thrown,

`java.lang.IllegalStateException: Failed to load ApplicationContext
        at org.springframework.test.context.cache.DefaultCacheAwareContextLoaderDelegate.loadContext(DefaultCacheAwareContextLoaderDelegate.java:125) ~[spring-test-5.1.6.RELEASE.jar:5.1.6.RELEASE]
        at org.springframework.test.context.support.DefaultTestContext.ge

[2019-04-16 14:52] marto commented on #388
I have come across this bug in our setup.

The issues is in `AzureADGraphClient#loadUserGroups` call. By default the graph API endpoint uses the `azure.service.endpoints.global.aadMembershipRestUri` property that is by default set to `https://graph.windows.net/me/memberOf?api-version=1.6`. The documentation (https://docs.microsoft.com/en-gb/previous-versions/azure/ad/graph/howto/azure-ad-graph-api

[2019-04-17 00:59] Incarnation-p-lee commented on #388
@marto
Thanks for your issue and contribution, could you please share some information why you may need groups more than 100 ?

[2019-04-22 15:44] afrancoc2000 commented on #526
Hi,

I'm having the same problem but with a variation this are my dependencies:

    project.ext.springsecurity = [ 'com.microsoft.azure:azure-active-directory-spring-boot-starter:2.1.6',
          			       'org.springframework.boot:spring-boot-starter-security:2.1.4.RELEASE',
				       'org.springframework.security:spring-security-core:5.1.5.RELEASE',
				       'org.springframework.security:sp

[2019-04-22 19:23] sabareeshkkanan commented on #303
We are using spring cloud config service which is a standalone service which uses git as a backend, we are looking for other alternatives instead. Spring cloud config can use vault as backend please refer here https://cloud.spring.io/spring-cloud-static/spring-cloud-config/2.1.0.RELEASE/multi/multi__spring_cloud_config_server.html#vault-backend  but not sure it will work with Azure vault ?

[2019-04-23 00:19] Incarnation-p-lee commented on #526
Thanks for issue this, could you please use following
`spring.security.oauth2.client.registration.azure.client-authentication-method=post` and `azure.activedirectory.tenant-id=common` instead of basic and have a try again ?
If not works, that should be another issue here.

[2019-04-23 01:07] afrancoc2000 commented on #526
Thanks! it works! 😄

[2019-04-23 18:49] einue commented on #383
Sorry for opening this again, but I remain the same error.

And to be more precise I get the exception : "Failed to map group to authorities."

spring-boot-version: v2.1.4.RELEASE
azure-version: 2.1.6

I added the microsoft graph permissons on the app-registration to the ad and set some properties to read the user and its groups.
permissions:
Read all groups
delegeted permissions:
Sign in and read

[2019-04-25 12:40] TimGundmann commented on #642
I have the same issue. I think the error occur if the setup is single tenant.

[2019-04-25 12:44] TimGundmann commented on #383
I get the same error.

[2019-04-25 15:38] einue commented on #383
@TimGundmann Finally I get it‘s working. You have to set the permissions on the Microsoft Graph as described above. Don‘t forget to explicitly push the button „Grant permissions“ and make sure that during this Operation no error is thrown.

https://msdnshared.blob.core.windows.net/media/2018/05/image117.png

[2019-04-26 12:14] yossaa commented on #643
I have just tried with 2.1.7-SNAPSHOT and still getting this exception:
![image](https://user-images.githubusercontent.com/14076521/56806878-807cf280-682d-11e9-9f10-b2e28eadc1d0.png)

[2019-04-26 12:21] yossaa opened #658 "Outdated dependencies"
azure-keyvault-spring-boot-starter 2.1.6 is using 2 years old azure-keyvault dependency, which causes conflict with azure-client-authentication:

![image](https://user-images.githubusercontent.com/14076521/56807156-45c78a00-682e-11e9-8bf9-1a45d580f0d0.png)

[2019-04-26 18:41] jaimodha opened #659 "Issue accessing graph API with access token acquired after successful login"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: MacOS
- Java version:

  - 1.8

## Summary

The access token generated after successful login cannot be used to make graph api call (https://graph.microsoft.com) since the access token generated can only be used with the old AD graph API (https://graph.windows.net).  Tried to override the service endpoint t

[2019-04-26 18:41] jaimodha commented on #659
`azure:
  activedirectory:
    tenant-id: <teanant_id>
    active-directory-groups:  <group>
  service:
    endpoints:
      global:
        aadGraphApiUri: https://graph.microsoft.com/
        aadMembershipRestUri: https://graph.microsoft.com/v1.0/me/memberOf
spring:
  security:
    oauth2:
      client:
        registration:
          azure:
            client-id: <client_id>
            client-

[2019-04-26 18:42] jaimodha commented on #659
azure:
  activedirectory:
    tenant-id: <teanant_id>
    active-directory-groups:  <group>
  service:
    endpoints:
      global:
        aadGraphApiUri: https://graph.microsoft.com/
        aadMembershipRestUri: https://graph.microsoft.com/v1.0/me/memberOf
spring:
  security:
    oauth2:
      client:
        registration:
          azure:
            client-id: <client_id>
            client-s

[2019-04-26 18:42] jaimodha commented on #659
[code]

[2019-04-26 18:44] jaimodha commented on #659
[code]

Following is the version information.

[2019-04-26 18:55] jaimodha commented on #659
Also this document recommends using microsoft graphs over AD graphs https://blogs.msdn.microsoft.com/aadgraphteam/2016/07/08/microsoft-graph-or-azure-ad-graph/

[2019-04-27 02:47] Incarnation-p-lee commented on #659
@jaimodha
Thanks for issue this, currently only the AD graphs is supported. We can add this as our feature list or you can contribute code if urgent.

[2019-04-28 02:57] Incarnation-p-lee commented on #643
Could you please have a try with snapshot ? Seems I missed Getter and Setter for VcapResult. Sorry for inconvenient.

[2019-04-29 08:04] yossaa commented on #643
it works now

[2019-04-29 21:06] alaahusseiny commented on #659
@Incarnation-p-lee is there a published date/time for this to be released ? and if its far in the roadmap, how do we change in the code to allow such change ?

[2019-04-30 03:03] afrancoc2000 opened #661 "Azure Active Directory Stateless implementation"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows
- Java version:

  - 1.8

## Summary
I'm successfuly authenticating using this example, but The authentication is associated to a JSESSIONID , and I have a microservices aproach and would like it to be stateless. Do you have an example of this kind of authentication? so instead of sending a cookie w

[2019-04-30 18:54] afrancoc2000 opened #663 "AADSTS50000 ERROR and not being askedfor 365 account type or Microsoft account type"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows
- Java version:

  - 1.8

## Summary
I have both a personal account and a work account with the same email so I expect to be asked for the kind of account to use when I login, but my app looks only for my work account credentials, and when I deploy it to a different tenant, the guest user is actuall

[2019-05-06 05:53] xscript commented on #643
Closing it now.

[2019-05-06 05:53] #643 closed

[2019-05-07 10:08] yesrafarid commented on #549
@blacelle thanks for this work :) I have a query though, I have implemented the same in my application but I am still getting

`ERROR 246804 --- [nio-8084-exec-2] c.m.a.s.a.aad.AADAuthenticationFilter    : Failed to acquire graph api token.

java.util.concurrent.ExecutionException: com.microsoft.aad.adal4j.AuthenticationException: {"error_description":"AADSTS50058: A silent sign-in request was sen

[2019-05-07 12:30] blacelle commented on #549
@yesrafarid Please find here an updated version of the filter: it appeared the originally posted one did not always work as appid claim was not specific to Application tokens. if it does not work, please add some logs in considerOnlyRolesFromInitialToken(...) as, for an application token, it should return true:
[code]

and some tests to describe the expected behavior:

[code]

[2019-05-07 16:33] yesrafarid commented on #549
@blacelle thanks a lot! It does authenticate the token and I get the log "Request token verification success."
However, my application is still adding "AADAuthenticationFilter" in the filter chain like after authenticating token from the custom filter it still calls AADAuthenticationFilter for AzureJwtTokenFilter and eventually fails when couldn't authenticate token for Graph API.
<img width="822"

[2019-05-07 16:38] yesrafarid commented on #549
@blacelle thanks a lot! It does authenticate the token and I get the log "Request token verification success."
However, my application is still adding "AADAuthenticationFilter" in the filter chain like after authenticating token from the custom filter it still calls AADAuthenticationFilter for AzureJwtTokenFilter and eventually fails when couldn't authenticate token for Graph API.
<img width="831"

[2019-05-09 17:50] lhanson commented on #383
I'm also unable to use `azure-active-directory-spring-boot-starter` to access my own data since I don't have `Group.Read.All` permissions.

Am I misunderstanding something, or is it the case that this starter is only usable for Active Directory admins?

[2019-05-13 22:49] lhanson commented on #661
It looks like this is similar in nature to #494, and perhaps soon to be addressed by #512.

[2019-05-14 00:16] afrancoc2000 commented on #661
You're right thats exactly what I need thanks

[2019-05-15 02:28] afrancoc2000 commented on #642
I think the problem is giving an azure AD v2 token to a azure AD v1 implementation.

[2019-05-15 14:36] jbpaux opened #670 "ADFS Support in addition of AAD"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Linux- Java version:
  - 1.9

## Summary
We are deploying an app on both public Azure Cloud integrated with Azure AD and on Azure Stack wich leverage ADFS (disconnected env). Would it be possible to use this library with both as we can do using adal/msal standard library. Since MS Graph is not available this

[2019-05-17 13:32] wandrille-hubert commented on #659
@alaahusseiny you can take a look at my forked repo to see code changes needed to change it to the microsoft graph api, 41a4ec88cd2d3dc31af2e19319dab4aeda103663
commit 1 is for code changes needed, and commit 2 is for changes to test it out locally.
if wanting to test it out, in the second commit check out the test-local-ReadMe.txt file.

[2019-05-20 13:26] shrabdut123 commented on #642
Facing similar issue with single tenant application,  is there any solution to this issue?

[2019-05-22 13:34] einue commented on #659
I want to make a get request to the following endpoint after successfully login
https://graph.windows.net/myorganization/users/{userID}/manager.

But for this endpoint I need the graphapitoken. How can I extrect this from the user?

The normal access token for the ad, which i can get per
`Authentication authentication = SecurityContextHolder.getContext().getAuthentication();
DefaultOidcUser princi

[2019-05-23 06:12] einue commented on #659
@wandrille-hubert how can I include your commit in my project, where I map the azure-spring-boot as maven dependency?

[2019-05-26 02:59] xukai286 opened #672 "AADB2C support china cloud endpoint"
## Environment
- Spring boot starter:

  - azure-active-directory-b2c-spring-boot-starter 2.1.6.M2
- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.9
  - 1.8
  - 1.7

## Summary

all the url in b2c login has the fixed endpoint which is not for Azure China cloud
China cloud has a different endpoint which is end with:
partner.onmschina.cn

## Reproduce steps

## Expected Results

https://xxx.b2

[2019-05-26 11:11] Incarnation-p-lee commented on #672
thanks a lot for request china, will add to our plan.

[2019-05-28 22:30] lhanson commented on #383
Until/unless somebody at Microsoft can provide guidance, I've created a [branch](https://github.com/lhanson/azure-spring-boot/tree/memberof-403) which works around this issue by catching the HTTP 403 response to the `me/memberOf` request and simply populating a granted authority of `ROLE_USER` in that case. I should probably log that as well, to help troubleshoot possible authz issues down the roa

[2019-05-29 09:18] erviszyka opened #673 "Spring vault key vault is not correctly mapping keys that contain '-' character"
## Environment
- Spring boot starter:
  - key vault spring boot starter

- OS Type: Windows

- Java version:
  - 1.8

## Summary
I have the key `azure.activedirectory.b2c.client-id` stored in the azure keyvault
as `azure-activedirectory-b2c-client-id`. I am trying to access this key in my code
using the `@Value` spring annotation and it fails to map the keyvault value
`azure-activedirectory-b2c-cl

[2019-05-29 17:42] wandrille-hubert commented on #659
@einue  I have made more recent commits to my forked repo where the graphApiToken can be acquired:
1.	If utilizing the oidcUserService flow, then how you can get the graph api token is as follows:

`import com.microsoft.azure.spring.autoconfigure.aad.GraphOidcUser;`

`GraphOidcUser graphUser = (GraphOidcUser)SecurityContextHolder.getContext().getAuthentication().getPrincipal();`

`String token =

[2019-06-03 09:51] berndgoetz commented on #642
I think I'm facing the same issue here. I'm using the AAD Spring Boot starter with Spring Boot 2.1.4 and I receive version 1.0 tokens. The access token is not a JWT, the id token is and it includes the attribute "ver": "1.0" and "iss": "https://sts.windows.net/our-tenant-id/", whereas it should be "iss": "https://login.microsoftonline.com/our-tenant-id/v2.0".

Here's my application.yml:

[code]

H

[2019-06-03 20:18] berndgoetz commented on #476
@sophiaso wrote:

How can I reconfigure the azure-active-directory Spring Boot starter to use the v2 endpoints to create v2 JWT?

Or, if that's not possible, by when can I expect support for v2 by the library?

[2019-06-04 15:42] blacelle commented on #383
We used to rely on the role "Group.Read.All" within "Microsoft Graph".

But recently, we observed it does not work properly anymore, but the following role fixed the 403 issue: 'Member.Read.Hidden'

[2019-06-04 15:54] afrancoc2000 commented on #642
@berndgoetz if you are having this issue you are already generating v2.0 tokens, the springboot implementation verifies the tokens using the adal for java library that validates v1.0 tokens and checks the issuer whitout incluind the "https://login.microsoftonline.com" issuer. You can do your own implementation using msal for java to validate v2.0 tokens or change the tokens you are sending to v1.0

[2019-06-04 17:37] blacelle commented on #383
It seems the proper role is now 'Directory.Read.All'
https://docs.microsoft.com/en-us/graph/api/user-list-memberof?view=graph-rest-1.0&tabs=javascript

[2019-06-04 18:05] blacelle opened #675 "Enable listing all groups a user is memberOf, including indirect membership"
com.microsoft.azure.spring.autoconfigure.aad.AzureADGraphClient.loadUserGroups(String) relies on  https://docs.microsoft.com/en-us/graph/api/user-list-memberof?view=graph-rest-1.0&tabs=javascript

which returns the direct groups current user is memberOf

Should AzureADGraphClient also rely on
https://docs.microsoft.com/en-us/graph/api/group-list-memberof?view=graph-rest-1.0&tabs=cs
to return the g

[2019-06-07 04:02] jfconavarrete opened #676 "loginProcessingUrl cannot be empty issue"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: MacOS
- Java version:
  - 1.8

## Summary
I'm getting the following exception when starting the application:

`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'springSecurityFilterChain' defined in class path resource [org/springframework/security/config/annotation/web/

[2019-06-07 19:28] KrKandula commented on #288
Hey Guys, If you are getting this error even after setting the 'oauth2AllowIdTokenImplicitFlow' to true, Make sure you clean up the Redirect URLs to NOT have any wildcard character *. If you created your app in the past using the legacy App Registration, it allowed you to create URLs to have wildcards in them. Now, using the new App Registration screen, it won't even allow you to create URLs with

[2019-06-09 06:00] Simon-zhenfeng opened #678 "There is not new version jar in maven centor repository for cosmos db starter"
## Environment
- Spring boot starter:

  - active directory spring boot starter
  - documentdb spring boot starter
  - key vault spring boot starter
  - media services spring boot starter
  - service bus spring boot starter
  - storage spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.9
  - 1.8
  - 1.7

## Summary

## Reproduce steps

## Expected Results

## Actual Results

[2019-06-10 01:04] Incarnation-p-lee commented on #676
@jfconavarrete, Thanks a lot for issue this.

It should be you `logingProcessingUrl` is empty or null from your configuration, could you please help to double check if following `reply-url` filled correctly ?

[code]

If you still met this issue, could you please provide minimal steps to reproduce this ? Thanks in advance!

[2019-06-10 02:18] jfconavarrete commented on #476
Hello. any news on using zure-active-directory Spring Boot start with v2 endpoints?
Thanks

[2019-06-10 04:42] Incarnation-p-lee commented on #678
@Simon-zhenfeng
Thanks a lot for issue this, could you please provide more information about this, like version as well as spring boot version you are using ?

[2019-06-10 04:43] Incarnation-p-lee commented on #673
@erviszyka
Thanks a lot, the implementation almost due to the restriction of keyvault secret name cannot contain '-', will sync with service team for this.

[2019-06-10 04:53] Incarnation-p-lee opened #679 "AAD graph API upgrading."
As there are some issues about AAD graph API upgrading, and I summarized some features and issues as below:

* [ ] Support new Graph API.
* [ ] Allow older user leverage old graph API (MS graph) with one EOL time.
* [ ] https://github.com/microsoft/azure-spring-boot/issues/675
* [ ] https://github.com/microsoft/azure-spring-boot/issues/663
* [ ] https://github.com/microsoft/azure-spring-boot/issue

[2019-06-10 14:08] #513 closed

[2019-06-10 14:30] lhanson commented on #383
I think many of us would still like to be able to use `azure-spring-boot` without requiring tenant-wide read permissions via `*.All` permissions.

[2019-06-10 17:02] sammycakes commented on #383
I've found that in the azure spring boot sample, in file TodolistController.java, in order to POST to path /api/todolist, the user needs to have access to group1.

so I had to add the user I was signing in as to group "group1" in the Azure portal. I did this by going into my Azure portal (portal.azure.com), go to 'Azure Active Directory' on the left-hand side, click "Users", click the user who I'm

[2019-06-10 18:11] cosolg commented on #556
Hi, I am still facing the same issue even with 2.1.4  starter. Can you please assist?

[2019-06-11 01:33] sophiaso commented on #556
@cosolg could you provide a simplest project which reproduces your issue?

[2019-06-11 17:42] jfconavarrete commented on #676
After some debugging I found out that the url specified in reply-url has to mandatorily have a path, for example: http://localhost:8080/home

Originally I had the reply-url set to http://localhost:8080, which caused the application to throw `java.lang.IllegalArgumentException: loginProcessingUrl cannot be empty` as the loginProcessingUrl value is set automatically to be the path of the URL (in thi

[2019-06-11 17:42] #676 closed

[2019-06-12 00:59] Incarnation-p-lee commented on #676
@jfconavarrete
Thanks a lot for investigating the root cause, could you please help to file one PR for handling this corner case ? It should be minor changing.

[2019-06-12 10:07] hafarey commented on #288
To reconfirm what others have said, I too resolved the issue by setting:

[code]

In case this also matters, I have only one redirect URI:
[code]
and under _Implicit Grant_, both _Access Tokens_ and _ID tokens_ are checked.

[2019-06-12 16:32] ramya25 commented on #383
@kaykumar Are you sure you followed all the steps in the https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot-samples/azure-active-directory-spring-boot-sample/README.md.
I followed the above steps and the sample worked fine. Please make sure you followed all the steps in the Readme for your existing app. If you are unsure, try creating a new app following all the steps in

[2019-06-12 16:40] lhanson commented on #383
@ramya25 Can you comment on the issue many of us are having with this library being unusable without admin consent via `Directory.Read.All`? As non-administrators or members of organizations unwilling or unable to grant such broad permissions to users' apps, is there no way to use the Graph API to access our own data?

https://github.com/microsoft/azure-spring-boot/issues/383#issuecomment-42296969

[2019-06-12 18:50] ramya25 commented on #383
@lhanson Sure, will look into it if it is possible to access user's own data without admin consent and update you. By the way, the required permission mentioned in sample README.md is `Directory.AccessAsUser.All`
not `Directory.Read.All`

[2019-06-13 05:49] Simon-zhenfeng commented on #678
Hi Pan,

I'm sorry I used the error pom dependency, I actually should use: azure-cosmosdb-spring-boot-starter. Now it is resolved.

I also have another problem that:
I want to log the used RU information in my log, howevery it is rellay difficult to log it when I choose use spring data cosmosdb. So, is there some method to implement it?

------------------ 原始邮件 ------------------
发件人: "Pan Li"<not

[2019-06-13 09:06] einue commented on #659
@wandrille-hubert I look forward to find your code in the master-Repo.  The PR for this stuff is still open, isn't it https://github.com/microsoft/azure-spring-boot/pull/680? I like using maven dependencies and I don't know how to integrate your code repo instead of using the maven dependency. So I'm looking forward...
Thank you very much!

[2019-06-14 09:07] jakobli commented on #355
Any update on this, AAD graph is getting deprecated so it feels a bit urgent :)

[2019-06-14 09:27] sophiaso commented on #355
@jakobli we have a new contributed pull request for this issue. #680

[2019-06-18 18:54] hmallepally opened #681 "login/oauth2/code/azure seems to be hardcoded path"
login/oauth2/code/azure  seems to be hard coded path. can we configure it to a path of our preference?

[2019-06-19 00:55] Incarnation-p-lee commented on #681
the path pattern should be `/login/oauth2/code/{provider}`, you reference the [doc](https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/reference/htmlsingle/#oauth2login-sample-redirect-uri) from spring security.

[2019-06-19 06:55] javolek commented on #642
Wouldn't it be possible to get the correct issuer from `https://login.microsoftonline.com/{tenant}/.well-known/openid-configuration` or `https://login.microsoftonline.com/{tenant}/v2.0/.well-known/openid-configuration` for v2.0 respectively, instead of hardcoding them?

[2019-06-19 13:37] olavgg commented on #383
Is there any difference between `Directory.AccessAsUser.All` and `User.Read` permissions?
Our Azure AD Admin has only assigned the `User.Read` permission for our app.

[2019-06-24 18:36] ramya25 commented on #383
@olavgg yes there is difference between those two permissions. `User.Read` is a simple permission which doesn't need admin consent and this allows user to sign-in and read/view the user profile. `Directory.AccessAsUser.All ` can access the directory resources same as the signed-in user so its needs admin consent. For further details you can refer [directory permissions](https://docs.microsoft.com/

[2019-06-25 17:01] ankitsalu commented on #288
My reply URL specified in azure is https://Sales/PricingSearch

and i want to load the page from some other application like https://Sales/PricingSearch?price=10

If i am logged in, it validates this reply url i.e. https://Sales/PricingSearch?price=10, and let me use the application.
but in case I am not logged in, then instead of giving an option to login, i get the error reply url invalid.

Also

[2019-06-27 07:30] iliabarancic opened #682 "AADAuthenticationFilter"
## Environment
- Spring boot starter:

  - active directory spring boot starter
  - documentdb spring boot starter
  - key vault spring boot starter
  - media services spring boot starter
  - service bus spring boot starter
  - storage spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.9
  - 1.8
  - 1.7

## Summary

## Reproduce steps

## Expected Results

## Actual Results

[2019-06-27 07:30] #682 closed

[2019-06-27 08:12] floriandorau commented on #585
Hi,

I'm facing a similar issue. Did you solved it or why was it closed?

Regards

[2019-06-27 19:59] swagulkarni opened #683 "Auto refresh Spring boot configuration on key vault secret udpate"
We are updating the cosmos key in Azure key vault on a regular basis after key rotation.
We are using Spring boot starter project to connect out Spring app with the key vault.

My question is, does Spring boot start send an auto refresh event on detecting change to the secret stored in the Key vault so that all Spring beans marked as @RefreshScope are also updated to use the latest secret key?

[2019-06-28 06:16] sophiaso commented on #683
@swagulkarni The Spring Boot Starter does not send an auto refresh event, for this requirement, [this sample project](https://github.com/sophiaso/spring-cosmosdb-refresh/blob/keyvault-refresh/README.md) may help.

[2019-06-28 08:52] erviszyka commented on #464
Hello all,
Any ideas when this branch will be merged into master and be available in a official release?

Thanks

[2019-06-28 08:54] Incarnation-p-lee commented on #464
we have milestone release [here](https://search.maven.org/artifact/com.microsoft.azure/azure-active-directory-b2c-spring-boot-starter/2.1.6.M2/jar).

[2019-06-28 13:42] swagulkarni commented on #683
@sophiaso - Are there any plans to introduce this feature in the starter kit? The sample project requires a manual step to call the refresh endpoint to re-initialize the DB config beans.
How would it work in production environment where we have automated the key rotation step in the key vault?
Our application is running in AKS clusters. How would we call refresh for all the containers running the

[2019-06-29 13:14] sophiaso commented on #683
@swagulkarni Currently we do not have plan to introduce this auto refresh feature in starter way, about refreshing in AKS cluster containers, for now, you may need to find some way to refresh.

[2019-07-01 14:24] swagulkarni commented on #683
@sophiaso - This seems to be a very important feature to add to the starter kit. Without this, we will have to add. One of the comments in this thread [here](https://github.com/microsoft/spring-data-cosmosdb/issues/353#issuecomment-506465099) suggests that its already added to Spring boot azure app configuration starter.

[2019-07-02 14:27] RaghavendraSingh commented on #585
Hi,
I am facing the same issue as well.
did anyone find a solution for this?

Thanks

[2019-07-02 17:26] mhp0rtal opened #687 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/certificate/PfxCertReader.java: Line number => 52: API name => KeyStore:Second parameter should never be of type java.lang.String.<BR> File name => azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/certificate/PfxCertReader.java: Line number

[2019-07-04 12:24] nikita-clearscale opened #688 "Sporing boot example fails with Provider ID must be specified for client registration 'azure'`"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Windows 10
- Java version:
  - 1.8

## Summary
I have specified the following with actual values
[code]
It looks like additional configuration is needed

## Reproduce steps
Just run spring boot application

## Expected Results
Running application

## Actual Results
Got `Caused by: java.lang.IllegalStateExcep

[2019-07-04 15:03] Incarnation-p-lee commented on #678
That's OK. Could u please open one issue from spring data cosmosdb ?

[2019-07-05 00:32] Incarnation-p-lee commented on #688
Thanks a lot for issue this, could you please share more information about this issue ? like version, spring boot version, example u are using, as well as minimal code to reproduce this ?

[2019-07-05 00:32] Incarnation-p-lee commented on #681
close it for now, and feel to reopen it if there is similar question.

[2019-07-05 00:33] #681 closed

[2019-07-05 00:33] Incarnation-p-lee commented on #678
close it for now, and feel to reopen it if there is similar question.

[2019-07-05 00:33] #678 closed

[2019-07-09 06:30] blacelle commented on #675
It seems https://docs.microsoft.com/en-us/graph/api/group-getmembergroups?view=graph-rest-1.0&tabs=http is equivalent of memberOf but with thansitivity.

[2019-07-12 15:23] kkonchada commented on #688
Is there a resolution found to this error? We are facing the same error and wondering what the resolution might be. Thank you.

[2019-07-12 19:59] 001arthur commented on #526
@Incarnation-p-lee I'm facing the same problem, I have already tried your solution but the problem persists, any ideia?

[2019-07-15 00:50] Incarnation-p-lee commented on #688
you may need to provide more information about this, like spring boot information, sdk information, as well as minimal code for reproducing.

[2019-07-15 00:52] Incarnation-p-lee commented on #526
@001arthur
You may need to provide more information, like spring boot version, sdk version and minimal code for reproducing.

[2019-07-15 13:34] 001arthur commented on #526
@Incarnation-p-lee The spring boot version is 2.1.6.RELEASE.
The code is very similar with the another one.

	spring.security.oauth2.client.registration.azure.client-id=XXXXXXXXXX
	spring.security.oauth2.client.registration.azure.client-secret=XXXXXXXXXX
	spring.security.oauth2.client.registration.azure.client-name=Azure
	spring.security.oauth2.client.registration.azure.provider=azure-oauth-provid

[2019-07-15 23:56] Incarnation-p-lee commented on #526
Just confirm, it is something similar to aad backend sample ?

[2019-07-16 01:17] hmallepally opened #690 "How does "redirect_uri" gets its value?"
## Environment
- Spring boot starter:

  - active directory spring boot starter
  - documentdb spring boot starter
  - key vault spring boot starter
  - media services spring boot starter
  - service bus spring boot starter
  - storage spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

 - 1.8
  - 1.7

## Summary
Always the IP address is resolved for redirect_uri instead of domain

[2019-07-18 10:21] erviszyka opened #691 "Redirect to a translated B2C login page based on the user locale/language"
## Environment
- Spring boot starter:
  - azure-active-directory-b2c-spring-boot-starter
- Java version:
  - 1.8

## Summary
I use the `aad-b2c-integration` branch to integrate with Azure AD B2C. When I am redirected to the the B2C login page

[code]

I am not able to display a translated login page to the user since I can't pass the language/locale in the query param. According to the [documentat

[2019-07-18 10:48] Incarnation-p-lee commented on #691
Could you please help to have a try on this (milestone version)[https://search.maven.org/artifact/com.microsoft.azure/azure-active-directory-b2c-spring-boot-starter/2.1.6.M2/jar], required spring boot 2.1.x.

[2019-07-18 13:38] kkonchada commented on #688
Here is my Springboot information:

<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.1.1.RELEASE</version>
		<relativePath />
	</parent>

And these are the dependencies I added for OAuth and security:

<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-security</artifactId>
		</depe

[2019-07-18 15:45] xscript commented on #683
We didn't have customer asking about this in AKS cluster.
My intuitive idea (not validated yet) is that you can implement the auto refresh functionality in your apps.

The key concept for auto refresh is [@RefreshScope](https://cloud.spring.io/spring-cloud-static/Finchley.RELEASE/single/spring-cloud.html#refresh-scope), which is an important feature in Spring Cloud.
That's the reason why we don't

[2019-07-22 00:53] Incarnation-p-lee commented on #690
could you please provide more information about this issue ? like which starter, version, spring boot version, as well as minimal code for reproducing ?

[2019-07-22 20:47] leizhang commented on #417
@sophiaso any plan to merge this patch with master?

[2019-07-25 01:42] xscript opened #694 "Clean up Codacy code review rules"
Let's clean up Codacy code review rules so that we don't have to manually fix them for every PR.

[2019-07-25 02:35] Incarnation-p-lee commented on #694
close this due to codacy will delete the comments automatically once resolved, on behalf of me.

[2019-07-25 02:35] #694 closed

[2019-07-26 18:52] swagulkarni commented on #683
@xscript @Xiaolu

In order to fire a refresh event, do we have to implement a Spring cloud bus and have all our services running in AKS cluster react to that event?

[2019-07-27 02:29] Incarnation-p-lee commented on #683
AFAIK, you may need to leverage spring cloud bus and message middle ware like servicebus/eventhub/kafafa/RabbitMQ. If you would like to refresh all microservice by one event.

[2019-07-27 13:50] xscript commented on #683
@swagulkarni
There are two approaches to fire the refresh event.
- You can publish a refresh event in each instance of your app like [here](https://github.com/microsoft/spring-cloud-azure/blob/master/spring-cloud-azure-appconfiguration-config/src/main/java/com/microsoft/azure/spring/cloud/config/AzureCloudConfigWatch.java#L125-L126) to trigger the context refresh only in the current application.
-

[2019-07-29 19:52] swagulkarni commented on #683
@xscript -

We are thinking of going with the Spring cloud bus approach. The main concern with this approach is that there is no visibility as to whether all the services consumed the event and eventually refreshed the configuration.
The only way here is to wait for 4-5 mins as mentioned [here](https://github.com/microsoft/spring-data-cosmosdb/issues/353#issuecomment-479718917) in step 3 and hope

[2019-07-30 18:19] sandeepjain98 commented on #642
Hi all,
Even I am facing the same issue. any workaround so far.
I am generating a token from msal in the web app and trying to authenticate it in Java(web api) using this lib "azure-active-directory-spring-boot-starter" . the prolbem is the token generated in msal having "https://login.microsoftonline.com" as issuer but the principal class checks for "https://sts.windows.net"

[2019-08-01 08:21] benc-uk commented on #383
Wow this has been open for a year!?

There has to be a way to configure this without needing to read the groups the user is in. When I use Node.js and .NET with Azure AD I need no such permissions.
Requiring these permissions is pretty much a show stopper

How can we tell Spring to ignore user groups entirely?

[2019-08-01 15:07] lhanson commented on #383
@benc-uk @ramya25 I'm still not convinced that requiring admin approval to discover what groups I belong to (or to access anything under `/me`, for that matter) when I can do the same by simply logging into the outlook web app isn't a fundamentally broken API design. That seems to leave the door open to workarounds like "fork the `azure-spring-boot` library to simply scrape outlook.office.com to d

[2019-08-01 15:42] benc-uk commented on #383
The challenge is two fold:
- I've worked with the ADAL/MSAL libraries for authentication with both server side JS (Node), client side JS, Python and .NET - none of them try to access the user group information, they all work perfectly well with just `User.Read`. But the concept of *Roles* seems hard baked into the Spring security framework so someone has decided to populate that using Azure AD gro

[2019-08-06 21:05] spoortijoshi opened #695 "storage spring boot starter"
Environment: storage spring boot starter
OS Type: Windows
Java version: 11

The new azure-storage-spring-boot-starter version i.e 2.1.6 does not support File Storage Service. I wanted to know if it will added soon or is there another way to access it.

Thanks

[2019-08-08 08:38] florianrusch opened #697 "Unresolvable Configurations in IntelliJ"
## Environment
- Spring boot starter:
  - key vault spring boot starter

- OS Type: MacOS
- Java version:

  - 11

## Summary

I've tested this guide to integrate the azure key vault in a spring boot application: https://docs.microsoft.com/en-gb/java/azure/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault?view=azure-java-stable#sign-into-azure

Everything works as espect

[2019-08-12 21:11] arun-cts commented on #688
Exactly the same problem - using the sample code from
https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-active-directory-spring-boot-backend-sample

Any resolution yet?

[2019-08-13 05:06] nikita-clearscale commented on #688
Sorry for long response. Here is effective pom -
[pom.xml.zip](https://github.com/microsoft/azure-spring-boot/files/3495400/pom.xml.zip)

Commit id is `7c5d4794fff8f028a177da71dfe92e5ac90a78f7` (in this repository)

[2019-08-13 14:36] erviszyka commented on #691
Hi,
I used the milestone version and it worked. Had to provide my own version of `AADB2CAuthorizationRequestResolver`  and manually add the `ui_locale` query param in the redirect URL.  I am closing the issue if that's OK.
Thanks

[2019-08-13 14:36] #691 closed

[2019-08-15 18:25] Xoryan opened #700 "Azure B2C sample not working when i change it away from root context"
## Environment
- Spring boot starter:

  - azure-active-directory-b2c-spring-boot-starter

- OS Type: Windows
- Java version:

  - 1.8

## Summary
Was able to get the application working. However, just at the root context. When i try to change the context to /aadb2c/, it fails. It redirects to the login page when i click the sign-in lnk but when i login it just keeps redirecting back to the login

[2019-08-19 19:55] jyotsnaravikumar commented on #621
Hello : I am facing the same error on Java8 stack, is there any update on this?

[2019-08-19 21:23] berndgoetz commented on #643
Is it possible that this fix has not been released yet? I only see 2.1.6 released. By when will there be a 2.1.7 release?

[2019-08-20 02:00] xscript commented on #643
2.1.7 is on the way. Add @jialindai for more details.

[2019-08-20 07:35] neuqlz commented on #691
What is your scenario? From my perspective, you don't need to set **ui_locales** by yourself. B2C will adjust its language according to the browser's language. Even if your browser doesn't have a language set, B2C will use the default language you set in the portal.

Browser-requested language: If no ui_locales parameter was specified, your user flow is translated to the browser-requested language

[2019-08-21 04:20] zaabskr opened #704 "ReadMe.md file is not insync with the code"
## Environment
- Spring boot starter:
  - storage spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary
The ReadMe.md file is not insync with the code. The code contains Upload, download, and list blobs by using the Java Storage SDK V10 version , while the read me contains  Java Storage SDK V7

## Reproduce steps
Java code & ReadMe.md

## Expected Results
Readme.m

[2019-08-28 11:30] favetelinguis opened #705 "Is azure-spring-boot supported in reactive stack"
We are using WebFlux and would like to use azure-active-directory-spring-boot-starter. I cant find any examples on how to set this up with a reactive stack. Could you provide such an example?

[2019-08-28 14:14] saragluna commented on #621
@jyotsnaravikumar Thanks for reaching out to us. Which kind of managed identity are you currently using, system-assigned or user-assigned?
If you're using system-assigned identity, try to add this depedency into your project pom:
[code]
If it's the other type being used, there's no workaround for now and we will create a PR to fix it.

[2019-08-29 05:13] saragluna commented on #704
Thanks for reporting this issue, will keep them insync.

[2019-08-29 05:45] neuqlz commented on #642
now the issuer(https://login.microsoftonline.com) has been added to the verifier. And the change has been merged to the master. You can try it by using the latest SNAPSHOT or 2.1.7 dependency.

[2019-08-29 05:45] #642 closed

[2019-08-29 08:35] neuqlz commented on #700
Hi Xoryan, can you give me your application.yml in your sample? I will try it later to seek the problem.

[2019-08-29 08:41] neuqlz commented on #705
Hi, favetelinguis
We have received your issues, but sorry, spring-boot-boot isn't supported in reactive stack yet. We may add this feature to it later.

[2019-08-29 08:52] #705 closed

[2019-08-29 18:17] lenisha opened #706 "Actuator Environment endpoint is broken with Azure Starters"
## Environment
- Spring boot starter 2.1.6
[code]

- OS Type: Windows/Linux
- Java version:
  - 1.8

## Summary
When Azure AKV starter is included `/actuator/env` endpoint is failing

## Reproduce steps
include starter in web app and access actuator, error appears related to bean [azure.storage.result]
[code]

Example application https://github.com/lenisha/spring-pcf-akv

[2019-08-30 05:37] neuqlz commented on #706
Ok, We have received your issue, we will try it later and give you a response.

[2019-09-02 02:52] saragluna opened #707 "MSI doesn't work with App Service"
## Environment
- Spring boot starter:

  - key vault spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.8

## Summary
MSI failes to work with App Service and server returns HTTP 400 response code

[2019-09-02 08:31] favetelinguis opened #708 "Provide Webflux reference implementation as alternative"
Since Webflux is well supported in spring boot now but not supported by azure starter there should be an up to date reference implementation for integrating with Azure AD. Would it be possible to to make such an example in this repo or where should one turn to get help with this. Im stuck on getting it to work and the current documentation if fragmented and mostly focused on Spring MVC.

[2019-09-03 08:04] neuqlz commented on #708
Hi favetelinguis,

Thanks for your feedback, we will consider it and give you a response later.

[2019-09-03 16:04] Xoryan commented on #700
Files are uploaded.
application.yml - the version where i have tried to change the context root from the base
application-basecontext-working.yml - the working one where the context root is "/"

[context-issue.zip](https://github.com/microsoft/azure-spring-boot/files/3570382/context-issue.zip)

[2019-09-03 16:20] JoelChev commented on #549
Are there any updates on this? I'm trying to use a Java-based daemon to access our AD-secured web API where we have an implicit grant oauth setup (where users authenticate on the front-end of our React.js single page web application) and I'm getting these errors as well.

@blacelle when you were implementing your custom filter here, did you have to copy over a bunch of other files as well? My WebS

[2019-09-03 20:20] blacelle commented on #549
@yesrafarid We wire given bean inside an HttpSecurity manually:
```securityApplied.addFilterBefore(miTrustAADAuthenticationFilter(), UsernamePasswordAuthenticationFilter.class);```

We also had to deactivate the default AADAuthenticationFilterBean with something like the following, as this bean is provided by AADAuthenticationFilterAutoConfiguration:
[code]

-> We deactivate the default aadAuthFil

[2019-09-04 05:27] neuqlz commented on #679
the v2 feature has merged into the master now.

[2019-09-04 05:27] #679 closed

[2019-09-04 14:56] groggi commented on #700
Can confirm, same issue. With default context, i.e. `/`, the `?state=qxuvshEj6qMevGaVqYFrai7oALo0V58gkKuoJMOWexg%3d&code=eyJra[...]uQ` is processed and the user is signed-in. Once I change my config to `server.servlet.context-path=/gateway` the very same `?state=` request fails by not being processed and the user is redirected to `/gateway/login` as he/she is not authenticated

[2019-09-04 15:19] groggi commented on #700
**Log extract with `/gateway` as context path set**
[code]

Note: it reaches the end of the filter chain (first line) without matching any of the filters

**Log extract with `/` as context path set**
[code]

Note: The 7th filter matches and registers the user as authenticated.

Going to investigate further and comment, if I find anything

[2019-09-04 16:27] groggi commented on #700
I _think_ I found a workaround and _maybe_ it helps identifying the root cause? Not even sure this is an issue with the Azure AD B2C Spring Boot library to be honest or if my thinking is correct.

[code]

The idea to set the redirection endpoint's base URI to `/` is based on the following two log entries I've got in the failing condition (context path set to `/gateway`):
[code]
The original reques

[2019-09-04 17:04] j-chao opened #711 "Invalid Authorization Grant Type (client_credentials) for Client Registration with Id: azure"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 12

## Summary
I am getting the following error in the logs when I try to configure the grant-type to client-credentials:

`Invalid Authorization Grant Type (client_credentials) for Client Registration with Id: azure
`

## Reproduce steps

The following configuration

[2019-09-04 19:54] Xoryan commented on #700
I tried the above workaround and it didn't work for me. I will wait for the sample and its readme to be updated with option for changing the context root from "/". below is the changes i made to the WebSecurityConfiguration.java file.

`    @Override
    protected void configure(HttpSecurity http) throws Exception {
        http
                .authorizeRequests()
                	.anyRequest()

[2019-09-05 01:42] eddumelendez opened #712 "Use java-cfenv and create a cloudfoundry starter"
## Environment
- azure-spring-boot

## Summary

Currently, there is a [VCapProcessor.java](https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot/src/main/java/com/microsoft/azure/spring/cloundfoundry/environment/VcapProcessor.java) which allows to read `VCAP_SERVICES` environment variable. There is a lib [java-cfenv](https://github.com/pivotal-cf/java-cfenv) which make the c

[2019-09-05 09:35] rravilla commented on #549
Thanks @ yesrafarid.
I had copied the code from MiTrustAADAuthenticationFilter.java to AADAuthenticationFilter.java
and it worked

[2019-09-05 09:37] rravilla commented on #549
Thanks @ blacelle for the code

[2019-09-05 19:54] jdubois opened #713 "Use the "cloudfoundry" package name"
I notice that the package name in https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot/src/main/java/com/microsoft/azure/spring/cloundfoundry/environment is wrong: it shouldn't be spelt `cloundfoundry` but `cloudfoundry` as in https://www.cloudfoundry.org/

[2019-09-06 03:27] saragluna commented on #621
Will track fixing MSI related maven dependency issue via #707. Close this issue.

[2019-09-06 03:27] #621 closed

[2019-09-06 08:16] #713 closed

[2019-09-06 08:30] snicoll opened #716 "BOM has dependency management for Micrometer"
The `azures-spring-boot-bom` has [dependency management for Micrometer](https://github.com/microsoft/azure-spring-boot/blob/d2cf6c12afae92d88acb1953cbefc082ca1bbbb4/azure-spring-boot-bom/pom.xml#L50). When integrating an infrastructure such as Azure in a Spring Boot application, the project should align and reuse the dependencies managed by Spring Boot rather than having a dedicated opinion.

I di

[2019-09-06 08:52] neuqlz commented on #711
Hi:
Thanks for your feedback, the AAD starter doesn't support this grant type now, your issue is similar to issue #549, you can view that issue's comment for more information.

[2019-09-06 11:55] neuqlz commented on #712
So much thanks for your feedback, yeah sure, we are very glad you to contribute codes for us.

[2019-09-06 11:55] #712 closed

[2019-09-06 12:22] neuqlz commented on #716
Hi,
Thanks for your feedback, to be honest, I don't quite understand your ideas, can you give me more clarification? In this repo, BOM just used to manager all the jars related to Azure. And don't manage micrometer directly.

[2019-09-06 12:30] snicoll commented on #716
Thanks for the quick reply. The link in my original description points to `azure-dependencies-bom` that this bom imports.

`azure-dependencies-bom` has [dependency management from Micrometer](https://search.maven.org/artifact/com.microsoft.azure/azure-dependencies-bom/2.1.0.M6/pom) so this one does as well.

[2019-09-06 17:16] allan-xiazhan commented on #711
Looks you assigned to wrong people. 🙂

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Zhou Liu <notifications@github.com>
Sent: Friday, September 6, 2019 1:52 AM
To: microsoft/azure-spring-boot <azure-spring-boot@noreply.github.com>
Cc: Allan Zhang <xiazhan@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [microsoft/azure-spring-boot] Invalid Aut

[2019-09-09 12:00] csellberg commented on #707
Just for reference.

It seems that you have the exact same error when you try to authenticate against the Azure EventHub following the steps described here

https://github.com/microsoft/spring-cloud-azure/tree/master/spring-cloud-azure-samples/eventhubs-binder-sample

then error received here is

Server returned HTTP response code: 400 for URL: http://172.16.1.2:8081/msi/token?resource=https://man

[2019-09-09 12:25] saragluna commented on #707
@csellberg Thanks for your feedback. Could you please create an issue for it in `spring-cloud-azure` repo and kindly add more details like which version you're using, which kind of managed identity is being used?

[2019-09-10 13:04] saragluna commented on #697
Thanks for reporting this, we'll look into it.

[2019-09-10 13:17] saragluna commented on #695
Thanks for reaching out to us. We'll evaluate this feature.

[2019-09-10 13:25] saragluna commented on #659
The PR #680 of updating to new Graph API's been merged. Close this issue.

[2019-09-10 13:25] #659 closed

[2019-09-10 13:27] saragluna commented on #658
Thanks for reporting this. We'll check it.

[2019-09-10 13:43] saragluna commented on #464
We have released 2.1.7, check it [here](https://search.maven.org/search?q=g:com.microsoft.azure%20AND%20a:azure-active-directory-b2c-spring-boot-starter).

[2019-09-11 04:29] sasmitanair commented on #642
I am facing the same issuer problem. I downloaded 2.1.7 version

 <dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>azure-spring-boot</artifactId>
            <version>2.1.7</version>
</dependency>

But the code within 2.1.7 does not reflect "https://login.microsoftonline.com"

I can see the fix is available at https://github.com/microsoft/azure-spring-boot/bl

[2019-09-11 04:52] saragluna commented on #642
@sasmitanair Thanks for pointing out this. You're right about the 2.1.7 release, the change's not been released with it. So perhaps you could try it with our daily built snapshot.

[2019-09-11 05:19] sasmitanair commented on #642
Would that be 2.1.8-SNAPSHOT in the maven world? Can you please point me to the daily built snapshot version?

[2019-09-13 09:00] snicoll opened #719 "Please confirm compatibility with Spring Boot 2.2"
We're heading towards an RC1 of Spring Boot 2.2 soon, followed [by GA in Q4](https://github.com/spring-projects/spring-boot/milestones). Can you please confirm full compatibility of the starter with Spring Boot 2.2?

As soon as we hear from you, we can enable the starter again on start.spring.io, see https://github.com/spring-io/start.spring.io/issues/266

Thanks!

[2019-09-14 13:52] tjuchniewicz commented on #643
Can we apply this fix in 2.0.x?

[2019-09-16 02:46] saragluna commented on #707
#718 has been merged, close the issue.

[2019-09-16 02:46] #707 closed

[2019-09-16 09:22] neuqlz commented on #643
@tjuchniewicz thanks for contact us, because we need to take efforts on version 2.2.0, so we won't apply this fix in 2.0.x. You can use 2.1.7 or 2.1.8.SNAPSHOT, sorry for the inconvenience to you.

[2019-09-16 11:33] neuqlz commented on #719
Thanks for your feedback. Don't worry about that, the confirmation work is on our schedule. We will get started after Spring Boot 2.2 has been released.

[2019-09-16 11:36] neuqlz commented on #719
Thanks for your feedback. Don't worry about that, the confirmation work is on our schedule. We will get started after Spring Boot 2.2 RC1 has been released.

[2019-09-17 07:28] wmitzel-airplus commented on #549
I'd like to mention that the "stateless auth filter" implemented in PR #512 does not query the graph API and thus is also suitable for authenticating tokens obtained from client-credentials grant. It's already merged, so hopefully, it will be part of the next released version.

[2019-09-17 18:44] Xoryan commented on #700
Hi neuqlz, I am wondering if there is an update on this. Have you had a chance to investigate?

Regards,

[2019-09-18 18:31] Xoryan opened #720 "How to override or customize the login page for azure b2c"
## Environment
- Spring boot starter:
  - azure-active-directory-b2c-spring-boot-starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary
The login page does not match the styling of the web application I am developing. I would like to override the login page with my own page so I can customize what shows on the page and the styles.

## Reproduce steps
Run the azure-active-direc

[2019-09-19 03:04] neuqlz commented on #700
Hi Xoryan, sorry for the late reply, cause I am busy with other works, I haven't investigated it yet. Once I finish my current works, I will get started. Sorry for the inconvenience.

[2019-09-19 03:16] neuqlz commented on #720
Hi Xoryan, you can follow the docs of Spring-Security to customize your login page. I found some references in this link:https://docs.spring.io/spring-security/site/docs/current/guides/html5/form-javaconfig.html. You can also get more information by search it on google.

[2019-09-19 17:13] Xoryan commented on #700
thanks for the update!

[2019-09-19 17:14] Xoryan commented on #720
The documentation you sent, I had tried that yesterday before i submitted the ticket. I just tried it again. Did not have any affect. So I removed from the POM azure-active-directory-b2c-spring-boot-starter. I removed all references to azure-active-directory-b2c-spring-boot-starter in the security file and started the app. This time it redirected to my custom login page just fine. So I conclude th

[2019-09-23 13:58] saragluna commented on #720
@Xoryan
Take the sample project for example, according to the reference link @neuqlz provided, we could set the custom login page in `configure()` function:

[code]

[2019-09-23 18:49] Xoryan commented on #720
It works with oath2Login(). All the tutorials I found had .formLogin. Thanks!

[2019-09-24 14:50] Xoryan commented on #720
I tested this.
* I was able to display a custom logn page.
* I clicked on the link to the login workflow
* Brought me to the microsoft login.
* I logged in and it redirected me back to the login page.
* I cleared cookies and restarted the browser
* I am still stuck in a loop on the login page.

I am thinkiing since I overrid the login page, there are now some other settings i need to specify in th

[2019-09-24 15:09] saragluna commented on #720
Could you please provide more details about your AAD B2C configurations, your application properties, the version of the starter and your Spring Security config?

[2019-09-24 15:14] hberrayana opened #721 "How to reuse the same instance of Key vault client"
## Environment
- Spring boot starter:

  - key vault spring boot starter

- OS Type: All
- Java version:

  - 1.9

## Summary
I'm using pod identity to access Key Vault secrets and I want to reuse the same instance of KeyVaultClient to manage keys and perform encryption. After analyzing the code, it seems that there is no way to do it currently. Should I create the same credentials and client or t

[2019-09-24 16:31] Xoryan commented on #720
I used the azure B2C sample application as my base. This should be reproducable on your end with the sample application and add custom login.

Starter version: 2.1.6.RELEASE

application.yml
azure:
  activedirectory:
    b2c:
      tenant: crscustomersdev
      oidc-enabled: true
      client-id: <removed>
      client-secret: <removed>
      reply-url: http://localhost:8080/ # should be absolute

[2019-09-25 10:41] saragluna commented on #720
Have you also created the view controller, according to the [doc](https://docs.spring.io/spring-security/site/docs/current/guides/html5/form-javaconfig.html#configuring-a-login-view-controller)? And one more thing need to be taken care of is the reply url, make sure it is the same as configured in AAD B2C.

[2019-09-25 14:42] Xoryan commented on #720
The default login page just has a link for the sign in workflow to bring them to the microsoft login page. I had wanted to customize the look of that page to make it match the application. But, i was reading about SSO with OAUTH 2.0 (https://spring.io/guides/tutorials/spring-boot-oauth2/#_social_login_simple) and see that it can be configured to automatically direct to the external login page usin

[2019-09-26 15:52] saragluna commented on #720
I'm not sure whether @EnableOAuth2Sso will work with Azure AD B2C, need to look into it.

[2019-09-27 13:13] chufgard opened #722 "Multi factor authenication requested"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 11

## Summary
We want to use azure-active-directory-spring-boot-starter 2.1.7 to login users to our web application. While the login works for some users, other are caught in a redirection loop that is eventually stopped by the browser they use.

In the backend log I

[2019-09-30 10:36] blacelle opened #726 "AzureADGraphClient does not handle 429"
## Environment
Azure SpringBoot 2.1.7

## Summary
AzureADGraphClient  throws:

[code]

## Reproduce steps
In happens in our production system from time to time. I guess it happens on case of burst activity

## Expected Results
I would expect AzureADGraphClient to wait by default the number of seconds described in `Retry-After` header before retrying at least once the call.

https://docs.microsoft.

[2019-10-03 20:34] dan-alford commented on #464
Are there any plans to add the*.b2clogin.com domains to the list of acceptable token issuers?

[2019-10-04 07:28] snicoll commented on #719
I can see that you've release a milestone 1 on Maven Central. Can you share your plan for the `2.2` line and when the Azure integration is going to be GA?

[2019-10-04 17:02] kushagraThapar commented on #719
Hello @snicoll , the plan is on track. We will GA once spring-boot 2.2 is GA.
Earlier this week, we have been working to catch up with spring-boot 2.2.0.M6, and 2.2.0.RC1.

Next week, we will upgrade to 2.2.0.RC1, and then week after that, once 2.2.0 is out on October 16th, we will GA with 2.2.0

[2019-10-04 17:13] snicoll opened #728 "Remove `repository` declarations from published pom"
Released artifacts have pom metadata with `repository` declaration. When that happens and such artifact is added as a dependency, Maven will use the declared repositories as a source to download all artifacts (not only the one related to the dependency).

This is a major issue for users behind a corporate proxy as they don't want Maven to start hitting a service they don't have access to. I guess

[2019-10-04 17:17] snicoll commented on #719
So, closing this issue then I guess?

[2019-10-04 17:18] kushagraThapar commented on #719
Let's keep this open for now.
I will close this on October 7th will exact dates.

[2019-10-05 01:40] saragluna commented on #728
Thanks for pointing it out and the setting will be removed.

[2019-10-05 03:02] jialindai commented on #719
Hi @snicoll,
The azure-spring-boot 2.2.0.M1 has been tested based on spring boot 2.2.0.M6.
We will verify that this version also works with spring boot 2.2.0.RC1 starting from Oct 8, testing can be completed in 3 days.

Once spring boot 2.2.0.RELEASE is out (Oct 16 according to https://github.com/spring-projects/spring-boot/milestones), we will start release azure-spring-boot 2.2.0. The release ca

[2019-10-05 03:22] kushagraThapar commented on #719
Plan for 2.2.0 has been shared, closing the issue now.

[2019-10-05 03:22] #719 closed

[2019-10-08 13:09] neuqlz commented on #721
Hi:
Thanks for your feedback, We will inspect it and give you a response later.

[2019-10-08 13:09] neuqlz commented on #722
Hi:
Thanks for your feedback, We will inspect it and give you a response later.

[2019-10-08 13:14] chufgard commented on #722
Another thing that might be relevant is, that we log in using federated accounts. When we login to the azure portal using the same accounts, we have to answer two MFA challenges - one for our company and a second for the tenant owner.

[2019-10-09 07:48] neuqlz commented on #726
Thanks for your feedback, we will inspect it and give you a response later.

[2019-10-09 07:52] neuqlz commented on #464
@dan-alford Because I am gonna close this issue, could you open a new issue to propose this feature in it? We will add it to our backlog and discuss the priority in our sprint plan meeting.

[2019-10-09 07:52] #464 closed

[2019-10-09 12:39] jialindai opened #729 "include cosmosdb starter also activate aad starter"
## Environment
- Spring boot starter:
  - active directory spring boot starter
  - cosmosdb spring boot starter

- OS Type: Windows
- Java version:
  - 1.8

## Summary
When include cosmosdb starter, aad starter is also activated. And if ClientRegistrationRepository is not in classpath, following exception is thrown:

java.lang.IllegalStateException: Error processing condition on com.microsoft.azur

[2019-10-09 12:40] jialindai commented on #729
This needs one general design to address this issue.

[2019-10-09 12:43] jialindai opened #730 "@ConditionalOnClass should be used at configuration class level"
In AlwaysEncryptedAutoConfiguration, @ConditionalOnClass is used on bean method level. If the class referenced by the annotation is not in classpath, some exception is thrown. @ConditionalOnClass should be used on configration class level.

[2019-10-09 12:43] jialindai commented on #730
Exception:

java.lang.IllegalStateException: Cannot load configuration class: com.microsoft.azure.spring.autoconfigure.sqlserver.AlwaysEncryptedAutoConfiguration$AlwaysEncryptedDataSourcePropertiesConfiguration
    at org.springframework.context.annotation.ConfigurationClassPostProcessor.enhanceConfigurationClasses(ConfigurationClassPostProcessor.java:413) ~[spring-context-5.1.9.RELEASE.jar:5.1.9.

[2019-10-10 03:01] neuqlz commented on #729
Thanks for your feedback, we will inspect it later.

[2019-10-10 03:02] neuqlz commented on #730
Thanks for your feedback, we will inspect it later.

[2019-10-10 03:18] hunao0221 commented on #688
Same issus with you , Any resolution yet?

[2019-10-10 12:59] CatchSandeepVaid opened #731 "Not considering azure.activedirectory.tenant-id"
I have multiple directories configured in my organization's azure  AD.
I have specified azure.activedirectory.tenant-id in my application.properties file but when i try to access my app, it takes other tenant-id instead of what is configured with azure.activedirectory.tenant-id

[2019-10-12 10:22] PengleiShi opened #732 "can not run azure-active-directory-v2-spring-boot-backend-sample in Azure CN"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.8

## Summary

I try to run this example "azure-active-directory-v2-spring-boot-backend-sample". I have finished the preparation on Azure CN and i configured this five properties bellow:
`azure.activedirectory.environment=cn-v2-graph`
`spring.security.oauth2.client

[2019-10-12 10:32] PengleiShi commented on #732
@neuqlz help please.

[2019-10-12 12:07] PengleiShi commented on #732
#357  sry, i thought Azure CN endpoints had already  been supported,  but it is not.

[2019-10-12 12:07] #732 closed

[2019-10-12 12:28] neuqlz commented on #731
Thanks for your feedback, can you give particular steps to reproduce your problem? I  don't quite catch your meaning.

[2019-10-13 02:02] jialindai commented on #731
@CatchSandeepVaid, could you also provide more details, like:

-  which starter are you using?
-  which version of spring and java?
-  what's your main scenario interact with Azure AD?

[2019-10-13 13:47] ravisgaur opened #734 "Errors while upgrading azure-spring-boot-bom version"
## Environment
- Spring boot starter:
  - key vault spring boot starter

- OS Type: Windows
- Java version:
  - 11

## Summary
Hi Team, I am trying to upgrade 'azure-spring-boot-bom' version from 2.1.6 to 2.2.0.M1
and getting the errors in the below imports as not found:

import org.apache.http.conn.ssl.SSLConnectionSocketFactory;
import org.apache.http.impl.client.CloseableHttpClient;
import org.

[2019-10-14 04:34] neuqlz commented on #730
@LGDoor you referred a wrong issue, your issue should refer to #729

[2019-10-14 05:47] neuqlz commented on #730
#735 this PR has fixed the issue

[2019-10-15 00:22] saragluna commented on #688
@hunao0221 Could you please provide more details, like which starter you are using and which version?

[2019-10-15 07:11] LGDoor commented on #730
Both issues prevent this sample from working.

[2019-10-15 14:25] Ro992 commented on #688
Hi guys, when I added this to my pom.xml, it worked:

<dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>azure-active-directory-spring-boot-starter</artifactId>
            <version>2.2.0.M1</version>
        </dependency>

[2019-10-15 14:46] mcarleio opened #736 "principal.getName() returns the default toString instead of the principals name"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary
When using the `AADAppRoleStatelessAuthenticationFilter` or `AADAuthenticationFilter` and you call principal.getName() you will not get the name, as the default Object.toString() is called, resulting in something like 'com.microsoft.azure.spring.autocon

[2019-10-15 16:17] saragluna commented on #736
Thanks for reaching out.  The name of the UserPrincipal could be retrieved by calling this [method](https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/UserPrincipal.java#L57).  And you may get the UserPrincipal object like [this](https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot-samples/

[2019-10-15 17:30] jialindai opened #737 "metrics starter should not be activated if intrument key is missing"
When instrument key is not provided, the metrics starter should not be activated.

[2019-10-15 17:32] jialindai opened #738 "Application insights library seems to load before application config is complete"
The application insights library seems to load before spring application config is fully completed.

Please verify this with spring boot application and spring cloud application (with one bootstrap context).

[2019-10-15 17:54] mcarleio commented on #736
Yes, that's right, but when you are working with various principals (e.g. users may also sign it with username & password), then you do not want to have to check every time if the principal is a `PreAuthenticatedAuthenticationToken` or something else.
But yeah, there are ways to retrieve the name, so it is not a super high prio bug ;-)

[2019-10-15 23:49] saragluna commented on #736
Yes, you are right about it. This solution is not a proper way to retrieve the name . We will evaluate this and come back to you later.

[2019-10-16 16:29] Ro992 commented on #688
I continued analyzing this issue and noticed that this won't work. The reason is the 'openid'-scope which is added by the Spring framework to the request. Because of this scope Azure responses with a non JWT token. In this token just a JWT-Id-token is included. The regular access token is not a JWT. If you do the same request without the 'openid'-scope Azure will send you the desired JWT token.

C

[2019-10-17 01:12] saragluna commented on #688
Thanks for your analysis @Ro992. So was the problem `Provider ID must be provided for client registration 'azure' ` you mentioned was caused by missing Azure AAD Spring Boot Starter? Another thing is what do you mean by `this won't work`?

[2019-10-17 05:05] Ro992 commented on #688
Yes, the problem was caused by the missing Azure AAD Boot Starter.
I mean even when you add this missing dependency to your project the code will run into an error. That's because of the wrong token you get, as I mentioned above.

[2019-10-17 06:13] saragluna commented on #688
@Ro992  Could you please share the error message you got?

[2019-10-17 06:57] Ro992 commented on #688
`com.microsoft.aad.adal4j.AuthenticationException: {"error_description":"AADSTS240002: Input id_token cannot be used as 'urn:ietf:params:oauth:grant-type:jwt-bearer' grant.\r\nTrace ID: **Trace-ID**\r\nCorrelation ID: **Correlation-I**D\r\nTimestamp: 2019-10-17 05:12:05Z","error":"invalid_request"}
	at com.microsoft.aad.adal4j.AdalTokenRequest.executeOAuthRequestAndProcessResponse(AdalTokenRequest

[2019-10-17 07:46] hunao0221 commented on #688
I don't konw why , but now it's worked.

[2019-10-17 07:55] hunao0221 opened #741 "how to validate access_token on the backend"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows
- Java version:

  - 1.8

## Summary

Hi, I request a access_token and refresh_token from https://login.microsoftonline.com/{tenant}/oauth2/token on the backend which base on SpringBoot and response to frontend.

and then frontend send a request to backend api with access_token, the question is how

[2019-10-17 12:41] snicoll opened #742 "Upgrade to Spring Boot 2.2.0.RELEASE"
Now that Spring Boot 2.2 is GA, we need a release that integrates with the GA as well. Right now, there is a release on Maven Central that relies on artifacts that depend on repo.spring.io/milestone. This arrangement is failing our verification tests so I've disabled Azure in 2.2 again.

We'll restore as soon there is a release with Maven Central only artifacts.

Please make sure to fix #728 befor

[2019-10-17 15:09] saragluna commented on #742
Sure, we're planning to do the 2.2 release in the coming days. #728 will be taken care of and I believe #716 has already been fixed.

[2019-10-18 11:32] rexhinvorpsi opened #743 "Azure service bus subscription client stopped working - Unsatisfied dependency expressed through field 'subscriptionClient';"
## Environment
- Spring boot starter:

  - service bus spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.8

## Summary
The issue started today after running a maven clean. I followed the sample on the azure-spring-boot sample for sevice bus.
I am only autowiring subscription client as that is the only thing i need.
## Reproduce steps

Run the app

## Expected Results
App t

[2019-10-18 12:37] rexhinvorpsi commented on #743
Error related to spring boot version 2.2.0 . Switching to older version fixed the issues

[2019-10-18 12:37] #743 closed

[2019-10-20 14:14] PengleiShi commented on #672
@xukai286 Is it possible to add some configuration to support china cloud endpoint?

[2019-10-22 10:58] neuqlz commented on #741
Thanks for your feedback, we will inspect it later.

[2019-10-22 11:01] neuqlz commented on #672
Yep, we have added this feature to our plan, as soon as we have updates, we will reach you. @PengleiShi

[2019-10-22 11:15] PengleiShi commented on #672
Thanks. I have modified the code of `azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/b2c/AADB2CURL.java` ,  replaced the global endpoints with China endpoints.

[2019-10-24 20:34] jyotsnaravikumar opened #750 "unable to use azure-active-directory-b2c-spring-boot-starter"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
 - macOS

- Java version:
  - 1.8

## Summary

## Reproduce steps
https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc?view=azure-java-stable
Hello I am working on getting a token from aadb2c using above

[2019-10-25 05:29] neuqlz commented on #742
thank you, we have fixed that issues in 2.2.0.

[2019-10-25 05:29] #742 closed

[2019-10-25 05:30] neuqlz commented on #750
Thanks for your feedback, and could you provide the version of the starter you used?

[2019-10-25 06:16] neuqlz commented on #730
this problem has been fixed.

[2019-10-25 06:16] #730 closed

[2019-10-25 09:27] #729 closed

[2019-10-25 13:49] cmplank commented on #736
It has been my experience, from several years of working in Spring apps, that `principal.getName()` returns a unique identifier like username or email address. See: https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#obtaining-information-about-the-current-user

Returning the "name" JWT claim, which is just a user's print name, would be pretty useless in my opinion. I wo

[2019-10-26 00:58] anumalasri commented on #716
MS Team,
The latest version of Azure bom has incompatible micrometer version
https://github.com/microsoft/azure-spring-boot/blob/v2.2.0/azure-spring-boot-parent/pom.xml

compared to
https://github.com/spring-projects/spring-boot/blob/v2.2.0.RELEASE/spring-boot-project/spring-boot-dependencies/pom.xml

Appreciate your quick fix on this ..

Incorrect version is causing below error :

[code]

[2019-10-26 08:29] snicoll commented on #716
Thanks for the nudge but that’s in the parent and the bom has been fixed (but this issue hasn’t been closed). There shouldn’t be any dependency management that is covered by the spring boot bom in there. Please remove micrometer, spring framework and the like please.

[2019-10-27 04:40] LGDoor commented on #729
Thx! I'll wait for the 2.1.8 release.

[2019-10-28 14:51] saragluna commented on #750
@jyotsnaravikumar Any updates on this issue?

[2019-10-29 01:22] anumalasri commented on #716
Thanks @snicoll ..  The issue got fixed with latest version 2.2.0.

[2019-10-29 02:44] neuqlz commented on #538
These problem has been fixed in 2.2.0

[2019-10-29 02:44] #538 closed

[2019-10-29 07:18] snicoll opened #757 "Stop overriding dependency management provided by Spring Boot in azure-spring-boot-parent"
There are a number of dependency management decisions in the parent of this project that looks wrong to me. The purpose of this project is to integrate Azure with Spring Boot. A Spring Boot project is very much likely to use its dependency management and, as a result, versions for a number of dependencies will be set to a well-defined version, regardless of what individual project in the dependenc

[2019-10-29 07:19] snicoll commented on #716
Thanks for the feedback. I still think the current build should be improved. I've created #757

[2019-10-29 09:37] saragluna commented on #757
Thanks for your update and the mentioned will be taken care of.

[2019-10-30 11:22] wimdeblauwe opened #758 "Missing attribute 'name' in attributes with azure-active-directory-b2c-spring-boot-starter"
## Environment
- Spring boot starter:`azure-active-directory-b2c-spring-boot-starter:2.2.0`
- OS Type: MacOS
- Java version: 11

## Summary
I tried the tutorial at https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc?view=azure-java-stable#feedback I am able to create an account, but the actual login is not working

[2019-10-30 12:09] wimdeblauwe commented on #758
I also tried using Spring Boot 2.1.9 with 2.1.7 of the starter, but I get the same exception as with Spring Boot 2.2.0 with 2.2.0 of the starter.

[2019-10-31 08:27] wimdeblauwe commented on #758
That is exactly the sample I have used. I created a new b2c directory for testing using only the built-in attributes/claims. It was after looking through the code of the starter that you now also lined that I saw that a `name` claim is needed, but that is not available by default when I create a b2c directory with email signup only (I have not tested if adding other socials logins would change tha

[2019-10-31 09:09] saragluna commented on #758
Could you shed some light on how to reproduce this?

[2019-10-31 11:59] wimdeblauwe commented on #758
I just followed the sample tutorial and tried to log on with a user I created through the sign up or sign in user flow.

[2019-10-31 12:09] olialth opened #759 "Possibility to specify multiple KeyVaults to connect to and mount all secrets as config props."
## Environment
- Spring boot starter:
  - key vault spring boot starter

- OS Type: Linux
- Java version:
  - 1.8

## Summary
Possibility to specify multiple KeyVaults to connect to and mount all secrets as config props.

[On behalf of Daimler TSS GmbH](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)

[2019-10-31 13:16] saragluna commented on #758
That's weird cause I could not reproduce it with my  AAD B2C tenant.

[2019-10-31 15:11] olialth commented on #759
Is this a feature that makes sense? If yes, I could also implement an addition to the lib to provide that one...

[2019-11-04 14:03] neuqlz commented on #721
Hi @hberrayana,
Sorry for the late response, I inspect the code, there is no way to get KeyVaultClient indeed because it has not been put into spring context. There is a workaround that you can create it by yourself. We may consider adding it to the spring context in the next release, sorry for the inconvenience.

[2019-11-05 04:29] saragluna commented on #758
Any update on this issue?

[2019-11-05 04:30] saragluna commented on #750
Close issue.

[2019-11-05 04:30] #750 closed

[2019-11-05 04:35] saragluna commented on #728
`repository` has been removed in 2.2.0 so close this issue.

[2019-11-05 04:35] #728 closed

[2019-11-05 04:36] saragluna commented on #658
azure-client-runtime has been upgraded in the new release so close this issue.

[2019-11-05 04:36] #658 closed

[2019-11-05 04:49] neuqlz commented on #759
Hi @olialth
Sorry for the late reply, what you mentioned is a new feature indeed, we don't support this currently. And also, we very welcome you contribute to us, but we need some days to investigate the reasonability of the feature. We will give you a response in 1~2 days.

[2019-11-05 15:51] hberrayana commented on #721
Thanks @neuqlz I already did that but it was a duplicated code.
I'll be waiting for the fix from your side.

[2019-11-06 03:51] neuqlz commented on #721
Hi @hberrayana,
sure, if there are any updates, we will remind you.

[2019-11-06 08:53] neuqlz commented on #759
Hi @olialth
After some discussion, we think that your proposal is reasonable, and very welcome you to contribute for us. But there are two points you need to pay attention to:
1. the usability of the keyvault-starter: make sure the starter is easy to use which means the configuration for keyvault-starter must be easy.
2. backward compatibility: make sure the new library is compatible with the old

[2019-11-06 08:56] neuqlz commented on #759
Hi @olialth
After some discussion, we think that your proposal is reasonable, and very welcome you to contribute for us. But there are two points you need to pay attention to:

the usability of the keyvault-starter: make sure the starter is easy to use which means the configuration for keyvault-starter must be easy.
backward compatibility: make sure the new library is compatible with the old prope

[2019-11-06 08:58] neuqlz commented on #759
Hi @olialth
After some discussion, we think that your proposal is reasonable, and very welcome you to contribute for us. But there are two points you need to pay attention to:

the usability of the keyvault-starter: make sure the starter is easy to use which means the configuration for keyvault-starter must be easy.
backward compatibility: make sure the new library is compatible with the old prope

[2019-11-06 11:48] neuqlz commented on #759
Hi @olialth
After some discussion, we think that your proposal is reasonable, and we very welcome you to contribute for us. But there are two points you need to pay attention to:
1.  usability of the keyvault-starter: make sure the starter is easy to use which means the configuration for keyvault-starter must be easy.
2. backward compatibility: make sure the new library is compatible with the old

[2019-11-06 12:03] neuqlz commented on #759
Hi @olialth
After some discussion, we think that your proposal is reasonable, and we very welcome you to contribute for us. But there are two points you need to pay attention to:
1.  usability of the keyvault-starter: make sure the starter is easy to use which means the configuration for keyvault-starter must be easy.
2. backward compatibility: make sure the new library is compatible with the old

[2019-11-06 13:57] wimdeblauwe commented on #676
Just ran into the same problem with version 2.2.0, seems it is not fixed yet.

[2019-11-06 15:39] wimdeblauwe commented on #758
I just redid everything and now it works. Very strange. I now indeed see the `name` claim present, which was not the case before. Maybe there was an update on Azure that fixed it?

[2019-11-07 08:18] zoosm3 opened #762 "Unable to use Azurite as an Blob Storage emulator using storage spring boot starter:2.2.0"
## Environment
- Spring boot starter:
  - storage spring boot starter:2.2.0

- OS Type: Windows 10
- Java version:
  - 11
- I'm using Azurite and Azure Storage Emulator for local development

## Summary
Unable to use the Blob Storage emulators with this SDK

## Reproduce steps
1. Use the latest Azurite or Azure Storage Emulator

2. Configure application.properties based on [Azurete's Storage Accou

[2019-11-07 12:54] FireDrunk commented on #476
I'm having the same issue with the OpenID 2.0 endpoints. We have a loadbalancer in front of our application which does the actual redirection / signin of the user. Afterwards is passes the id_token of the user.

I've configured this in my application.yml:
[code]
My Securityconfig
[code]

I'm still getting the JWT Signature failures.

[2019-11-07 13:06] neuqlz commented on #762
Hi @zoosm3,
Thanks for your feedback, as you said, the SDK doesn't support local emulator yet, because the endpoint is hard-coded in the SDK. You can have a try in Azure as your workaround. We may consider adding this feature in our next release. Very very sorry for the inconvenience.

[2019-11-07 13:16] neuqlz commented on #672
Hi @PengleiShi,
That is a workaround, sorry for the inconvenience.

[2019-11-08 03:57] TwinkleTShah opened #763 "Correct approach for maintaining microservice specific secrets?"
## Environment
- Spring boot starter:
   - key vault spring boot starter
- OS Type: Windows/Linux/MacOS
    - Linux
- Java version:
  - 1.8

## Summary
We are planning to use Azure key vault to maintain DB passwords used by microservices. As per standards, the property name for DB password is "spring.datasource.password".
We can store only one value with key corresponding to "spring.datasource.pas

[2019-11-08 07:13] FireDrunk commented on #476
@neulqlz, ping me if you need any help debugging this. I'll gladly help, this is currently blocking our deployment to Azure.

[2019-11-08 22:09] ketterp commented on #476
you have to add the need API permission to your Azure AD (AAD) app registration.

MSFT docs: https://docs.microsoft.com/en-us/graph/notifications-integration-app-registration#api-permissions
explanation: https://medium.com/@abhinavsonkar/making-azure-ad-oidc-compliant-5734b70c43ff

e.g. if you wan't to access the user profile you have to add Microsoft Graph > delegated > User.read

[2019-11-10 14:11] zoladkow opened #765 "ServiceBus starter IllegalArgumentException refers to wrong property"
## Environment
- Spring boot starter:
  - service bus spring boot starter

- OS Type: Windows
- Java version:
  - 1.8

## Summary
Switching from plain azure-servicebus to azure-servicebus-jms-spring-boot-starter results in following autoconfiguration exception:
[code]

## Reproduce steps
Have a working azure-servicebus project, add azure-servicebus-jms-spring-boot-starter with a new `@JmsListener`

[2019-11-11 04:44] #765 closed

[2019-11-11 05:26] saragluna commented on #758
Glad to hear that you've made it work. I'm not sure whether there was an update on Azure but it seems like it's good now. Close this issue.

[2019-11-11 05:26] #758 closed

[2019-11-11 05:28] saragluna commented on #765
Thanks for your contribution.

[2019-11-11 08:40] jialindai opened #767 "Handle AdalClaimsChallengeException"
Handle AdalClaimsChallengeException and redirect the user to the authorization endpoint with the claims:

See: https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/dev/src/samples/web-app-samples-for-adal4j/src/main/java/com/microsoft/aad/adal4jsample/AadController.java#L208

Some investigation is needed for this proposed solution:
- Confirm the situations the problem happen
- En

[2019-11-11 13:39] saragluna commented on #763
Thanks for reporting this. Since a single vault instance could not have different values for the same configuration key, it may be better to host the key in different vaults.

[2019-11-12 05:37] TwinkleTShah commented on #763
Thanks for reply @saragluna .
Do you know if it is also a recommended approach from Micorsoft Azure perspective. There might be 100s of microservices and maintaining those many vaults might be difficult.
Are you aware if there are any plans to have better mechanism to handle such use cases?
Like I know with Hashicorp Vault, there is a support for hierarchy where the service name could be part of h

[2019-11-12 05:46] chufgard commented on #767
This issue is based on this report: https://github.com/microsoft/azure-spring-boot/issues/722

[2019-11-12 15:28] saragluna commented on #763
Based on your description I think [Azure App Configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview) could help.

[2019-11-13 03:33] neuqlz commented on #722
Hi @chufgard,
sorry for the late response, now I am going to investigate your issue now. Could you provide more details? For example, your WebSecurityConfigurerAdapter config, your properties(except sensitive data). And if you can provide a sample project, that will be better.

[2019-11-13 03:36] neuqlz commented on #722
@chufgard  I have tried some samples, and I can't reproduce your issue.

[2019-11-13 04:36] TwinkleTShah commented on #763
Hi @saragluna,
As per my understanding Azure App Configuration is to manage application configurations. But it would not be correct choice for managing secrets like database passwords.

[2019-11-13 05:56] saragluna commented on #763
Yes, this could one possible solution but for now, the key-vault-starter does not support it.

[2019-11-13 06:59] chufgard commented on #722
Sample project will be difficult - at least since the whole stuff works like a charm if I deploy it on my local machine. Only running in azure it breaks.

We are assuming that the problem might be caused by a federated AD scenario plus a conditional access policy (access only from company IPs) bound to the ad where we are federated into.

[2019-11-13 10:47] neuqlz commented on #722
yep, I got your point. But there still need some investigate to prove it and find a solution. Could you provide a sample project, I will try it by running it in Azure. BTW: how do you run your application in Azure? By app service or VM?

[2019-11-13 11:19] chufgard commented on #722
The application is deployed in a kubernetes cluster.

[2019-11-13 13:24] FireDrunk commented on #476
We have that in place. And to my understanding that has nothing to do with the signature validation.
To me it looked like a failure in the Algorithm detection. When manually verifying the token on jwt.ms I've found that switching the alg to HMAC256 sometimes tells me the signature is valid.
But this might be a debugging error on my end.

[2019-11-13 14:02] mores commented on #476
I believe the root of the problem is that "Azure is adding a ‘nonce’ to the header - The JWS is signed with a SHA2 of the nonce, the ‘nonce’ is replaced before the JWS is serialized." Note: this ‘nonce’ is different than the ‘nonce’ in the JWT Payload.

IMO -  Azure should have called their ‘nonce’ anything other than just 'nonce'.

See: https://github.com/AzureAD/azure-activedirectory-identitymod

[2019-11-14 02:40] neuqlz commented on #722
okay, I got it. And I still need your properties and WebSecurityConfigurerAdapter or some minimal sample codes, not a sample project. So I can reproduce your issue, otherwise, it is difficult for me to reproduce it. Could you provide these to ours?

[2019-11-15 09:28] boukewoudstra commented on #388
I have encountered the same problem. For your application you typically only need a few roles, however a user might be member of a lot of roles in active directory. In my case, a user is member of 179 group memberships. The role detection fails when the required membership is after the first 100 groups.

The workaround updating the setting fixes the issue:
azure.service.endpoints.global.aadMembers

[2019-11-19 09:36] zoosm3 commented on #762
@neuqlz Hello, thanks for your support. We could upload files with a real Azure Blob Storage. Looking forward to the future update.

[2019-11-22 07:28] mhunter77 opened #784 "Why LIST access is required along with GET access to read secret from key-vault when using Azure Spring Boot"
## Environment
- Spring boot starter:  - key vault spring boot starter
 - OS Type: MacOS
- Java version:  - 1.8

## Summary
**QUESTION – RELATING TO ACCESSING THE SECRET FROM KEY VAULT USING SPRING_BOOT STARTER DEPENDENCY**
--------------------------------------------------
Why LIST access is required along with GET access to read secret from key-vault?

The customer is using the document https://

[2019-11-25 03:15] saragluna commented on #784
Thanks for reaching out to us. We'll investigate it.

[2019-11-28 11:11] ghost opened #785 "Spring boot app won't start without instrumentation key even when metrics publishing is disabled"
## Environment
- Spring boot starter:

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary

When disabling the publishing of metrics the instrumentation-key becomes irrelevant and shouldn't cause the app not to start when it's missing. As it stands you have to provide a dummy instrumentation key when you for example, are working on a development version of an app and don't want to p

[2019-11-28 13:11] saragluna commented on #785
Thanks for reaching out. It seems like the property `azure.application-insights.instrumentation-key` is introduced by `applicationinsights-spring-boot-starter`. So perhaps [this](https://github.com/microsoft/ApplicationInsights-Java/tree/master/azure-application-insights-spring-boot-starter) is the right place to report this issue.

One more thing as I find in their [doc](https://github.com/micros

[2019-12-03 02:51] neuqlz commented on #722
hi @chufgard, I got a question, where did you get that error log? In your application backend log? Could you give more logs about the error? Because we don't use aad SDK in AzureActiveDirectorySpringBootStarter, so it's strange that you get that log in the backend.

[2019-12-03 04:57] neuqlz commented on #722
Hi @chufgard, could you provide more logs?

[2019-12-03 05:59] neuqlz commented on #383
If you encounter this problem, it must be a permission problem, please check the permission granted configuration in AAD -> App Registrations ->  your registration -> API Permissions. Basically Microsoft Graph: Directory.AccessAsUser.All and User.Read are needed.

[2019-12-03 05:59] #383 closed

[2019-12-03 06:06] mahoekst commented on #383
Directory.AccessAsUser.All  is a permission which needs admin consent. What is the reason for this permission? This is typically to much for an application to have.

[2019-12-04 02:27] saragluna commented on #785
Any update on this issue?

[2019-12-04 02:33] saragluna commented on #784
The **LIST** operation is needed when no secrets are specified in the application.properties, otherwise the application will have no idea which secrets to load except listing all of them. So the problem could be solved by adding `azure.keyvault.secret.keys=your-key1, your-key2, your-key3` to the application.properties.

But since version 2.1.7 keyvault-starter does not support this feature, so if

[2019-12-04 15:06] maxstreifeneder opened #790 "Microsoft Graph - name attribute/claim missing in ID Token"
## Environment
- Spring boot starter: active directory spring boot starter
- OS Type: MacOS
- Java version:  1.9

## Summary
I wanted to connect and authorize the user of my spring boot application against Microsoft Graph, but seems like Spring Security expects a name attribute/claim in the ID Token, which I don't get. Everything else seems to be fine so far. (been debugging a lot of errors before

[2019-12-04 17:32] Rakatashii commented on #621
any updates for solution?

[2019-12-04 17:36] Rakatashii commented on #707
any updates on solution?

[2019-12-05 02:57] neuqlz commented on #790
Thanks for your feedback, we will inspect it and give you a response later.

[2019-12-09 10:47] carcaryn opened #792 "Message converter and JMS message acknowledge"
Hi,
I ask you a question about spring azure service bus and jms configuration.
What is the best way to configure azure service bus and spring jms to apply a JSON conversion for messages? I've tried to configure a message converter and with this approch, I've overridden the default JmsTemplate bean config where I've put JacksonConverter in JmsTemplate's dependencies: in this way, I've been able to

[2019-12-09 14:41] saragluna commented on #707
@Rakatashii this issue has been solved. Now MSI works with App Service.

[2019-12-09 14:44] saragluna commented on #621
Hi @Rakatashii, this problem's been fixed. You could follow the doc [here](https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-starters/azure-keyvault-secrets-spring-boot-starter) to use MSI.

[2019-12-10 02:30] anumalasri opened #794 "client-runtime dependency version mismatch"
## Environment
- Spring boot starter:

   - key vault spring boot starter
  - storage spring boot starter

- OS Type:  Linux - Java version:

  - 1.8

## Summary

When we use both Key Valut and Storage dependencies are used in an Application,  two versions of  _client-runtime_ dependency has resolved..  Due to multiple versions and jars,  Application startup failed during Key Vault interaction.

#

[2019-12-10 08:02] saragluna commented on #790
@maxstreifeneder Sorry for the inconvenience and thanks for your analysis. From my point of view, the application failed, as you mentioned, because of lacking the `name` claim in the ID token.
But since I can't reproduce this issue on my tenant (the ID token having `name` claim), could you please offer more details about your tenant?

[2019-12-10 08:45] saragluna commented on #794
Thanks for reporting this issue and sorry for the inconvenience. We'll investigate this and try to fix it. Meanwhile, have you tried to specify the okhttp3 version explicitly in your project to circumvent this error temporarily?

[2019-12-10 10:20] maxstreifeneder commented on #790
@saragluna what exactly are you looking for?
![image](https://user-images.githubusercontent.com/36535298/70521191-13f60000-1b3f-11ea-8e9e-94d69b62bf6d.png)

[2019-12-10 15:50] saragluna commented on #790
The reason that I asked for more details about your AAD tenant is that it's possible the difference of configurations of our AAD tenants makes the demo application failed in your case. And I want to figure out what is the difference.

[2019-12-10 15:54] maxstreifeneder commented on #790
yep, that was clear. Sorry for that miss-understanding :-) probably you need to guide me, which piece of information/file/metadata you need. I have no idea about Azure AD tenants particularly.

[2019-12-10 16:15] saragluna commented on #794
Hi, @anumalasri. After digging a little deeper I find that this problem is caused by wrong `okhttp` package in the classpath, and `com.microsoft.rest.v2:client-runtime` has no dependency on `okhttp`. So could you please check the versions of `okhttp` in your project? And one more thing I have to check with you is which version of azure-spring-boot do you use? Since the bom version is 2.1.7 while t

[2019-12-10 16:26] saragluna commented on #790
Sure. Did you follow any document to create the AAD? If any could you please share with me so I can find a clue?

[2019-12-10 16:57] anumalasri commented on #794
Hi @saragluna .. As per the Stacktrace,  `client-rutnime` has transitive dependency on `retrofit` and `okhttp` jars.
Some reason, okhttp3 jar version got messedup and below versions got resolved in my project..

[code]

I am working to find out how these version got resolved and how to override these versions

[2019-12-11 10:36] maxstreifeneder commented on #790
Hi,

for tenant creation and application registration I used:

https://docs.microsoft.com/de-de/azure/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory

(incl. this fix: https://github.com/Microsoft/azure-spring-boot/issues/288#issuecomment-501207825)

Regards,
Max

[2019-12-15 15:07] rdonasco opened #796 "Do we have samples on how Securing API using B2C and test it using postman?"
Hi,

I've been trying to look for samples that secures API layers using B2C. The main purpose is for mobile app using B2C authentication to access API.

I tried to adjust the azure-active-directory-spring-boot-sample to use b2c properties

Here's my properties file content.
[code]

I've been running around in circles now, and I'm hoping someone has done it already and share some tips how to do it.

[2019-12-16 04:42] saragluna commented on #794
Any update on this issue?

[2019-12-16 07:15] saragluna commented on #790
Providing `profile` scope to the `spring.security.oauth2.client.registration.azure.sope` will solve this problem according to this [doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens). We will keep investigating it to see if there's a behavior change in Azure Active Directory. If yes we'll change the default setting in our code.

[2019-12-16 12:37] 2020-abhilash commented on #757
I spend a couple of days struggling with my spring boot project just to find out that the application insights starter project is messing with my own versions defined in the projects. Fixing this issue will immensely help many and save a lot of time.

[2019-12-16 22:28] anumalasri commented on #794
@saragluna  ..

I have to override these dependencies and vesions, inorder to make my applicaton work.

[code]

I could not able to figure out why wrong version was resolved. I am suspecting combination of all 3 boms ..

[code]

[2019-12-16 22:48] anumalasri commented on #794
I tried to resolve versions with difference bom versions..  All of them resulted in version difference among http3 jars.. Here are the details and hope this helps you further.

[code]

BTW.. I am using Gradle 6.0.1 along with Spring Dependency management..

I have attached `build.gradle` here
https://gist.github.com/anumalasri/9a1427a0565c68cc0d747c894620ca59

[2019-12-17 00:39] snicoll commented on #757
@saragluna do you have an estimate ETA for this fix please?

[2019-12-17 10:49] saragluna commented on #757
We are planning a release this week, including 2.1.x and 2.2.x, and this fix will be included.

[2019-12-17 11:01] saragluna commented on #794
Thanks for your thorough analysis. The problem could be introduced by incompatible versions between Spring Boot, Spring Cloud,  and Azure Spring Boot.
Spring Cloud Greenwich builds on top of Spring Boot 2.1.x and Horton of 2.2.x. Azure Spring Boot's major version follows Spring Boot, 2.1.x aligns with Spring Boot 2.1.x, and so does 2.2.x. So the second combination is expected to encounter mismatch

[2019-12-19 05:42] neuqlz commented on #790
hi @maxstreifeneder,
why you change these endpoints:
`
spring.security.oauth2.client.provider.azure.authorization-uri=https://login.microsoftonline.com/common/oauth2/authorize
spring.security.oauth2.client.provider.azure.token-uri=https://login.microsoftonline.com/common/oauth2/token
spring.security.oauth2.client.provider.azure.user-info-uri=https://login.microsoftonline.com/common/openid/userinfo

[2019-12-19 05:43] neuqlz commented on #790
here is the doc: https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison

[2019-12-19 06:49] #794 closed

[2019-12-19 14:09] anumalasri commented on #794
@saragluna

I believe these are correct version as per Spring Initializer..  If not, please correct bom versions ..
[code]
However, above BOM combination also resulting different versions among http3 dependencies.

com.squareup.okhttp3:okhttp:3.14.4 -> _3.12.0_
com.squareup.okhttp3:logging-interceptor:3.12.2 -> _3.12.0_
com.squareup.okhttp3:okhttp-urlconnection:3.12.2 -> **3.14.4**

Do you think a

[2019-12-19 17:09] truyenbka opened #798 "Save "long" type, it automatically convert to "string" type"
## Environment
- spring-boot-starter-parent:2.1.3.RELEASE
- spring-data-gremlin-boot-starter

- OS Type:MacOS
- Java version:
  - 1.8

## Summary
Maven POM file:
https://mvnrepository.com/artifact/com.microsoft.azure/spring-data-gremlin-boot-starter/2.2.1
[code]

## Reproduce steps

- I want to store unix time into cosmos DB. So the entity has a **long** type variable:
_private long createdDate;_

[2019-12-19 18:10] srempfer commented on #303
Currently I working on a project that maybe fits for your scenario: https://github.com/srempfer/spring-cloud-config-azure-keyvault

[2019-12-20 03:12] neuqlz commented on #798
@truyenbka Good suggestion, but in the short term, we will not consider adding this feature to spring-data-gremlin, and PR is welcome

[2019-12-20 13:47] olavgg opened #799 "Azure Key vault secret names are lowercased, prevents configuring default datasource with the Grails framework"
## Environment
- Grails 4.0.1 (Based on Spring Boot 2.1)

## Summary
This line https://github.com/microsoft/azure-spring-boot/blob/646a458325bd564fd0a1f33d617c4df55662d008/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultOperation.java#L159 will lowercase the secret-name `dataSource-url` and map it to `datasource.url`

Grails however read the configuration property as `d

[2019-12-23 21:22] anumalasri commented on #757
Are we going to address this issue #794, as part of release ?

[2019-12-24 01:22] bjconlan commented on #486
Just updating that this is still pending (with regards to autoconfiguration)

[2019-12-24 01:43] jialindai opened #800 "azure.keyvault.secret.keys cannot have white space"
## Environment
- Spring boot starter:
  - key vault spring boot starter (version 2.1.7, 2.2.0, 2.2.1)

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary
If there is whitespace in keys, there is error.

## Expected Results
Data binding API should be used so the behavior is aligned with Spring framework.

[2019-12-24 01:43] xscript commented on #486
@jialindai the 2.0.0 SDK is already available at [here](https://github.com/Azure/azure-service-bus-java/releases/tag/2.0.0). Need to revisit this work item.

[2019-12-24 09:50] saragluna commented on #799
Thanks for bringing this up. The reason why secret names are lowercased is that object name is case insensitive in Key Vault.

[2019-12-24 09:54] saragluna commented on #796
Sorry for the late response. Have you tried following our b2c sample, or is it the scenario you want to use?

[2019-12-24 09:57] saragluna commented on #757
Due to our schedule changes there will be some delay of our next release. Sorry for the inconvenience.

[2019-12-24 10:18] saragluna commented on #794
Sorry for the late response. I am not sure whether there will be a compatibility issue in your runtime,  since there is indeed conflict between dependency versions, however it depends on whether that will be called. Here you could check okhttp’s changelog https://square.github.io/okhttp/changelog_3x/.

Since 3.12.2 is introduced by azure-client-runtime so we will reach out to them to see what we c

[2019-12-27 18:33] HEVARY opened #801 "I am working on a support request, where my customer is experincing TimeOut issues."
## Environment
- Spring boot starter:

  - active directory spring boot starter
  - cosmosdb spring boot starter
  - key vault spring boot starter
  - media services spring boot starter
  - service bus spring boot starter
  - storage spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.9
  - 1.8
  - 1.7

## Summary

## Reproduce steps

## Expected Results

## Actual Results

[2019-12-27 19:49] sandboxbohemian opened #802 "Couldn't retrieve remote JWK set: connect/read timed out"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Linux
- Java version: 1.8

## Summary
We have a Spring Boot app that uses Spring Security with the Azure AD starter. We have observed sporadic connect and read timeouts while the library tries to get a response from the JWKS URL (https://login.microsoftonline.com/common/discovery/keys).

## Reproduce steps
W

[2019-12-27 21:37] HEVARY commented on #801
Please close this

[2019-12-27 21:37] #801 closed

[2019-12-27 21:37] HEVARY commented on #801
Created new ticket

[2019-12-30 07:07] neuqlz commented on #802
Thanks for your feedback, we will inspect it, then give you a response later. Please stay tuned.

[2020-01-06 09:55] neuqlz commented on #802
The JWK URI is used to verify any JSON Web Token issued by the authorization server, what we have done in SDK is just integrates the verified process in azure-spring-boot.
When you encounter the time-out issue,  the only thing you can do in codes is that adjust the time-out parameter. Or you can investigate your network environment, maybe something cause that, because as you said, one of your APP

[2020-01-06 09:56] neuqlz commented on #802
Hi @sandboxbohemian
The JWK URI is used to verify any JSON Web Token issued by the authorization server, what we have done in SDK is just integrates the verified process in azure-spring-boot.
When you encounter the time-out issue, the only thing you can do in codes is that adjust the time-out parameter. Or you can investigate your network environment, maybe something cause that, because as you sai

[2020-01-06 12:19] CatchSandeepVaid opened #803 "OUATH - Authorization code - Invalid Access token"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows
- Java version:
  - 1.8

## Summary
I have implemented OAUTH (grant type = authorization code).
Authentication is happening and i am getting the authorization code. Based on this code, i want  to get access token (& refresh token) so that i can call Microsoft graph api to get multiple users informat

[2020-01-06 20:05] sandboxbohemian commented on #802
@neuqlz Thanks for looking into this. Although the information you provided is correct, it does not really provide enough context to me as to how this issue can be mediated.

In the code, we have increased the timeouts to 3000 ms for the `ResourceRetriever` used in the `RemoteJWKSet`. And since then the number of errors have reduced significantly, there are still requests that take over 3000 ms to

[2020-01-07 05:24] saragluna commented on #803
Thanks for reaching out. Could you please provide more information, such as which version do you use, how do you configure the web security? And what do you mean by `implemented OAUTH`?

[2020-01-07 06:46] CatchSandeepVaid commented on #803
@saragluna - I am using the following versions:
a) Spring Boot - 2.1.9.RELEASE
b) azure-active-directory-spring-boot-starter - 2.2.1 (this gives me warning overriding managed version 2.1.7 for azure-active-directory-spring-boot-starter)

I have configured web security as:
[code]
In application.properties, i have specified the following properties:
[code]

By implemented OAUTH, i mean, i am using o

[2020-01-07 12:02] CatchSandeepVaid commented on #803
The above microsoft link says "Resource parameter is required in one of either the authorization or token requests". I added this param in the authorization request like :
`spring.security.oauth2.client.provider.azure-oauth-provider.authorization-uri=https://login.microsoftonline.com/${azure.activedirectory.tenant-id}/oauth2/authorize?resource=https://graph.microsoft.com`

and now i am getting a v

[2020-01-07 16:18] gatisnolv commented on #758
I was just running into the same issue adding 'Display Name' to both the User Attributes and Application Claims fixed this, and the value of this is returned in the 'name' attribute.

[2020-01-08 02:11] HEVARY commented on #802
@neuqlz - Thank you for working on this, as per our discussion over teams -- do we have any update on the fix or plan of action ?

I really appreciate if we speed this process.

Thank you,
Hemanth

[2020-01-08 05:19] saragluna commented on #790
Close this issue for now since no updates.

[2020-01-08 05:19] #790 closed

[2020-01-08 06:19] saragluna commented on #803
Thanks for your updating. There are a few configurations that look not perfect for me.

- The Azure Spring Boot version does not match the one of Spring Boot, 2.1.x of Spring Boot should work with Azure Spring Boot 2.1.x and the same for 2.2.x.
- The Azure Spring Boot AAD starter has included the default [configurations](https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot/

[2020-01-08 12:26] CatchSandeepVaid commented on #803
Thanks for your reply.

1.  `resource` - I think its required. The link says `"It may also be an external resource like https://graph.microsoft.com. **This is required in one of either the authorization or token requests**"`. Moreover if we dont pass this parameter, we dont get valid access token.

2. Regarding refreshing access token - It seems i have to write some code. I wrote the code and was

[2020-01-09 10:56] neuqlz commented on #802
Hi @sandboxbohemian
I have investigated what you mentioned. You are right, we can add cache to mitigate the time-out issue. But you may still encounter time-out problems from time to time even the cache is added. So I suggest you can ask the AAD team for support to solve the problem from the root perspective.
And also the is a point you need to notice if no cache instance is put into the construct

[2020-01-09 10:57] neuqlz commented on #802
Hi @sandboxbohemian
I have investigated what you mentioned. You are right, we can add cache to mitigate the time-out issue. But you may still encounter time-out problems from time to time even the cache is added. So I suggest you can ask the AAD team for support to solve the problem from the root perspective.
And also there is a point you need to notice if no cache instance is put into the constru

[2020-01-09 21:37] HEVARY commented on #802
@neuqlz - Let me check with the team that handles this endpoint.

[2020-01-10 16:21] moltodonbaldi commented on #700
I think if you use the default configuration where the reply-url is "/webContext/home" then in order to apply groggi's solution your code should be changed to:

.oauth2Login() .redirectionEndpoint() .baseUri(**"/home"**)

[2020-01-11 18:00] ppartarr commented on #688
I also solved this issue by adding the following dependency to my pom.xml:
[code]

Thanks @Ro992

[2020-01-13 23:15] HEVARY commented on #802
@neuqlz - Can you give an previous instances, where you have noticed a timeout from AAD even after the cache is added.
Do we have any ETA on adding the cache ?

[2020-01-14 08:07] neuqlz commented on #802
@HEVARY
The current codes will use the default cache class even if no cache class is sent to RemoteJWKSet. That means the application customer using now has a cache, but the timeout problem still occurs.
As for the second question, @sandboxbohemian has created a PR to add specific cache, but it still has some codes to advance, I have given some comments in that PR. Once the PR is merged into the m

[2020-01-14 18:38] Xoryan commented on #700
I just tested and It is working. Thanks for the help.

[2020-01-14 18:38] #700 closed

[2020-01-15 06:39] neuqlz commented on #722
Hi @chufgard,
I am working on this issue now, could you provide the conditional access policy you are using?

[2020-01-15 09:31] verzachris opened #812 "Issuer claim (iss) Validation too generic - Tenant not taken into consideration"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Linux
- Java version:
  - 1.8

Hello,

I'm using azure spring boot package for validating the Bearer Token on the back-end, using client credentials flow for a system-to-system (StateLess); it works fine except for the issuer claim validation; the library accepts any token issued by either v1 or v2 endpoints

[2020-01-15 09:31] #812 closed

[2020-01-15 09:34] beowulf79 opened #813 "Issuer claim (iss) Validation too generic"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Linux
- Java version:
  - 1.9

## Summary
I'm using azure spring boot package for validating the Bearer Token on the back-end, using client credentials flow for a system-to-system (StateLess); it works fine except for the issuer claim validation; the library accepts any token issued by either v1 or v2 endpoi

[2020-01-20 09:23] neuqlz commented on #722
Now this issue has been fixed in latest SNAPSHOT version.

[2020-01-20 09:23] #722 closed

[2020-01-20 09:24] neuqlz commented on #767
Now this issue has been fixed in latest SNAPSHOT version.

[2020-01-20 09:24] #767 closed

[2020-01-20 09:25] neuqlz commented on #757
The overwrite problem has been fixed in latest SNAPSHOT version.

[2020-01-20 09:25] #757 closed

[2020-01-20 12:44] carcaryn opened #817 "[BUG] Prevent "The MessageProducer was closed due to an unrecoverable error""
Hi everyone,
I've this problem with Azure Jms Spring Library. After few times of innactivity, when I try to send a message to a topic, the library throw me this exception: "The MessageProducer was closed due to an unrecoverable error; nested exception is javax.jms.IllegalStateException: The MessageProducer was closed due to an unrecoverable error".

How can I prevent this problem? Is a configurati

[2020-01-20 21:44] nitishsinghal29 commented on #673
Is there any update on this issue?
I am using property `azure.storage.connection-string` in spring boot app, which is getting converted to `azure.storage.connection.string`

[2020-01-21 02:44] saragluna commented on #817
Thanks for reporting this. Could you please provide more information, such as how to reproduce this issue?

[2020-01-22 10:26] sidyes opened #818 "Custom JWKSet Url property is ignored"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.8

## Summary

I want to use the AAD spring boot starter to secure REST calls by validating the provided Bearer Token. I needed to adapt the jwk set uri. Thusi, I added the following to my application.yaml:
[code]
Unfortunately, I am always getting the following er

[2020-01-22 19:54] HEVARY commented on #802
@neuqlz
I have discussed issue with @sandboxbohemian  last week, and i was able to get application logs at the time of failure

January 17th 2020,   21:39:04.483 | fa00b219-7bca-4922-916b-4d55de8aa236 | Servlet.service() for servlet   [dispatcherServlet] in context with path [/api/v1/src-annuities-workflow]   threw exception [com.nimbusds.jose.RemoteKeySourceException: Couldn't   retrieve remote J

[2020-01-22 19:56] HEVARY commented on #802
I have removed appId due to security reasons. Please reach out to me if you need the appid's.

[2020-01-23 08:21] jawwadfarooq opened #819 "ClassNotFoundException: com.microsoft.azure.keyvault.authentication.KeyVaultCredentials"
Hi,

## Environment
- Spring boot starter: `2.1.11.RELEASE`
  - key vault spring boot starter: `2.1.8`

- OS Type: Linux
- Java version:
  - 11

## Summary
My project was initially using version `2.1.5` of azure-keyvault-secrets-spring-boot-starter but now when I have updated it to version `2.1.8` below exception is logged at runtime:

java.lang.ClassNotFoundException: com.microsoft.azure.keyvault

[2020-01-23 16:04] nitishsinghal29 commented on #608
@JRiggenbach and @dhaval24 , Can you help me figure out what metrics would be available exactly in "Metrics Explorer" after adding the `azure-spring-boot-metrics-starter` dependency.

- Can you provide exact name of those?

- Would these be available in existing Metric Namespaces "Log-based Metrics" and "Standard Metrics" or will there be a new Metric Namespace be available after adding the above

[2020-01-24 08:53] verzachris commented on #818
use this azure.service.endpoints.global.aadKeyDiscoveryUri=i=https://login.microsoftonline.com/<YUOR_TENANT>/discovery/keys

[2020-01-24 10:27] sidyes commented on #818
Now it is using the correct jwk set uri but I still receive:
`Couldn't retrieve remote JWK set: connect timed out`

Any ideas how to fix this?

[2020-01-24 12:05] sidyes commented on #417
Any updates?

[2020-01-24 14:23] pepbg commented on #476
Hi guys any news about the issue?

[2020-01-24 16:51] verzachris commented on #818
The default timeout is really low, increase using these settings
azure.activedirectory.jwt-connect-timeout=2000
azure.activedirectory.jwt-read-timeout=2000

[2020-01-27 06:50] sidyes commented on #818
Ok I am getting closer!
The error has now changed to
`AADAppRoleStatelessAuthenticationFilter : Failed to initialize UserPrincipal -> Couldn't retrieve remote JWK set: Connection refused: connect`

[2020-01-27 10:44] Azer1652 opened #820 "Getting Groups with AzureADGraphClient throws NullpointerException for azure.activedirectory.environment=global-v2-graph"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- Tested versions: 2.2.0 -> master

- OS Type: Windows
- Java version:
  - 1.8

## Summary
`isMatchingUserGroupKey()` in AzureADGraphClient throws NullPointerException when the following configuration property is set
`azure.activedirectory.environment=global-v2-graph `

## Reproduce steps

- Setup Angular application t

[2020-01-27 22:38] bcannariato commented on #802
Hi, also from the app team with @sandboxbohemian .

@neuqlz can you please respond to @HEVARY above. We have a question relating to the Correlation IDs as seen from the above logs.

He is not able to see anything on his end relating to the Correlation ID. This gets generated from the adal library. Is this something that you can track down on your end to give us more insight? Is this generated in a

[2020-01-28 18:49] rossdevol opened #822 "Cannot find class com.microsoft.azure.keyvault.spring.AzureKeyVaultCredential"
## Environment
- Spring boot starter:

  - azure-spring-boot 2.2.2

- OS Type: MacOS
- Java version:

  - 1.8

## Summary

When upgrading from azure-spring-boot 2.2.1 to 2.2.2, the com.microsoft.azure.keyvault.spring.AzureKeyVaultCredential class cannot be found. It has never been marked as deprecated, and we depend on this class in our code. It appears to have been deleted [in this commit](https:

[2020-01-30 03:31] nmiodice commented on #763
One approach, if running within the context of an app service, is to use the following syntax for your app config:

`@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/ec96f02080254f109c51a1f14cdb1931)`

Full docs here: https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

[2020-01-30 03:37] nmiodice opened #823 "Support for Managed Identity"
## Environment
This applies to all services that support Managed Identity in Azure.

## Summary
These starter kits do not allow you -- to my knowledge -- to leverage Manged Identity to authenticate to Azure services, which is a feature of https://github.com/Azure/azure-sdk-for-java that allows developers to **securely** connect to services like KeyVault, Service Bus, Blob Storage, etc., without ha

[2020-01-30 08:05] jialindai commented on #417
@sidyes, you can use latest release on 2.1.x or 2.2.x which include this fix.

- 2.1.x latest release: 2.1.8
- 2.2.x latest release: 2.2.2

[2020-01-30 13:50] jialindai commented on #802
It seems @sandboxbohemian has done some customization to set timeout of JWTResourceRetriever. Actually following configurations can be used without customization (for version 2.1.8 and 2.2.2):

- azure.activedirectory.jwt-connect-timeout
- azure.activedirectory.jwt-read-timeout
- azure.activedirectory.jwt-size-limit

It seems that the timeout problem is intermittent and likely caused by network. B

[2020-01-30 23:52] bcannariato commented on #802
@jialindai do you have an example of a custom JWKSource implementation? I tried searching around and couldn't find anything. Not that familiar with it outside of our use of the library.

[2020-01-31 03:28] jialindai commented on #802
@bcannariato , I think you can reference RemoteJWKSet which is built in implementation of JWKSource in nimbus-jose-jwt library.

[2020-01-31 10:08] sidyes commented on #818
Issue can be closed. The problem was my proxy configuration.
Adding `System.setProperty("java.net.useSystemProxies", "true");` solved the problem.

[2020-01-31 10:08] #818 closed

[2020-01-31 16:13] fgoulet opened #824 "Stateless authentication and Microsoft identity platform (v2.0)"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Windows
- Java version:
  - 1.8

## Summary
It is possible to have a stateless authentication rest API that would accept v2.0 tokens ?
Then, I would like to use Microsoft Authentication Libraries (MSAL) to access to api.

[2020-02-03 11:59] neuqlz commented on #823
Thanks for your proposal, @saragluna Xiaolu is doing this feature now. Please stay tuned.

[2020-02-03 18:22] bcannariato commented on #802
@jialindai @HEVARY  we are working on the cache portion.

Wanted to just circle back on the correlation ID part. We know that is generated from the library (which we call from our app). Is anyone able to track that within their logs? I think there was some confusion about the correlation ID. I believe we wanted to know if you had any way of utilizing that correlation ID on your end to track faillu

[2020-02-04 02:17] neuqlz commented on #802
@bcannariato Sorry, I am a little confused about "your end" you mentioned above. From my perspective, there are two ends, one is the app, in the app you use our SDK to do something, the other end is the AADGateway which provides the endpoint for the SDK to curl. So you should be able to see all the logs output by the SDK. And we don't store any logs in our team by the way.

[2020-02-04 02:25] neuqlz commented on #802
@bcannariato as for the customized cache part, we can discuss it in the PR which was created by @sandboxbohemian. I had given some comments. After all the comments are solved, the PR will be merged into the master.

[2020-02-04 05:35] neuqlz commented on #824
Hi, thanks for the proposal, our team are working on it now, please stay tuned.

[2020-02-04 05:57] neuqlz commented on #813
Sorry for the late response because of the Chinese New Year Public Holiday.  Your proposal is reasonable, SDK only validates the prefix of the "iss" claim and doesn't validate the tenant id. But according to our backlogs, we don't have enough resources to do it right now. There is a workaround that you can override UserPrincipalManager to implement your own validation logic. By the way,  the logic

[2020-02-04 12:36] neuqlz commented on #476
@pepbg Could you provide the full exception stack Infos?

[2020-02-04 21:31] bcannariato commented on #802
Yeah I responded back on the pull request.

There might've been some confusion in terms of the azure "end" vs the SDK "end". Right now as per the above post we sometimes see failures related to a correlation ID:

`[Correlation ID: 669c3636-1dcc-442f-8f10-6a0aaadfeed5] Execution of class com.microsoft.aad.adal4j.AcquireTokenCallable failed.`

We were mostly wondering if this would be useful on the

[2020-02-05 08:09] neuqlz commented on #822
Hi @rossdevol, sorry for the late response because of the Chinese New Year Holiday.
Yep, there is a breaking change in version 2.2.2 because we update Keyvault SDK to             <artifactId>azure-security-keyvault-secrets</artifactId>. In this version, it use the new SDK (  <artifactId>azure-identity</artifactId>)  to do authentication. So AzureKeyVaultCredential has been deprecated. Sorry for th

[2020-02-05 08:14] neuqlz commented on #819
Hi @jawwadfarooq, sorry for the late response because of the Chinese New Year Public Holiday.
There is a breaking change in 2.1.8. We update Keyvault SDK to **azure-security-keyvault-secrets**, in this SDK, it use **azure-identity** to do authentication, so KeyVaultCredentials is deprecated. If you update your version to 2.1.8. You can refer to the latest readme doc to configure your application.

[2020-02-05 11:41] neuqlz commented on #802
@bcannariato yep, azure "end" is the team that hosts the endpoint https://login.microsoftonline.com/common/discovery/keys. According to @HEVARY 's information, it is the AAD gateway team. I think you two can think together more deeply to figure out the timeout problem.
And I remembered that @HEVARY mentioned your application is hosted in AWS, could the reason be the network condition of AWS? That

[2020-02-05 12:18] neuqlz commented on #820
Hi @Azer1652,
Have you configured groups in your AAD? If not, you need to add groups in your AAD in the Azure portal.

[2020-02-05 12:24] Azer1652 commented on #820
Yes, I am using the AAD of my organization. The user with which I was testing has 50+ groups configured.

[2020-02-05 13:27] neuqlz commented on #820
That's strange, could you provide me with the full exception stack Infos and the application.poperties? And when was the exception thrown out? Did it come when the application started?

[2020-02-05 13:32] neuqlz commented on #820
Btw, if you set: azure.activedirectory.environment=global-v2-graph.
You must put these properties below in your application.properites.
azure.activedirectory.user-group.key=@odata.type
azure.activedirectory.user-group.value=#microsoft.graph.group
azure.activedirectory.user-group.object-id-key=id

[2020-02-05 13:37] neuqlz commented on #820
It is mentioned in this doc: https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-starters/azure-active-directory-spring-boot-starter

[2020-02-05 13:57] neuqlz commented on #817
@carcaryn you can use this property to set the idle timeout
spring.jms.servicebus.idle-timeout=[idle-timeout]

[2020-02-05 15:47] HEVARY commented on #802
Well, in this scenario the correlation is was generated at application. The ADAL library used by application generated code. If Aad generates code, we should see error like AADxxxxxxxx

[2020-02-05 16:22] bcannariato commented on #802
So the examples we've posted with the correlation ID @HEVARY you can see those logs in your system?

[2020-02-05 16:29] HEVARY commented on #802
No, those are generated by ADAL library which is used by application.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: bcannariato <notifications@github.com>
Sent: Wednesday, February 5, 2020 8:22:03 AM
To: microsoft/azure-spring-boot <azure-spring-boot@noreply.github.com>
Cc: Hemanth Varyani <hevary@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re

[2020-02-05 16:43] bcannariato commented on #802
So what use is the correlation ID then if we only see the one log statement/failure that we showed above?

Just trying to get a better understanding what we could do with the correlation ID on our end. We only see the one log statement for the one failure that I can see.

[2020-02-05 22:39] bcannariato commented on #802
Please see above new pull request when possible for caching help

[2020-02-06 03:14] jialindai commented on #802
I think there are two things mixed together:

- Timeout when retrieving JWK. (which is the main issue we are looking)
- There is one log show correlation id and states acquire token failed.

The code to retrieve JWK is not from adal library, it's actually from nimbus library.

The correlation id is probably related to logic to query graph api. @neuqlz , could you help to take a look?

[2020-02-06 06:31] neuqlz commented on #802
Hi @bcannariato
As for the cache customized part, I have approved your PR, I will merge it into master once the IT passes.
I have checked the code. The code will do these two things in AADAuthenticationFilter:
- validate IdToken (in this part, our code will use nimbus library to retrieve JWK)

- get GraphToken by IdToken (in this part, our code will use Adal library to get GraphToken )

In the log

[2020-02-07 06:51] Azer1652 commented on #820
Hi @neuqlz ,

Thanks for checking. I have not tried with all those properties enabled. I will try them and come back to you.

[2020-02-07 07:22] Azer1652 commented on #820
This fixes the issue. Thanks!

[2020-02-07 07:22] #820 closed

[2020-02-07 11:33] saragluna commented on #824
Thanks for bringing this up. Just for clarification, I'd like to know what do you mean by 'rest API accepting v2.0 tokens'?

[2020-02-07 11:36] saragluna commented on #823
Thanks for bringing this up. As far as I know, our KeyVault starter now supports Managed Identity.

[2020-02-07 12:45] fgoulet commented on #824
I mean a Spring Boot application with Rest controllers that would authenticate using the [Microsoft Identity Platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-overview). That would allow our Angular app to use the more modern MSAL javascript library to securely access the rest controllers.

[2020-02-10 09:05] saragluna commented on #824
Sure. This PR #826 has migrated our ADAL usage to MSAL.

[2020-02-18 18:55] pepbg commented on #476
HI @neuqlz,
below the full stack exception info:

05-02-2020 19:16:58.082 [http-nio-8082-exec-10]   INFO  Spring Security Debugger.info -

************************************************************

Request received for GET '/login/oauth2/code/azure?code=OAQABAAIAAABeAFzDwllzTYGDLh_qYbH82orpDWyP6P-g9npZc_pZBI5eI3umTfg2gSjCGFkEU--BGxp_CYjsEMUPgjDNIzVHQkou6j7bji_Bg5L3uwq2SybuE9OvD55NijxDW8Bl0VQ0zy

[2020-02-19 10:33] konstantinblaesi commented on #608
Using spring boot 2.1.8 the azure metrics exporter autoconfiguration was not working for me.
Running with debug=true in application.properties showed

which is confusing because it should be present after [adding azure-spring-boot-metrics-starter](https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot-starters/azure-spring-boot-metrics-starter/src/main/resources/metrics.enabl

[2020-02-19 21:23] marcoboffi opened #829 "create service bus object with @Autowire"
## Environment
- Spring boot starter:

  - service bus spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.9
  - 1.8
  - 1.7

## Summary

Queue/Topic/Subscription objects must be created before you use them.
See also [azure servicebus spring boot starter guide](https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-starters/azure-servicebus-spring-boot-

[2020-02-20 03:18] neuqlz commented on #829
Thanks for your proposal, but I am a little confused about your expected results part. In current codes, it will create these objects automatically if you config the specific properties, you only need to @Autowire them if you need to use it. There is an example: https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-servicebus-spring-boot-sample

[2020-02-20 04:50] neuqlz commented on #476
@pepbg
1. Could you provide the reproduce steps?
2. Does this error occur from time to time or always?

[2020-02-20 08:08] marcoboffi commented on #829
On example you referred, point 3 of section ["Create Service Bus on Azure"] (https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-servicebus-spring-boot-sample#create-service-bus-on-azure), says to **create queue and topic from portal before** and then copy object names on application.properties.

[2020-02-21 10:51] neexs opened #830 "Can't autowire AADB2COidcLoginConfigurer"
## Environment
- Spring boot starter:

  - active directory B2C spring boot starter version 2.2.0-RELEASE

- OS Type: Windows
- Java version:
  - 11

## Summary
I'm getting an error when running app, on following code (Autowiring is not working for the `AADB2COidcLoginConfigurer ` object)

[code]
The error :
`NoSuchBeanDefinitionException: No qualifying bean of type 'com.microsoft.azure.spring.aut

[2020-02-24 00:29] saragluna commented on #830
Thanks for reporting this. We'll look into it.

[2020-02-27 08:32] saragluna commented on #830
Hi @neexs, I've run the sample locally and did not run into the same exception. Could you please provide more information, like which version of Spring Boot you're using, or you pom.xml?

[2020-02-27 11:30] zoladkow commented on #817
@neuqlz @saragluna
It's not that idle-timeout is not doing what it's supposed to - the connection should be dropped if the inactivity exceeds a certain threshold. (AFAIR there's the hard limit of 10min on ASB side I belive)

The BIG problem here is that jmsTemplate can no longer be used, which kind of breaks the idea of autoconfiguration - minimal setup that just works.

Let's put it like this - i

[2020-03-02 19:13] macfisher opened #837 "azure-active-directory-v2-spring-boot-backend-sample is dead on arrival"
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.8+

## Summary
Instructions say to run `mvn clean install -DskipTests` from project root. Results in null pointer exception. Fails to build.

## Reproduce steps
Follow the instructions

## Expected Results
Project should build with mvn clean install

## Actual Resu

[2020-03-03 02:38] neuqlz commented on #829
I think I get your point, but it may cause some other problems, for example, if you run some test codes, then some useless queues or topics will be created in your service-bus resource, it seems not good. But maybe we can provide a property to control the automatically creating for queues and topics like **auto.create=true/false**. We need to do some investigation and discuss its feasibility, then

[2020-03-03 07:07] marcoboffi commented on #829
Thanks a lot for your effort.
It's great for us if behaviour and features are as similar as possible to [RabbitMQ](https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-rabbitmq) and configurable by autowired (object constructor, connection timeout, client retry,handlers, etc)

[2020-03-03 15:29] macfisher commented on #837
Project builds if you remove it from the larger project via the following pom file changes:
[code]
<dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>azure-active-directory-spring-boot-starter</artifactId>
            <version>2.2.3</version>
 </dependency>
[code]

[2020-03-05 13:28] beowulf79 opened #838 "How is the library licensed ?"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type:
Linux

- Java version:
  - 1.8

## Summary
Do I require a license to use the library in my Product ? My company has of course a valid Azure subscription; cannot find this information anywhere.

Thanks.

## Reproduce steps
.

## Expected Results
.

## Actual Results
.

[2020-03-06 05:36] neuqlz commented on #838
Because this library is an open-source library licensed by MIT license. So you can use it in your product as you want and don't need to require a license.

[2020-03-06 05:36] neuqlz commented on #838
Because this library is an open-source library licensed by MIT license. So you can use it in your product as you want and don't need to require a license. @beowulf79

[2020-03-06 07:45] neuqlz commented on #837
Hi @macfisher, thanks for touch us.
I think you need to run **mvn clean install -DskipTests** from azure-spring-boot root rather than azure-active-directory-spring-boot-starter. Because there are some dependencies defined in the outside module like azure-spring-boot and azure-spring-boot-bom, so if you run that command only in  azure-active-directory-spring-boot-starter, it will fail.

[2020-03-06 08:45] neuqlz commented on #817
@zoladkow, your proposal is very reasonable, now the ability of JMS starter is very single, just support set fixed idle-timeout for the connection. And don't support the other fancy features, like reconnect after revoke, never-expired and so on. It's indeed a problem that decreases the usability of the JMS starter. We will discuss it and consider adding these related features to the starter. Now y

[2020-03-06 08:49] venukbh opened #839 "azure.keyvault.refresh-interval is not working"
## Environment
- Spring boot starter:
  - key vault spring boot starter

- OS Type: Linux/MacOS
- Java version:
  - 1.8

## Summary
Followed the steps mentioned on the page, and was able to read the keys from key-vault.
Changed the refresh-interval to 2 minutes = 120000 milli seconds
After app started, changed the values in azure key vault, and for every 2 minutes thereafter, verified to see the n

[2020-03-06 09:52] neuqlz commented on #839
please refer to this doc: https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-starters/azure-keyvault-secrets-spring-boot-starter, in section: Custom settings. It mentioned that if you set specific keys by property: azure.keyvault.secret.keys=key1,key2,key3. the starter will not refresh the keys. If you want the starter to refresh the keys periodically, you can remove the

[2020-03-06 09:52] #839 closed

[2020-03-06 15:06] macfisher commented on #837
@neuqlz  Sorry, that's what I meant by project root. I was running from the root of the entire repository. Are you saying that running clean install works for you? It does not work for me:

`[INFO] Reactor Summary:
[INFO]
[INFO] Azure Spring Boot BOM 2.2.4-SNAPSHOT ............... SUCCESS [  0.260 s]
[INFO] Azure Spring Boot Parent 2.2.4-SNAPSHOT ............ SUCCESS [  2.429 s]
[INFO] Azure Sprin

[2020-03-06 15:26] venukbh commented on #839
@neuqlz I am not using that property.

These are the properties I am using

Here is the code
[code]

[2020-03-06 15:34] venukbh commented on #839
@neuqlz reopen the issue

[2020-03-06 16:51] venukbh opened #840 "azure.keyvault.refresh-interval is not working"
## Environment

    Spring boot starter:
        key vault spring boot starter

    OS Type: Linux/MacOS

    Java version:
        1.8

## Summary

Followed the steps mentioned on the page, and was able to read the keys from key-vault.
Changed the refresh-interval to 2 minutes = 120000 milli seconds
After app started, changed the values in azure key vault, and for every 2 minutes thereafter, veri

[2020-03-08 01:47] tomatsue opened #841 "User flow is missing in the authorization request for B2C"
## Environment
- Spring boot starter:
  - azure-active-directory-b2c-spring-boot-starter
- OS Type: Windows/Linux
- Java version:
  - 1.8

## Summary
[The Docs tutorial](https://docs.microsoft.com/en-us/azure/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc) ([in this repo](https://github.com/microsoft/azure-spring-boot/blob/2.2.3/azure-spring-boot-

[2020-03-09 11:52] saragluna commented on #841
Thanks for reaching out. I've checked the tutorial you followed, there's some inaccuracy in it. This [one](https://github.com/microsoft/azure-spring-boot/tree/2.2.3/azure-spring-boot-samples/azure-active-directory-b2c-oidc-spring-boot-sample) is correct about the tenant name part.

Take the domain name `contosob2c.onmicrosoft.com` for instance, the tenant name should be **contosob2c** not the doma

[2020-03-09 12:21] saragluna commented on #840
Thanks for bringing this up. Please check this issue #683 to see if it helps.

[2020-03-09 12:26] saragluna commented on #837
@macfisher

This might be caused by the maven or maven plugin. Have you tried to upgrade your maven version?

[2020-03-10 00:33] macfisher commented on #837
No I have not tried that. I just extracted the sample that I needed from the larger project and got that working without having to mess with my maven version. Feel free to close this if you want.

[2020-03-10 00:40] tomatsue commented on #841
Thank you for checking.  However, I already tried the correct tenant name before posting this issue. So I think the error occurs because a user flow parameter is missing in the authentication request generated by [AADB2CAutoConfiguration](https://github.com/microsoft/azure-spring-boot/blob/2.2.3/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/b2c/AADB2CAutoConfiguration.ja

[2020-03-10 02:11] saragluna commented on #841
The application works on my side. Could you please provide the application.yml you configured, with no confidential info, to help check the issue?

[2020-03-10 02:15] saragluna commented on #841
And for the policy parameter, it's added [here](https://github.com/microsoft/azure-spring-boot/blob/2.2.3/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/b2c/AADB2CAuthorizationRequestResolver.java#L91).

[2020-03-10 05:12] tomatsue commented on #841
Thank you for clarification I tried the tutorial again in my new env and the sample worked well! I'll recheck my former env and will share the cause if I find it. Anyway I would be glad if you fix the Docs' known inaccuracy you mentioned.

[2020-03-10 13:54] jhauray commented on #705
Hi,

We would like to use **Webflux** with **azure-active-directory-spring-boot-starter** too.

We created a project in SpringBoot v 2.2.3. But when starting, an error occurred :
[code]

Support Webflux will become important. In spring Security 5, RestTemplate and OAuth2RestTemplate are now deprecated.

[2020-03-10 17:32] jhauray opened #842 "azure-active-directory-spring-boot-starter v2.2.3 - AADAuthenticationFilter, no longer works in single-tenant"
## Environment
- Spring boot starter:

  - active directory spring boot starter
- OS Type: Linux
- Java version:
  - 11

## Summary
With starter version 2.2.3, AADAuthenticationFilter return an MSAL error with single-tenant Application Registration :
````AADSTS50194: Application 'xxxxxxxxxx'(xxxxxxxx) is not configured as a multi-tenant application. Usage of the /common endpoint is not supported f

[2020-03-11 01:10] saragluna commented on #842
Thanks for reporting this, we'll look into it ASAP.

[2020-03-11 04:11] saragluna commented on #842
This is caused by a bug, AAD authority not set correctly, #844 will fix it.

[2020-03-11 08:10] jhauray commented on #842
Great!

I look forward to the fix. When will it be available?

[2020-03-11 10:56] tomatsue commented on #841
I see the error happend just because of  my misconfiguration. I created *controller* and *security* folders under *src/main* instead of *src/main/java/com/example/demo*.

By the way, there are still some inaccuracies in the tutorial. It would be helpful if you fix them even though they might be trivial.

* *HelloController.java* -> *WebController.java*
* *WebSecurityConfig.java* -> *WebSecurityCon

[2020-03-12 08:59] sudhakarbetha opened #845 "How can I use the secrets in my Test scope to read property from keyvault @Value("${property}")"
## Environment
- Spring boot starter:
 - key vault spring boot starter

- OS Type: Windows
- Java version:
  - 1.8

## Summary
I cannot use the KeyVault properties in my Tests, even if i define the <scope>test</scope> for the dependency in my pom.xml

## Reproduce steps
Set <scope>test</scope>  for azure-keyvault-secrets-spring-boot-starter in pom.xml
I cannot read the KeyVault property in my test

[2020-03-12 16:47] geoarchitect commented on #830
@saragluna - We are facing the same issue with this using release 2.2.3 and java 11.

`
<dependency>
<groupId>com.microsoft.azure</groupId>
			<artifactId>azure-active-directory-b2c-spring-boot-starter</artifactId>
			<version>2.2.3</version>
		</dependency>
`

It appears if we look at the files they do not have spring annotations defining them as beans for autowiring. This should have something l

[2020-03-13 01:22] saragluna commented on #842
We're planning the next release and will let you know once that's done.

[2020-03-13 15:39] geoarchitect commented on #830
@saragluna - I worked on this some more and determined there must have been some issue causing the AADB2CAutoConfiguration.java not to do its job.

If I have time ill try and follow my initial steps and see what was missed causing this.

This is working as expected for me now.

[2020-03-14 03:51] saragluna commented on #830
Glad to hear that and thanks for your investigation.

[2020-03-15 03:47] saragluna commented on #845
Thanks for reaching out. Could you help provide more info, such as how the tests are written or configuration are set?

[2020-03-16 11:27] sitase opened #846 "Support for AzureCliCredential"
## Environment
Applies to development towards all services.

## Summary
The starter kits do not (AFAIK) allow use of the local currently logged in user to authenticate to Azure services. Cf https://github.com/Azure/azure-sdk-for-java that has DefaultAzureCredential that will in turn try different mechanisms, including AzureCliCredentials.

For development purposes it would be smooth if spring boot

[2020-03-16 11:27] sitase commented on #823
When you're at it, please throw in support for AzureCliCredentials. (#846)

[2020-03-17 16:57] sdandey opened #847 "running azure-keyvault-example behind proxy gives javax.net.ssl.SSLHandshakeException:"
## Environment
- Spring boot starter:

  - key vault spring boot starter

- OS Type: Windows
- Java version:
  - 1.8

## Summary
Running the azure key-vault sample project behind a https_proxy is giving SSLHandshake exception.  I even downloaded the certficate by using the azure.keyvault.uri=https://<key-vault-name>.vault.azure.net and added to the CACerts file

### Command to add the certificate

[2020-03-18 16:06] roshanp opened #848 "Enabling Azure Oauth2 login alongside Google login"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Windows
- Java version:
  - 1.8

## Summary
 I am writing a web app that would allow single sign on from the baseline spring security oauth2 providers: Github, Google. In addition, I am adding Azure Active Directory login as well. Both the Github and Azure AAD login work perfectly. However, when I try to log

[2020-03-19 02:23] neuqlz commented on #837
@macfisher okay, if you have any other questions, please feel free to ping me.

[2020-03-19 02:23] #837 closed

[2020-03-19 07:55] neuqlz commented on #847
Hi @sdandey,

Can you provide the version of the key vault spring boot starter in your project?

I need that to do further investigation.

[2020-03-19 08:18] neuqlz commented on #848
Hi: @roshanp

Could you help provide the minimal samples for me to reproduce the exceptions?

[2020-03-19 08:44] neuqlz commented on #846
Hi @sitase
Thanks for your proposal.

Our starter kits now support three authentication ways:
1. service principal.
2. certificate.
3. managed identity.

It indeed doesn't support "AzureCliCredential". But in my opinion, the starter kits are designed for the microservice scenario rather than the client scenario. In regards to the microservice scenario, there seems no need to use the  "AzureCliCred

[2020-03-19 10:47] sitase commented on #846
I explained myself badly. When you develop a microservice, you need to be able to run it locally to test and debug. The rights to do so should derive from the local user having a dev role for the project. I.e. the rights to access an azure service in the dev environment should be assigned to the msi of deployed microservices in the dev environment AND the members of the development team. To achiev

[2020-03-19 11:41] roshanp commented on #848
Sure! I am attaching the project I built with. You will need to get credentials for the google/azure client-id/secrets. Thank you for looking into it! Tell me if there is anything else you need.
[multi-auth-test.zip](https://github.com/microsoft/azure-spring-boot/files/4354221/multi-auth-test.zip)

[2020-03-20 08:46] fdr42 commented on #830
same problem with AADAppRoleAuthenticationFilterAutoConfiguration

[2020-03-20 11:00] ghost opened #849 "Key Vault starter doesn't work as it uses IdentityClient which tries to get an Oauth2 token from a hard coded, non-existent http (not https) URL with an IP address not name"
## Environment
- Spring boot starter:

  - key vault spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary

I'm trying to use the spring boot starter for Azure key vaults. It doesn't start because it fails to connect to a URL to obtain an Oauth2 token - the URL in question is hard coded within the Microsoft IdentityClient class and doesn't exist.

There are two is

[2020-03-22 18:14] sdandey commented on #847
@neuqlz I'm using 2.2.0 version.  I'm trying to find a way to set the proxy for spirng-boot-start apps.  Not sure how to do it.

I can set the proxy for a http client using azure-java-sdk approach.  But, not sure how to set this up for spring-boot application.

`HttpClient httpClient = new OkHttpAsyncHttpClientBuilder()
                .proxy(new ProxyOptions(ProxyOptions.Type.HTTP, new InetSocket

[2020-03-22 18:25] sdandey opened #850 "Support Spring Boot Apps to run behind Network proxies for HTTP Client"
- Spring boot starter:
  - active directory spring boot starter
  - cosmosdb spring boot starter
  - key vault spring boot starter
  - media services spring boot starter
  - service bus spring boot starter
  - storage spring boot starter

- OS Type: Windows/Linux/MacOS
  - 1.8

## Summary
This is a feature request to support http proxy for all spring boot applications for HTTPClient.

for e.g., wh

[2020-03-23 01:56] saragluna commented on #850
Thanks for reporting this. But I'm not sure which HttpClient you're referring to. Is it the one working underneath the SDKs, e.g. the CosmosDB SDK, or the one you want to use in your code?

[2020-03-23 02:44] neuqlz commented on #848
@roshanp
Ok, received, will look into it soon.

[2020-03-23 03:21] neuqlz commented on #846
Okay, got your point, we will discuss it and respond to you later.

[2020-03-23 03:26] neuqlz commented on #847
Hi: @sdandey

Could you help provide the minimal samples for me to reproduce the exceptions?

[2020-03-23 03:45] neuqlz commented on #849
Hi @paulnuk,

If you want to use service-principal to do auth, you need to set there properties below:
- azure.keyvault.uri=put-your-azure-keyvault-uri-here
- azure.keyvault.client-id=put-your-azure-client-id-here
- azure.keyvault.client-key=put-your-azure-client-key-here
- azure.keyvault.tenant-id=put-your-azure-tenant-id-here

If you don't set tenant-id, then the keyvault starter will assume you

[2020-03-23 12:25] srempfer commented on #303
I released the first version and it's available on maven central: https://search.maven.org/artifact/io.github.srempfer/spring-cloud-config-azure-keyvault-starter

[2020-03-23 14:46] stigmelling opened #851 "AAD multi-factor authentication(MFA), conditional access"
Running azure-active-directory-spring-boot-backend-sample using mvn spring-boot:run

Get error message:
AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access '00000002-0000-0000-c000-000000000000'. Trace ID: 124cfcb0-3140-430c-b59c-68d160821c00 Correlation ID: 74178b2b-1281-4070-99b4-c6d7487

[2020-03-23 15:17] sdandey commented on #847
@neuqlz I'm running the sample project https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-keyvault-secrets-spring-boot-sample behind  a corporate proxy with username/password.

After downloading the sample project I performed the following.

1. created key-vault.
2. created sample secrets.
3. configured application.properties with key-vault configuration
4.

[2020-03-23 18:45] burlesgonewild opened #852 "Application Insights telemetry for Cosmos DB does not report when using azure-cosmosdb-spring-boot-starter version > 2.1.6"
## Environment
- Spring boot starter:

  - cosmosdb spring boot starter

- OS Type:
  - Linux
- Java version:
  - 11

## Summary

Application Insights telemetry for Cosmos DB requests does not report when using versions greater than 2.1.6.

## Reproduce steps

Setup a service with Spring Boot 2.1.4, Cosmos starter com.microsoft.azure:azure-cosmosdb-spring-boot-starter:2.1.6 and Application Insight

[2020-03-24 07:35] nandha2143 opened #853 "Spring Boot application hangs without any error when azure-keyvault-secrets-spring-boot-starter version upgraded from 2.1.6 to 2.1.8"
## Environment
- Spring boot starter:
  - key vault spring boot starter

- OS Type: Windows
- Java version:
  - 1.8

## Summary
Spring Boot application hangs without any error when azure-keyvault-secrets-spring-boot-starter version upgraded from 2.1.6 to 2.1.8. Spring boot version is 2.1.10-RELEASE

## Reproduce steps
Spring 2.1.10-RELEASE. Upgraded  azure-keyvault-secrets-spring-boot-starter vers

[2020-03-24 09:29] sidyes commented on #417
For me the problem were outgoing requests specifially with this lib as we also have a proxy.
Adding the bold marked line to the websecurity config solved the issue for me:
[code]

[2020-03-24 12:45] saragluna commented on #853
Thanks for reaching out. Could you please try again with our latest release 2.1.9?

[2020-03-24 12:47] saragluna commented on #852
Thanks for reporting this. We'll look into this soon.

[2020-03-24 15:23] ppartarr commented on #526
HI @Incarnation-p-lee I'm having the same problem the azure. I put a lengthy description of the version on [stackoverflow](https://stackoverflow.com/questions/60303916/why-am-i-getting-an-invalid-token-response-when-exchanging-an-authorization-code).

I've tried all the solutions mentioned above without any success.

[2020-03-24 21:04] sdandey commented on #850
@saragluna,  i'm referring to one that's underneath the SDK.  there is not a good support for spring-boot-keyvault starter's to use the proxy.  So, I ended up using the SDK by creating our own HttpClient with proxy options.

[2020-03-25 01:28] nandha2143 commented on #853
Hi Saragluna, Thank you for reply. Yes tried with 2.1.9  and same result

[2020-03-25 11:05] romlod opened #854 "azure-storage-spring-boot-starter refers to really old azure-storage-blob dependency"
Hi,
We use the azure-storage-spring-boot-starter version 2.2.3. What we see is that this is still resolving to com.microsoft.azure:azure-storage-blob:10.5.0. This version however is from Feb 2019.
If I look in mvnrepository, i see that there is already a 12.5.0 available which is updated in march 2020.
https://mvnrepository.com/artifact/com.azure/azure-storage-blob/12.5.0

Having this is key, beca

[2020-03-25 12:29] saragluna commented on #854
Thanks for reaching out. We're aware of this issue and planning to upgrade the dependency. Please stay in tune.

[2020-03-25 12:33] romlod commented on #854
That is great to hear! When can we expect this?

[2020-03-25 12:36] saragluna commented on #853
Could you help provide some more details, like the pom file of your project, for me to reproduce the issue?

[2020-03-25 12:44] saragluna commented on #854
We're still in the early planning stage now. And since the v12 storage library is not compatible with the version we're using now, we have to find a way to bring that out.

[2020-03-25 13:07] saragluna commented on #526
@ppartarr
Have you tried with setting `spring.security.oauth2.client.registration.azure.client-authentication-method=post`?

[2020-03-25 13:13] saragluna commented on #851
Thanks for reaching out.  Which version of the aad starter are you using? We've fixed this MFA issue in #815 and #816, could you try with version 2.1.8 or 2.2.2?

[2020-03-25 14:01] romlod opened #855 "Connection reset by peer at random by using azure-storage-spring-boot-starter"
Hi,

We are using the azure-storage-spring-boot-starter for downloading blobs from the blob storage. It works fine, but every now and then we get the following error:
` Failed to download file from blob https://<<location>>/file.png to <<location>>. Reason is: Status code 403, (empty body).`

After getting the stackTrace we also see this:

`failed: Connection reset by peer`

Our code is quite simp

[2020-03-25 17:23] sjerman commented on #476
Hi Folks, here is how to reproduce:

This UT, has two signatures... test() .. the access token fails ... test1() ... the id token passes (or did when I ran the test :)

The issues is repeatable.

Steve

`package com.kloudspot.licensing;

import org.junit.jupiter.api.Test;
import org.springframework.security.oauth2.jwt.Jwt;
import org.springframework.security.oauth2.jwt.NimbusJwtDecoder;
import org

[2020-03-26 19:13] jmax01 commented on #853
I have the same issue appears to be in `KeyVaultOperation.fillSecretsList()`

[code]

[2020-03-27 02:02] saragluna commented on #853
@jmax01

Thanks for your share. I will look into this.

[2020-03-27 08:48] Gaboxondo opened #856 "Avoid AADAppRoleStatelessAuthenticationFilter autoconfiguration"
Hi all.

I have a problem with the AADAppRoleStatelessAuthenticationFilter autoconfiguration.
The post is in stackoverflow so i will copy paste here to avoid writing it to times:

https://stackoverflow.com/questions/60874517/spring-boot-azuread-filter-autoconfiguration

I few days ago I was able to configure the integration with Azure AD and spring boot.
I'm usisng the following dependencies to ac

[2020-03-27 11:25] Henry-Keys commented on #762
Any update on this. Will you support the emulator in the foreseeable future?
Thanks.

I can submit a pull request if no one is available for this.

[2020-03-27 12:32] saragluna commented on #856
Thanks for reaching out. How about trying to put the AAD related configs into a file called `application-AzureAdSecurized.properties`? In which case these properties will only be available when the AAD profile enabled.

[2020-03-27 12:34] saragluna commented on #855
Thanks for reaching out. Which version of the storage starter are you using?

[2020-03-27 12:37] Gaboxondo commented on #856
Hi @saragluna . Unfortunately I cant do that, because of the arquitecture of the app. The application runs taking an external configuration file and in this case it is not possible to run the app by using -Dspring.profile.active :(, I's a pity I know :(

[2020-03-27 12:41] saragluna commented on #856
Then how is the profile set to the application?

[2020-03-27 12:55] Gaboxondo commented on #856
We only have one application.yaml file in which we set spring.profiles.active= DDBBSecurized, local, ... I said that in the post I think

[2020-03-27 13:07] Gaboxondo commented on #856
Also the configuration is provided with helm to kubernetes kluster....

[2020-03-28 08:01] Henry-Keys commented on #762
Nice, this weekend will be fun!

[2020-03-29 20:11] abdhafid commented on #383
You need add this permission :
Microsoft Graph :
Directory.AccessAsUser.All : Delegated : Access directory as the signed in user : Yes
![azuread_grant](https://user-images.githubusercontent.com/32271996/77859519-3c972800-720a-11ea-8953-88889f027b3f.png)

[2020-03-30 03:58] neuqlz commented on #762
Hi @Henry-Keys

PR is very welcome!

[2020-03-30 07:25] Gaboxondo commented on #856
some news about this?

[2020-03-30 08:19] desertTown commented on #585
Hi,
I am facing the same issue as well. Did anyone find a solution for this?

Thanks

[2020-03-30 09:04] desertTown opened #857 "BadJWSException: Signed JWT rejected: Invalid signature"
## Environment
- Spring boot starter:
  - azure-active-directory-spring-boot-starter : 2.2.3.RELEASE
  - spring-boot-starter-web : 2.2.0.RELEASE
  - spring-boot-starter-security: 2.2.0.RELEASE

- OS Type: Windows
- Java version:
  - 1.8

## Summary
Hi, I am follow this sample project and try  to test authorize code flow base role
https://github.com/microsoft/azure-spring-boot/tree/master/azure-spr

[2020-03-30 09:40] Gaboxondo commented on #856
I think I have a solution.

When defining the DDBBSecurized configuration I has add the following:

[code]

What I am doing is manually disabling the regsitration of the filter that is automatically configured because of the definition of azure.activedirectory.client-id property.

I have to do some test yet but It will be nice another aproach to be able to disable that not with properties because

[2020-03-30 19:44] karthikeyan23 opened #858 "ADAL Login error - Jwt used before <timestamp>"
## Environment
- Spring boot starter:
 Spring Boot 2.1.10.RELEASE
 com.microsoft.azure:adal4j:1.6.4

- OS Type: Linux Ubuntu 18.04
- Java version:
  11

## Summary
We have registered Two Spring Boot applications (one production and one dev/test) in Azure VM and both the application uses the same code base.

when tried to login Dev/Test system via Azure AD authentication. it fails with the message

[2020-03-30 20:10] stigmelling commented on #851
I'm running version 2.2.4-SNAPSHOT
Will try with 2.2.2 and 2.1.8

[2020-04-01 08:09] sudhakarbetha commented on #845
I was able to get this by getting the context to test by
@SpringBootTest

[2020-04-02 01:21] saragluna opened #861 "Key Vault Starter 2.1.8 has version conflict with Spring Cloud Greenwich.SR2"
## Environment
- Spring boot starter:

  - key vault spring boot starter

## Summary

This issue was reported by one customer.

·  spring-cloud-starter-sleuth
·  spring-boot-starter-data-jpa

[2020-04-02 01:50] #838 closed

[2020-04-02 01:50] saragluna commented on #838
No update on this issue so close it for now.

[2020-04-02 01:52] saragluna commented on #830
@fdr42 Sorry for the late response. Could you help provide more details?

[2020-04-02 01:59] saragluna commented on #851
@stigmelling

Any update on this issue?

[2020-04-02 02:02] saragluna commented on #849
@paulnuk

Any update on this issue? Has it been solved now?

[2020-04-02 02:05] saragluna commented on #841
Thanks for your suggestion. We'll fix them.

[2020-04-02 02:29] saragluna commented on #841
Close this issue for now.

[2020-04-02 02:29] #841 closed

[2020-04-02 02:32] saragluna commented on #822
Close this issue for now.

[2020-04-02 02:32] #822 closed

[2020-04-02 05:41] stigmelling commented on #851
Hi.
I've tested the different versions. Same result.
But I wonder if it is an Azure issue (?)
Two different scenarios:
1. using my normal user - witch does not require MFA when logging in to https://outlook.office365.com/mail/
2. using my admin user - witch is set up to use MFA

Logging in to the sample app using scenario 1 - fails with  "...you must use multi-factor authentication"

Logging in to

[2020-04-02 06:28] saragluna commented on #851
@stigmelling

Thanks for the update. I'm pretty sure that it's caused by enabling conditional policy in your tenant (or directory).
But I think we've handled this exception and redirect the user to do the MFA. Could you share more info about your AAD configuration?

[2020-04-02 06:53] stigmelling commented on #851
Thanks @saragluna
I dont have any insights into the AAD configuration. I'll ask for info about conditional policies set for our tenant.

Is there a way I can redirect the user to a new MFA authentication login screen when these exceptions occur? The MFA authentication login should callback to my application on success.

[2020-04-02 20:46] burlesgonewild opened #862 "Spring Boot starters are pulling in all Azure Spring Boot dependencies"
## Environment
- Spring boot starter:

  - active directory spring boot starter
  - cosmosdb spring boot starter
  - key vault spring boot starter
  - media services spring boot starter
  - service bus spring boot starter
  - storage spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 11

## Summary
The Azure Spring Boot starters have a dependency on azure-spring-boot which co

[2020-04-03 04:46] vishalmasih opened #865 "Incompatible with msal4j 1.4.0 ClientCredentialFactory"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary
azure-active-directory-spring-boot-starter version 2.2.3 does not work with msal4j 1.4.0 when conditional access policy is in place.

## Reproduce steps
Update the pom file as below:
[code]
And include conditional access policy code:
[code]

## Expected

[2020-04-03 12:21] rswlkr commented on #842
Any update @saragluna ?

[2020-04-03 16:23] burlesgonewild commented on #852
I have since bypassed the starter completely and am still not getting any telemetry. Project is using com.microsoft.azure:spring-data-cosmosdb:2.2.3.FIX1 directly. I have enabled the cosmosdb.telemetryAllowed flag.

[2020-04-04 09:23] DineshNO commented on #526
Hi,
I am facing the same issue when using okta.
[invalid_token_response] An error occurred while attempting to retrieve the OAuth 2.0 Access Token Response: 401 Unauthorized: [no body]

id("org.springframework.boot") version "2.2.4.RELEASE"

[2020-04-04 16:13] Henry-Keys commented on #762
PR Already Sent:
https://github.com/microsoft/azure-spring-boot/pull/866

[2020-04-06 11:27] fdr42 commented on #830
I solved the problem which was my bad, sorry

[2020-04-06 12:06] neexs commented on #830
Hi, sorry for the late response, I've got some urgent issues to solve... The problem was our side, not related to the library. Thank you for your help, and sorry again.

[2020-04-06 12:11] #830 closed

[2020-04-06 13:21] saragluna commented on #862
Thanks for reaching out.

We're aware of this issue and are planning to refactor the current model.  Please stay in tune.

[2020-04-06 21:58] jmax01 opened #867 "KeyVaultEnvironmentPostProcessor.isKeyVaultEnabled should check the enabled flag before checking if AZURE_KEYVAULT_VAULT_URI is populated"
`KeyVaultEnvironmentPostProcessor.isKeyVaultEnabled` should check the enabled flag before checking if `AZURE_KEYVAULT_VAULT_URI` is populated.

URIs like `AZURE_KEYVAULT_VAULT_URI ` are often constructed from other properties and in many test scenarios resolution will fail due to those properties not being resolved.

Solution:

Reorder and simplify `isKeyVaultEnabled's` conditionals.

https://gith

[2020-04-07 01:59] saragluna commented on #842
Version 2.2.4 has been released to solve this problem.

[2020-04-07 02:00] saragluna commented on #845
Close this issue for now.

[2020-04-07 02:00] #845 closed

[2020-04-07 02:25] saragluna commented on #867
Thanks for bringing this up. Could you share more details about the test scenarios when resolution will fail due to the URI?

[2020-04-07 17:36] jmax01 commented on #867
Our default config defines the current pattern used for our keyvault instance,

We use profiles to set the referenced properties.

We were hoping to avoid having another profile to set the uri and we want to be able to test construction of the uri without having the KeyVaultEnvironmentPostProcessor start.

The patch fixes this issue.

[code]

[2020-04-08 07:50] saragluna commented on #867
@jmax01 Thanks for your response and just for clarification:

When the user specifies `azure.keyvault.enabled` to `false`, the `KeyVaultEnvironmentPostProcessor` should not be started. In which case, the below code snippet does return false.

https://github.com/microsoft/azure-spring-boot/blob/4543480ed26976dfb9eec71375855da5ed24fdc6/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spr

[2020-04-08 11:08] nioertel commented on #333
Hi,
what's the progress on this issue?
We're facing the same issue and `oauth2AllowImplicitFlow` does not help. Do you have any other suggestions?

Best,
Niels

[2020-04-08 11:41] nioertel commented on #333
It's working now. We also set `oauth2AllowIdTokenImplicitFlow` to true.
Just leaving this information here if others face the same issue.

Best,
Niels

[2020-04-09 00:02] burlesgonewild commented on #852
Working with an engineer from the Application Insights team he was able to figure out that when spring.main.lazy-initialization=true the telemetry web filter was not being registered. Since no requests were being reported, neither was the Cosmos DB traffic. There will be a fix for Application Insights 2.6.1 to address.

[2020-04-09 00:02] #852 closed

[2020-04-09 05:26] saragluna commented on #865
Sorry for the late response.

We're now using `0.5.0-preview` version for MSAL, do you specify `1.4.0` in your pom file?

[2020-04-09 05:29] saragluna commented on #857
Sorry for the late response.  `AADAppRoleStatelessAuthenticationFilter` only accepts ID token as far as I know.

[2020-04-09 08:11] saragluna commented on #858
Sorry for the late response.

Seems like the clock of the VM is ahead of `nbf`(not before) claim of the JWT. Is it possible the clock is not set correctly?

[2020-04-09 08:15] saragluna commented on #585
@desertTown

The AADAuthenticationFilter is designed to accept ID token instead of the access token.

[2020-04-09 08:29] karthikeyan23 commented on #858
Thanks for the reply.

I tried restarting the Server yesterday and the issues got solved.
PS: The VM that we are using is an Azure Ubuntu VM and now that the issue is resolved not sure if the VM was running a bit out of sync in time.

[2020-04-09 08:31] saragluna commented on #858
Glad to hear that the issue got solved.

[2020-04-09 14:42] jmax01 commented on #867
If `azure.keyvault.enabled` is false `KeyVaultEnvironmentPostProcessor` should *not* attempt to resolve `AZURE_KEYVAULT_VAULT_URI`.

Processing should cease immediately.

[2020-04-15 16:39] juliovalcarcel opened #869 "Using deprecated active-directory-groups property doesn't appear to work and using new property fails to boot"
Because of [this](https://github.com/microsoft/azure-spring-boot/blob/v2.2.2/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADOAuth2AutoConfiguration.java#L48]) conditional on property if you switch from using `azure.activedirectory.active-directory-groups` to `azure.activedirectory.user-group.allowed-groups=test` the autoconfigure fails to work.

[2020-04-15 22:01] kdhindsa commented on #690
You'd want to set this property in your application.properties or application.yml file:

spring.security.oauth2.client.registration.azure.redirect-uri=https://HOSTNAME/login/oauth2/code/azure

[2020-04-16 15:55] kboger commented on #758
Hi there!  Yes, adding 'Display Name' to user-flow in B2C fixes the issue.  But I do not want my users to populate this field.  Is there a workaround?  Maybe a way to hardcode the value in spring? Not sure how to create a custom policy.  But seems like a lot of work for a single attribute.

any help would be greatly appreciated!!!

Kevin

[2020-04-21 18:01] grails-coder commented on #476
It's been a while and still, it happens the exact same error reported at the beginning. Only V1 endpoint tokens make the application work.

So far I'm using:

- Java 11.0.6

[code]

[2020-04-21 18:02] grails-coder commented on #476
For the record, I have used also Java 1.8 with the same gradle.build file and same error happens.

[2020-04-22 11:51] nikhilingole commented on #848
I too have been facing a similar issue with AADAppRoleStatelessAuthenticationFilter.
Has there been any updates to this?
Any workaround that has been found?

[2020-04-22 12:10] alam-R commented on #476
Same issue here, I've tried the sample azure-active-directory-spring-boot-stateless-sample but with my properties:
azure.activedirectory.session-stateless=true
azure.activedirectory.client-id=XXXXXXXXXXXX

The result is the rejection of the access JWT with invalid signature.
However as above mentioned the idToken can be verified...

According to this: https://github.com/microsoft/azure-spring-boot

[2020-04-22 15:11] nikhilingole opened #871 "AADAppRoleStatelessAuthenticationFilter filter tries to Authenticate a token from a different Authentication/Identity Provider"
Azure Spring Boot starter dependency version 2.2.4
(Also tried with 2.2.0 )

## Environment
- Spring boot starter:

  - active directory spring boot starter
  - key vault spring boot starter

- OS Type: Windows & Linux
- Java version:
  - 1.8

## Summary
AADAppRoleStatelessAuthenticationFilter attempts to Authenticate a jwt token from another Identity Provider and fails.
We need to support 2 Ident

[2020-04-23 06:22] pandajiangbao commented on #585
Hi,
I am facing the same issue as well. Why closed the issue, have any solution?

Thanks

[2020-04-23 07:32] Gaboxondo commented on #856
Now I have a new problem.
I have two divide the api two apply two different filters depending on the path, so the "trick" to disable the filter by code does not work for me anymore.

I cant do antMathchers(/internal/**).addFilterBefore( aadAuthenticationFilter, UsernamePasswordAuthenticationFilter.class );
and a different antMathchers(/external/**).addFilterBefore( new MyFilter(), UsernamePassword

[2020-04-23 07:41] stigmelling commented on #851
I guess You can close this issue.
I think it is related to AAD config(?)

[2020-04-23 09:34] saragluna commented on #869
Thanks for reaching out. But I'm lost here, the switch is for?

[2020-04-23 09:45] saragluna commented on #585
@pandajiangbao

Could you share more details about your issue?

[2020-04-23 09:52] saragluna commented on #476
@alam-R what's your scenario?

[2020-04-23 14:48] jpnaidu07 commented on #637
I have Spring cloud dependencies for Spring cloud config server, getting the same issue after removing the actuator. Please help.

[2020-04-24 05:32] saragluna commented on #476
@alam-R  @grails-coder @pepbg
If you get a `Signed JWT rejected: Invalid signature` exception with an `access token`, it's likely the access token is not for your application. You could either check it on [jwt.ms](https://jwt.ms/) or [jwt.io](https://jwt.io/), to check the audience of the access token.

If you get `"aud": "https://graph.microsoft.com"` for the audience, you will fail because it's

[2020-04-24 05:33] saragluna commented on #476
@sjerman

Sorry for the late response, could you share your scenario?

[2020-04-24 05:40] saragluna commented on #857
I was not accurate about my last comment.

The `Invalid signature` is probably caused by trying to decode an access token which is issued for accessing Microsoft Graph. You could check the token on [jwt.ms](https://jwt.ms/) or [jwt.io](https://jwt.io/) to check the audience. If you get `"aud": "https://graph.microsoft.com"` then such access token should not be passed to `AADAppRoleStatelessAuthent

[2020-04-24 05:47] saragluna commented on #857
You could also check [this issue](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/609).

[2020-04-24 06:05] desertTown commented on #857
@saragluna
yes, you're right.
if the "aud" is "https://graph.microsoft.com", I will not pass the AADAppRoleStatelessAuthenticationFilter, After I using refresh token to reget the accessToken in different scope, the JWT return with aud": "api://{{my-clientId}}", this token can pass the AADAppRoleStatelessAuthenticationFilter

Thanks for you reply

[2020-04-24 06:06] #857 closed

[2020-04-24 06:21] venukbh commented on #840
@saragluna Then what is the purpose of having this property in the code azure.keyvault.refresh-interval ? It was also mentioned on your portal which is quite deviating the actual functionality.

[2020-04-24 07:50] #851 closed

[2020-04-24 07:53] saragluna commented on #848
Does [Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/)  fit in your scenario?

[2020-04-24 08:17] nikhilingole commented on #848
@saragluna  - No.
we are using Azure B2B - the similarity here is in using 2 or more Authentication providers.
 I have raised a different ticket to elaborate this - https://github.com/microsoft/azure-spring-boot/issues/871

[2020-04-24 10:48] saragluna commented on #848
@nikhilingole Got it.

[2020-04-24 12:14] alam-R commented on #476
@saragluna audience is the right one and not the graph, so this is not the case.

My scenario is:
AngularJS Frontend uses msal.js in order to authenticate, thus receive idToken and silently receive accessToken for authorization. The accessToken is sent to SpringBoot Application where AADAppRoleStatelessAuthenticationFilter is supposed to work.

Validation of accessToken always fails with message":

[2020-04-24 12:44] alam-R commented on #476
I used a third party decoder from auth0 in my java and what I received is:

Failing accessToken
EdaAppRoleStatelessAuthorizationFilter : issuer:
EdaAppRoleStatelessAuthorizationFilter : https://sts.windows.net/{tenant-id}/
EdaAppRoleStatelessAuthorizationFilter : algorithm:
EdaAppRoleStatelessAuthorizationFilter : RS256
EdaAppRoleStatelessAuthorizationFilter : audiences:
EdaAppRoleStatelessAuthori

[2020-04-24 16:19] saragluna commented on #476
@alam-R  Yes, it's normal.

[2020-04-24 16:25] saragluna commented on #637
@jpnaidu07 Will look into this.

[2020-04-24 17:57] alam-R commented on #476
Nice, but is it normal for AppRoleStatelessAuthorizationFilter not to be able to verify the accessToken?

[2020-04-24 21:33] veljkoz commented on #476
If I remember the issue we had, it got resolved by changing the config - some of the values accept both URL or GUID (not sure which ones now) -> simply replacing one with the other did the trick (I think we ended up with GUIDs). But, that was a while back, so take this with a grain of salt... also, I know we also switched between adal/msal, and observed issues in one, but not the other (probably b

[2020-04-26 02:39] #858 closed

[2020-04-26 02:43] #824 closed

[2020-04-26 02:49] saragluna commented on #856
Sorry for the late response.

The scenario you described could be handled by put `MyFilter` before `AADAuthenticaionFilter`, which needs code change to the `AADAuthenticationFilter` to skip processing when current context is authenticated.
We're planning to add such changes and will let you know when it's done.

[2020-04-26 09:36] saragluna commented on #476
@alam-R Could you share more info about your access token?

[2020-04-26 12:17] alam-R commented on #476
Yes sure. We have an angularJS frontend, where we use msal js in order to authenticate and receive idToken and acquire silently an accessToken. The later is sent to a sprint boot backend API which tries to authorize the requests based on the accessToken. But every time we encounter Invalid Signature.
If the frontend sends the idToken instead then the flow works perfectly.
I am not sure if you need

[2020-04-26 12:21] saragluna commented on #476
@alam-R Could you share the scope used to request the access token？ And the audience of the token？

[2020-04-26 15:02] saragluna commented on #856
Created a PR #872  for this.

[2020-04-26 15:03] saragluna commented on #871
Created a PR to handle such scenario #872.

[2020-04-27 06:58] alam-R commented on #476
scopes: ["user.read", "openid"]
The aud is the Application (client) ID.

[2020-04-27 07:28] jpnaidu07 commented on #637
@saragluna thanks for quick response

I have the dependency spring cloud config in my project
<dependency>
			<groupId>org.springframework.cloud</groupId>
			<artifactId>spring-cloud-starter-config</artifactId>
		</dependency>
along with actuator
<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-actuator</artifactId>
		</dependency>

then im using
<depe

[2020-04-27 07:36] Gaboxondo commented on #856
Thenk you so much @saragluna, I will be aware of changes :)

[2020-04-27 08:40] nikhilingole commented on #871
@saragluna  - Thanks for considering this.
Any idea on what release this would be part of and when it would be GA.

[2020-04-30 13:58] FireDrunk opened #874 "AppRole Example"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Windows
- Java version:
 - OpenJDK 11

## Summary
All examples use the Graph API and leverage a secondary call to get the Groups from the user.
We want to use AppRoles instead.

https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps

## Reproduce steps
Several ex

[2020-04-30 15:29] ssrm opened #875 "Option to set TTL on Container level using azure spring boot starter cosmos"
## Environment
- Spring boot starter:

  - cosmosdb spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.11

## Summary
I am using azure-cosmosdb-spring-boot-starter: 2.2.4 and looking for an option to set TTL on container level. Is there any such thing available currently? At-least I didn't find any documentation.

If we can do that using application.properties, can someone