[2020-05-01 07:17] saragluna commented on #875
Thanks for reaching out and we'll investigate this.

[2020-05-01 07:20] saragluna commented on #874
Thanks for reaching out but now we do not have such solutions. One possible solution is implementing such a filter in your code and plug it into the filter chain. We'll consider the idea to enhance our filters but that will take a while.

[2020-05-01 13:59] cccs-cat001 opened #876 "mvn clean install fails at root of project"
## Environment
- Spring boot starter: project root

  - active directory spring boot starter
  - cosmosdb spring boot starter
  - key vault spring boot starter
  - media services spring boot starter
  - service bus spring boot starter
  - storage spring boot starter

- OS Type: Linux
- Java version:

  - 1.11

## Summary

When I do `mvn clean install` at the root of the project it fails with
[code

[2020-05-01 14:41] cccs-cat001 commented on #876
Here's a debug output of the error:
[code]

[2020-05-01 15:23] cccs-cat001 commented on #876
It actually works fine in java 1.8, but not 1.11. Your documentation says it works with 1.8+.

[2020-05-02 21:24] cccs-cat001 opened #877 "AAD "Could not sign you in. please try again""
## Environment
- Spring boot starter:

  - active directory spring boot starter

- OS Type: Linux
- Java version:

  - 1.8

## Summary
Testing out the example code given tells me "could not sign you in please try again" when I hit it.

## Reproduce steps
My application.properties is:
[code]

The app registration has api permissions listed above (openid, user.read), it is set up with a redirect URI

[2020-05-02 22:04] canburak opened #878 "azure-client-authentication v1.6 causes a build warning, should be fixed by upgrading to 1.7.0+"
## Environment
- Spring boot starter:

  - key vault spring boot starter

- OS Type: MacOS
- Java version:
  - 1.11

## Summary

I am depending on `azure-keyvault-secrets-spring-boot-starter:2.2.4`, which was the latest release while creating this ticket.

My build output has the following message:
[code]
I am using maven, with a simple dependency definition:

[code]

When I tracked this issue and

[2020-05-03 15:48] anandfmr commented on #705
Hi,
Even I am facing the same issue as describer by jhauray above. Is this resolved or any guidance would be highly appreciated.

[code]

[2020-05-04 04:18] anandfmr opened #879 "Azured Ad spring starter with Spring webflux"
Hi,

Does Azure Ad starter support reactive spring. I see following error when trying to use it in my project.

[code]

[2020-05-04 16:32] millionseleshi commented on #526
migrated to this

**id 'org.springframework.boot' version `'2.2.6.RELEASE'
azure-active-directory-spring-boot-starter:2.2.0**

application.yml

[code]

**Note**:-  azure.activedirectory.active-directory-groups=group1, group2.... this is deprecated

[2020-05-06 01:51] saragluna commented on #878
Thanks for reporting this, we'll look into this soon.

[2020-05-06 02:09] saragluna commented on #877
Thanks for reaching out. It seems like an issue reported by the login system. Have you tried again after that?

[2020-05-06 02:12] saragluna commented on #879
Thanks for reaching out, but the Azure AD starter does not support reactive stack for now.

[2020-05-06 02:14] yiliuTo commented on #876
Thanks for reporting this, we'll look into this soon.

[2020-05-06 10:18] alam-R commented on #476
@saragluna  do you have any update? do you need more information?

[2020-05-06 10:27] saragluna commented on #476
@alam-R more details would be helpful. Is the scope (user.read) you provided defined in your application?

[2020-05-06 13:46] cccs-cat001 commented on #877
Yes it would always give me the same thing. I managed to get it working by setting the oauthimplicit flow to true, and playing around with the callback urls. For anyone also having this issue, I set my callback url to localhost:8080/login/oauth2/code/azure on both the app and on the app registration on azure

[2020-05-07 05:18] jpnaidu07 commented on #637
@saralguna any update?

[2020-05-07 09:57] saragluna commented on #637
@jpnaidu07 Sorry for the late response.
 I've run the [demo project ](https://github.com/VikramNisarga/key-vault-demo/) and got the same logs as you encountered. Still digging into it to find the root cause.

[2020-05-08 11:24] alam-R commented on #476
I've changed the scope from  ["user.read", "openid"] to ["Application (client) ID/.default"] and accessToken is validated in the backend successfully!

[2020-05-11 06:30] chenrujun commented on #637
Hi, @VikramNisarga , I can not reproduce your problem.
Could you please try [my demo](https://github.com/chenrujun/key-vault-demo)

Here is the log in my machine:
[code]

[2020-05-11 15:02] VikramNisarga commented on #637
@chenrujun I need some time as I don't have the setup handy(it's been almost an year since I had this issue) nevertheless I'll try your demo project in sometime. If I recall correctly the issue was only with Eclipse OpenJ9 JVM, Are you running with OpenJ9 ? This is just my observation. @jpnaidu07 are you facing this issue on hotspot?

[2020-05-11 17:07] echurchm commented on #813
Is there any update on this request?  I would like this capability plus the ability to support multiple audiences.  This would be very easy if the DefaultJWTClaimsVerifier was an inject-able bean.
Per the comment above, I don't see how overriding UserPrincipleManager is easy.  If you give me a little more direction, I will definitely try.

[2020-05-11 18:16] jpnaidu07 commented on #637
Hi @chenrujun as i already mentioned,

Along with those dependencies it seems it is explicitly fetching all secrets one by one  (Normally it should fetch the secret whenever we use that secret in the project using @value or @Environment and that is how it is expected to work even along with those dependencies).

**when there are no dependencies (actuator and spring cloud ) it is working fine as us

[2020-05-11 22:22] V1ct0rV commented on #799
Hi,

I'm using an application that needs the properties in the correct Case, I'm adding to KeyVault with the proper case but Key Vault Operation is changing to lowercase....

Is there a way to avoid this and use original case?

Thanks in advance.

[2020-05-12 00:47] anumalasri commented on #855
We are also experiencing same issue with below stack trace
Using  `azure-storage-spring-boot-starter v2.2.2` and with Azure Storage Resource of `StorageV2 (general purpose v2)`

[code]

Is there any fix or workaround for this issue ?

[2020-05-12 01:12] chenrujun commented on #637
I use JDK 11.

[2020-05-12 01:46] chenrujun commented on #637
@jpnaidu07

It looks good.

In my understanding, it should be exactly 150 times, not more than 150 times.

VPN make it slow, that's the key point, I guess.

In my understanding, current logic is like this:
1. Try to get the property value from "systemEnvironment".
2. If there is no such property name, it will get from key vault.
3. If the is no such property in key vault, the code will try to get

[2020-05-12 01:52] chenrujun commented on #637
@jpnaidu07
I updated [my demo](https://github.com/chenrujun/key-vault-demo) according to your description.

[2020-05-12 02:09] chenrujun commented on #637
@VikramNisarga @jpnaidu07
**Which version are you using? I found `fillSecretsList()` was added on `2019-10-22`, `fillSecretsList()` maybe already solved your problem.**
Related code: https://github.com/microsoft/azure-spring-boot/blame/master/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultOperation.java#L107

[2020-05-12 04:46] jpnaidu07 commented on #637
@chenrujun  thanks for the detailed response.

Im using spring-cloud-starter-config not spring-boot-starter-cloud-connectors i meant specific dependency.
Im using azure-keyvault-secrets-spring-boot-starter version 2.1.7 and now tried with 2.1.6 as in your demo but result is the same

I have modified the pom from your demo project please use this for sure u will be able to replicate the reponse.

<

[2020-05-12 12:05] jpnaidu07 commented on #637
@chenrujun are you able to replicate the issue?

[2020-05-12 14:09] anumalasri commented on #854
Any timeline or roadmap, you can share for this update ??

[2020-05-13 00:07] rahpuser commented on #549
Hey, did you find a good alternative ?

[2020-05-13 01:10] chenrujun commented on #637
@jpnaidu07
Now I can replicate this issue. Thank you for your detailed description.
Now I'm fixing it.

[2020-05-13 02:29] yiliuTo commented on #854
Hi, currently we are migrating this repo to [https://github.com/Azure/azure-sdk-for-java](url), and for the mentioned consideration the storage starter will be deprecated. Then we will put it in a sample of how to use Azure storage.

[2020-05-13 07:35] saragluna commented on #799
@V1ct0rV

Could you please share your scenario, like when and where you need to leverage the property name with the correct case?
And for your question, you could set another entry in the properties file, to reference the one configured in the key vault, like `propertyWithCorrectCase=${propertyConfiguredInKeyVault}`.

[2020-05-13 09:59] anuragmishraiiitm opened #883 "downloads only 4mb file while the original file size is 200mb"
https://github.com/microsoft/azure-spring-boot/blob/7a2cb9647fd2c5f3d45bee5faa55291a5231a066/azure-spring-boot-samples/azure-storage-spring-boot-sample/src/main/java/sample/storage/StorageService.java#L48

[2020-05-13 19:20] V1ct0rV commented on #799
Hi, I want to load application properties from Azure Key Vault through Config Server, so I create an Azure Key Vault Backend, it is working, but all the secret keys on Azure KeyVault are in lowercase and one of our config server client, specifically the one in dotnet-core is case sensitive, so is not loading those secrets..

[2020-05-14 01:40] yiliuTo commented on #883
Thanks for reaching out. Is there any error log info? Or the code runs normally but the downloading content is different from its original file?

[2020-05-14 01:58] seanli1988 commented on #799
I'm raising a feature request to the Azure key vault team to support case sensitivity. You can help by cast your vote here. https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/33931111-secret-names-do-not-support-special-characters

[2020-05-14 03:02] yiliuTo commented on #883
Hi, the `azure-storage-blob` dependency that this `azure-storage-spring-boot-starter` refers to is too old and there would be some bugs then. You can update it to a higher version to see if the problem still exists, for example, add the following dependency in _pom.xml_ :

      <groupId>com.azure</groupId>
      <artifactId>azure-storage-blob</artifactId>
      <version>12.6.0</version>
</depende

[2020-05-14 03:08] yiliuTo commented on #855
Hi, the `azure-storage-blob` dependency that this `azure-storage-spring-boot-starter` refers to is too old. You can update it to a higher version to see if the problem still exists, for example, add the following dependency in _pom.xml_ :

      <groupId>com.azure</groupId>
      <artifactId>azure-storage-blob</artifactId>
      <version>12.6.0</version>
</dependency>

[2020-05-14 05:35] V1ct0rV commented on #799
Case sensitivity is no related with key vault, Key vault send secrets with proper case, this line on `KeyVaultOperation.java` is the root cause:

https://github.com/microsoft/azure-spring-boot/blob/646a458325bd564fd0a1f33d617c4df55662d008/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultOperation.java#L159

[2020-05-14 05:38] saragluna commented on #799
@V1ct0rV Yes, that's the root cause. We're trying to fix the issue now.

[2020-05-14 12:37] WhoAteDaCake commented on #476
Thank you so much @alam-R I've been trying to solve this for so long....

[2020-05-15 20:53] mocleiri opened #886 "Netty Dependency issues using keyvault in azure-spring-boot 2.2.4"
## Environment
Spring boot starter:
-  active directory spring boot starter
- cosmosdb spring boot starter
- key vault spring boot starter
- service bus spring boot starter
- application insights spring boot starter
- sql server database driver
- msal identity library

- OS Type: Linux (Azure Web App)

- Java version:
  - 11

## Summary
When starting a spring boot application using azure-spring-bo

[2020-05-16 03:09] estaylorco opened #887 "In the context of Key Vault, existing application properties that contain a mixture of dots and dashes don't map correctly"
## Environment
- Spring boot starter:
  - azure keyvault secrets spring boot starter

- OS Type: MacOS
- Java version:
  - 11.0.2

## Summary
Existing application properties that contain a mixture of dots _and_ dashes do not map correctly from Key Vault.  By "existing" I mean properties that I, myself, did not create and, therefore, whose names I cannot control.

## Reproduce steps
Imagine working

[2020-05-16 13:09] cybersuv commented on #661
Its almost one year old post here. Is the stateless implementation of Azure AD spring boot starter released as maven repository yet ?

[2020-05-16 15:14] anumalasri commented on #855
@yiliuTo ..  Do you want us to add dependency `com.azure:azure-storage-blob:12.6.0` along with `azure-storage-spring-boot-starter` ?    Does both versions compatible each other?  _Please confirm._

If you are suggesting not to use `azure-storage-spring-boot-starter`, then we believe, its bigger discussion on the dependency update process..   Spring Boot starter has all configuration required for S

[2020-05-18 00:51] saragluna commented on #661
@cybersuv
Yes, it's been released.

[2020-05-18 01:31] yiliuTo commented on #855
Hi, @anubhavranjan. Currently we are migrating the `azure-spring-boot` repo to `azure-sdk-for-java`, and during this process, `azure-storage-spring-boot-starter` will be deprecated but we will give a sample of how to use Azure Storage Blob. Thus we recommend that you can use the `com.azure:azure-storage-blob` dependency directly with a closer version instead of the starter.

[2020-05-18 06:04] anubhavranjan commented on #855
@yiliuTo Did you mean to tag @anumalasri ?

[2020-05-18 06:11] yiliuTo commented on #855
Sorry for my misoperation.

[2020-05-18 07:44] mcarleio commented on #874
We are using the app roles approach with this library in version 2.2.1. Sadly, with the current version (maybe due to ADAL to MSAL change in 2.2.3 ?) this is no longer possible.

[2020-05-18 09:22] mcarleio opened #888 "AADSTS65001: The user or administrator has not consented to use the application with ID '<uuid>' named '<name>'. Send an interactive authorization request for this user and resource"
## Environment
- Spring boot starter
  - active directory spring boot starter

- OS Type: Linux
- Java version:
  - 11

## Summary
We are using the AppRole approach (see also #874). This was working with version 2.2.2 and stopped working with 2.2.3/2.2.4 with the following message (replaced some values): `AADSTS65001: The user or administrator has not consented to use the application with ID '<uui

[2020-05-18 09:27] saragluna commented on #888
Thanks for reporting this, we'll look into it ASAP.

[2020-05-18 09:40] saragluna commented on #874
@mcarleio we'll look into this issue ASAP. Close this issue since another one's created for your question.

[2020-05-18 09:40] #874 closed

[2020-05-18 09:55] saragluna commented on #887
Thanks for bringing this up and we'll consider this approach.

[2020-05-18 09:57] saragluna commented on #886
Thanks for reaching out and we'll look into it.

[2020-05-18 18:58] echurchm commented on #813
I would appreciate any information you can provide.

[2020-05-19 01:46] saragluna commented on #813
@echurchm, sorry for the late response. Were are evaluating implementing this kind issuer check in the UserPrincipalManager but it will take a while. In the meantime, PR is welcome.

[2020-05-19 01:51] saragluna commented on #886
@mocleiri, I guess this could be related to upgrading cosmos SDK version in the 2.2.4 release. Could you help provide your pom file so we could locate the dependency conflicts.

[2020-05-19 01:54] saragluna commented on #877
Closing this issue.

[2020-05-19 01:54] #877 closed

[2020-05-19 01:57] saragluna commented on #869
No updates on this issue, so close it for now.

[2020-05-19 01:57] #869 closed

[2020-05-19 12:32] mocleiri commented on #886
I couldn't upload the xml file directly so I renamed it to a txt file.

[pom-xml.txt](https://github.com/microsoft/azure-spring-boot/files/4650392/pom-xml.txt)

[2020-05-19 15:37] #637 closed

[2020-05-19 16:21] jmax01 commented on #867
The issue still exists in the new implementation. I will supply a new PR.

[2020-05-19 16:57] anumalasri commented on #855
I already mentioned my comments on 'not using `azure-storage-spring-boot-starter`'.

Not we are hearing about deprecation of `azure-storage-spring-boot-starter`.  However, we could see the updates to latest Spring Boot v2.2.4.

@yiliuTo
 We find any traces about deprecation, you mentioned. Is this deprecation only for Storage or all other components ?   Where can we find more details and plan for

[2020-05-20 05:49] jialindai commented on #855
@anumalasri, thanks for the detailed feedbacks, I'd like to share some context / plan on the storage starter.

Currently there are two Spring starters for Azure Storage:
- azure-storage-spring-boot-starter
- spring-starter-azure-storage
  - which is in another repo: https://github.com/microsoft/spring-cloud-azure

There is plan to combine them, which is deprecate azure-storage-spring-boot-starter

[2020-05-20 09:41] Gaboxondo opened #892 "AADAppRoleStatelessAuthenticationFilter OR CustomFilter verification is not possible"
I am trying to develop an application with JWT security, but in this case I have two JWT filters:
 - AADAppRoleStatelessAuthenticationFilter
 - CustomFilter for own DDBB securization.

In my case I have to be able to use both filters, that is, it must pass one filter OR another. If onle of the filters creates the autentication with the JWT token provided is enough to be able to make the request.

[2020-05-20 09:56] saragluna commented on #892
Thanks for reaching out, we've added some check in our filter, to only check tokens issued by Azure AD. Please see #872. Could this solve your problem?

[2020-05-20 15:24] #784 closed

[2020-05-20 15:26] #819 closed

[2020-05-21 03:26] yiliuTo commented on #888
Hi, @mcarleio. I have done the reproduced steps as you mentioned with version 2.2.4 while I cannot reproduce your issue. Therefore, would you like to share your manifest and other configurations about your AAD? For example, the `API permissions` of your app registration, are they be consented by the admin and if they match the `scope` parameter of the authentication request url or not?
If there ar

[2020-05-21 07:06] yiliuTo commented on #854
Hi, now we have updated the [sample project](https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob#sample-for-azure-blob-storage-spring-boot-client-library-for-java) about using Azure Blob storage with Spring Boot, you can refer to it.

[2020-05-21 07:10] yiliuTo commented on #855
For the sample project about using Azure Blob storage with Spring Boot, you can refer to [this](https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob#sample-for-azure-blob-storage-spring-boot-client-library-for-java).

[2020-05-21 10:09] #661 closed

[2020-05-21 15:23] lhanson commented on #661
When? What version? How would people following this issue ever have known that without noticing how old it is and trying to bump the conversation?

[2020-05-21 16:47] saragluna commented on #661
It's been released for a while and after this #512 went into master branch. You could try it with latest version, either 2.1.10 with Spring Boot 2.1.x or 2.2.4 with Spring Boot 2.2.x.

[2020-05-21 23:29] antbewes commented on #758
I fixed this by dropping the azure-active-directory-b2c-spring-boot-starter and following this guide, I think name attribute is not mandated using the oauth/v2.0 endpoint but the starter was going to the v1 endpoint: https://github.com/microsoft/azure-spring-boot/wiki/Spring-Security-5.1.x-OIDC-Integration-(For-spring-boot-2.1.x)

[2020-05-22 15:15] paulnuk opened #897 "Needs to Support Spring Boot 2.3.0"
## Summary

As Spring Boot 2.3.0 is out, there needs to be an accompanying release here.

[2020-05-23 11:37] cybersuv commented on #661
Good to know this. But, why I am still receiving the below error ?

`"failureReason": "The application tried to perform a silent sign in and the user could not be silently signed in. The application needs to start an interactive flow giving users an option to sign in. Contact app owner."`

Is there any specific type of app registration needed to support stateless implementation ? My use case is as

[2020-05-24 06:04] saragluna commented on #661
@cybersuv

In your case both stateful and stateless filters could be used. But the configurations you listed are for OAuth 2 login which is not suitable for your case. If you want to use users' groups (will send requests to Microsoft Graph) to do authorization, please refer to this [sample](https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-active-directory-

[2020-05-25 03:35] saragluna opened #898 "Storage URL only supports Azure Cloud"
## Environment
- Spring boot starter:

  - storage spring boot sample

- OS Type: Windows/Linux/MacOS
- Java version:

  - 1.8

## Summary

[storage blob url](https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob/src/main/java/com/microsoft/azure/storage/StorageConfiguration.java) is hardcoded in this sample and doesn't work for

[2020-05-25 08:40] snicoll opened #899 "Remove `spring.springframework.version` property"
`azure-spring-boot-parent` imports the Spring Boot BOM which will configure the proper version of Spring Framework. Having a [property for Spring Framework](https://github.com/microsoft/azure-spring-boot/blob/5726a22a6f24324c91c6cb96bc7b838eb6f5a4e8/azure-spring-boot-parent/pom.xml#L31) is misleading and should be removed.

[2020-05-25 09:28] #897 closed

[2020-05-26 09:16] #899 closed

[2020-05-26 09:24] dvut opened #901 "userNameAttribute setting is ignored"
## Environment
- Spring boot starter:

  - active directory spring boot starter (tested with 2.2.4 and 2.2.5-SNAPSHOT)

- OS Type: Windows
- Java version:

  - 11

## Summary

The user name attribute setting is ignored, the value of the "name" attribute is used instead.

## Reproduce steps

Set the user name attribute in application.properties using:
`spring.security.oauth2.client.provider.azure-o

[2020-05-26 09:28] dvut commented on #736
Any chance that this issue might be fixed eventually?

Which attribute to return should follow the userNameAttribute / user-name-attribute setting I guess. That setting is currently also broken however, see: #901

[2020-05-27 05:01] jpnaidu07 commented on #637
Hi @saragluna @chenrujun
is the issue fixed?
Can i know a brief about root cause of this issue?
Thank you!!:)

[2020-05-27 07:47] Gaboxondo commented on #892
Hi @saragluna which tag did you created for this merge into master? i mean which version should I use?
Thanks!

[2020-05-27 10:14] yiliuTo commented on #892
Hi, this merge has not been released yet. For the mentioned update, you could try our snapshot version of [2.2.5-snapshot](https://github.com/microsoft/azure-spring-boot/tree/2.2.x).

[2020-05-27 11:14] chenrujun commented on #637
@jpnaidu07

Yes.

Originally, our class extends `EnumerablePropertySource`, spring-cloud-config will try to get all property value.

Now we changed to `PropertySource`, spring cloud will not get all property value anymore.

Please check the PR for more information.

[2020-05-27 15:49] nikhilingole opened #903 "For an Invalid/Expired JWT Token Server Exception should not be thrown. Response status should not be 500 but 401."
Azure Spring Boot starter dependency version 2.2.4
(Also tried with 2.2.0 )

## Environment
- Spring boot starter:

  - active directory spring boot starter
  - key vault spring boot starter

- OS Type: Windows & Linux
- Java version:
  - 1.8

## Summary
For an invalid/expired JWT token, AADAppRoleStatelessAuthenticationFilter  throws ServletException which results in status code 500 and an "Inter

[2020-05-28 06:14] cybersuv commented on #661
@saragluna

Using the second sample link, I updated my code. But, getting following error.

`2020-05-28 10:24:50.605 ERROR 19452 --- [nio-8080-exec-1] .AADAppRoleStatelessAuthenticationFilter : Failed to initialize UserPrincipal.

com.nimbusds.jose.RemoteKeySourceException: Couldn't retrieve remote JWK set: Read timed out
	at com.nimbusds.jose.jwk.source.RemoteJWKSet.updateJWKSetFromURL(RemoteJWKS

[2020-05-28 06:14] jpnaidu07 commented on #637
Thank u @chenrujun

you guys are the best!!!!

[2020-05-28 09:34] yiliuTo commented on #901
Hi, @dvut . The `userNameAttribute` value is contained in providers during construction of a client registration. So if you want to set `spring.security.oauth2.client.provider.azure-oauth-provider.user-name-attribute`, then you need to set this as well.

Otherwise the default provider `azure` will be chosen which contains the default `userNameAttribute` vaule of "name".

Besides, the attribute `us

[2020-05-28 09:41] yiliuTo commented on #736
Hi, @dvut . We can discuss your question in #901 , which is not the same as the issue here.

[2020-05-28 13:00] qgicup commented on #796
I am also stuck with this one

[2020-05-28 13:52] saragluna commented on #903
Thanks for reporting this.

[2020-05-29 06:00] yiliuTo commented on #796
Hi, @qgicup . Can you give a detailed description of your issue? Or have you tried the [b2c sample](https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-active-directory-b2c-oidc-spring-boot-sample) ?

[2020-05-29 14:49] carlosraphael commented on #853
hi @saragluna I'm having the same issue using:

- Java -> 8
- Spring Boot -> 2.1.2.RELEASE
- Spring Azure Key Vault Secrets -> 2.1.10

[2020-05-29 19:42] ssrm commented on #875
Any update?

[2020-06-01 01:30] yiliuTo commented on #661
Hi @cybersuv , you can refer to #417 to see whether you issue can be solved.

[2020-06-02 01:45] yiliuTo commented on #840
Hi @venukbh , if you want to get the value out of the key vault then you can access the Environment directly instead of  using @Value, because  @Value is resolved at the time the @Component is
constructed and after that never updated (unless the entire ApplicationContext is restarted).

just an example:

And then use environment.getProperty(“propertyName”);

Besides, the property `azure.keyvault.r

[2020-06-02 05:16] venukbh commented on #840
@yiliuTo In my above steps to reporduce, I did not any where used `azure.keyvault.secret.keys` property. As per documentation, I agree that if I use `azure.keyvault.secret.keys`, may be the keys will not refresh.

So, as you mentioned, will using `Environment` help in refreshing the keys? or is it just a try you are suggesting?

[2020-06-02 06:33] jialindai commented on #847
Hi @sdandey , could you try new released 2.3.1 which added support for proxy?

[2020-06-02 16:03] mrm9084 opened #906 "[Bug] Key Vault Secrets loaded multiple times"
## Environment

- Spring boot starter:

  azure-keyvault-secrets-spring-boot-starter

- OS Type: Windows
- Java version:
  - 1.8

## Summary

 When used with another configuration provider the key vault values are loaded multiple times. I see the values load 4 times, though someone else sees 8.

Initially reported here, https://github.com/Azure/AppConfiguration/issues/306, but seems to be a Key Va

[2020-06-02 16:10] mrm9084 opened #907 "[Feature Request] Key Vault Secrets only load on startup"
## Environment
- Spring boot starter:

azure-keyvault-secrets-spring-boot-starter

- OS Type: Windows
- Java version:

  - 1.8

## Summary
A feature should be added to the starter that allows secrets to be loaded only on startup. The not setting refreshing the refresh doesn't work when using another external configuration provider. i.e. spring-clould-azure's Azure App Configuration provider. When

[2020-06-02 17:30] mcarleio commented on #888
Hi @yiliuTo
Sorry for late answer. Regarding the manifest I can only share it with a lot of escaped data.
I will try to reproduce this behaviour the next days with a small sample application.

Forgot to mention: In version 2.2.2 nobody had any problem to SSO. In version 2.2.4 anybody (except myself) got the upper exception. Maybe I have some special role, as I created the application in Azure AD a

[2020-06-03 01:16] yiliuTo commented on #888
Thanks for your infomation, @mcarleio , I will try to reproduce it and look into this issue.

[2020-06-03 04:57] anumalasri opened #908 "KeyVault ProperSources in Spring Actuator"
## Environment
- Spring boot starter:
  - key vault spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:  1.8

## Summary

By upgrading `azure-spring-boot-bom:2.3.1`, We are unable to find Azure KeyVault data in Spring Actuator URL `/actuator/env'

## Reproduce steps

Update Bom version `'com.microsoft.azure:azure-spring-boot-bom:2.3.1'`
Also enable Spring Actuator

Access Spring ac

[2020-06-03 08:46] yiliuTo commented on #875
Hi @ssrm , the cosmosdb sdk we depend on does not provide the feature that sets TTL on container level and destroys a container according to it. Besides, we think the TTL parameter is usually maintained by the server not the client.

If you think the feature is necessary then could you share your case and requirement for the reason to set TTL on container level by client?

[2020-06-03 09:08] yiliuTo commented on #908
Hi @anumalasri , you can wait for this [PR](https://github.com/microsoft/azure-spring-boot/pull/896).

[2020-06-03 12:39] mcarleio commented on #888
Ok, I probably found the problem causing this: Under API permissions, we have "User.Read.All" but not "User.Read". For some reason this was working with versions prior to 2.2.4.
I am not 100% sure, as I am waiting for some admin to add the "User.Read" permission and grant it, but in my small demo application, this was the factor to reproduce the error.

[2020-06-03 12:58] anumalasri commented on #908
Thanks @yiliuTo ..  I believe, this PR would be part of next release.  May I know ETA for next release ?

[2020-06-03 20:21] ssrm commented on #875
Hi @yiliuTo ,

Thanks for your reply.

We create containers/documents from java applications. I think most people do this way. We can set document level TTL, but which is applicable only when there is container level TTL set. As per Azure Docs : https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live#time-to-live-for-containers-and-items

By saying Azure Cosmos provides Java SDK to create co

[2020-06-03 20:50] suhas9844 opened #909 "Spring boot Application hangs and does not start with Azure Key Vault Starter dependency when asked to bring all keys from key vault"
## Environment
- Spring boot starter:

  - key vault spring boot starter

- OS Type: MacOS
- Java version:

  - 1.9

## Summary

Spring boot Application hangs and does not start with Key Vault Starter.
## Reproduce steps

Use this version of key valut starter
[code]

use this below configuration in application.properties and try to start the project
azure.keyvault.enabled=true
azure.keyvault.uri=#

[2020-06-03 22:04] suhas9844 commented on #909
The above issue is solved with adding the below property
azure.keyvault.secret.keys=iothubconn

But now it gives a new error:
2020-06-03 17:02:00.0956|ERROR||reactor.util.Loggers$Slf4JLogger:319|[id: 0x50f5772e, L:/10.0.0.25:61508 - R:m3cg-key-vault.vault.azure.net/13.66.230.241:443] Error was received while reading the incoming data. The connection will be closed.
java.lang.NoSuchMethodError: 'ja

[2020-06-03 22:09] suhas9844 commented on #909
dependency tree:

[INFO] com.m3cg.us:M3CGIoTWebAPi:jar:0.0.1-SNAPSHOT
[INFO] +- com.opencsv:opencsv:jar:5.2:compile
[INFO] |  +- org.apache.commons:commons-lang3:jar:3.10:compile
[INFO] |  +- org.apache.commons:commons-text:jar:1.8:compile
[INFO] |  +- commons-beanutils:commons-beanutils:jar:1.9.4:compile
[INFO] |  |  +- commons-logging:commons-logging:jar:1.2:compile
[INFO] |  |  \- commons-colle

[2020-06-03 22:33] suhas9844 commented on #909
Update after adding azure core where the above method is present the No such method error is solved, azure cosmos sdk brings 1.4.0 version of azure core Jar.

[code]

[2020-06-04 03:00] yiliuTo commented on #840
Hi @venukbh , I have tried using `Environment.getProperty()` and it calls the function `KeyVaultOperation.get()` and `KeyVaultOperation.getPropertyNames()`, which will refresh the keys if the requirements we discussed are met.

[2020-06-04 06:03] yiliuTo commented on #875
Hi @ssrm . Please ignore my last comment because I just found that the spring data cosmos repo provides TTL on container level by using the annotation [@Document](https://github.com/microsoft/spring-data-cosmosdb/blob/f62cf3670b54c048599d07ad4b99a51112e4eb52/src/test/java/com/microsoft/azure/spring/data/cosmosdb/domain/TimeToLiveSample.java#L17). Sorry for my mistake and for more detailed informat

[2020-06-04 07:51] yiliuTo commented on #908
Hi, the next release will be 4-5 weeks later.

[2020-06-04 12:02] ssrm commented on #875
TTL you are mentioning is only on Document (Item) level TTL. But this is not going to be valid until we set container level TTL, while I would like to set in application properties as its going to be read on startup.

See difference here for container level TTL vs Document level TTL

 https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live#time-to-live-for-containers-and-items

[2020-06-04 12:27] ssrm commented on #875
I am using 2.2.4, which didnt pull the fix for some reason, by upgrading to 2.3.1 I did see source code with a fix(need to test). Based on the code what I understand, if document level set it just enables the container level ttl.

I thought, it would be nice to have thing if we can set TTL via application properties. Not sure, if its already doing it.

[2020-06-05 02:02] yiliuTo commented on #888
Hi @mcarleio . Do you mean you use "User.Read.All" instead of "User.Read" and then version 2.2.4 gets the exception of "AADSTS65001"?
Besides could you share how you use the AppRole approach? I tried to reproduce your issue using both the stateless sample and integration test of 2.2.4 and adding API permission of "User.Read.All", but sadly I still cannot get this exception.

[2020-06-05 03:41] chenrujun commented on #853
I reported the issue [here](https://github.com/Azure/azure-sdk-for-java/issues/11808)

[2020-06-05 03:42] chenrujun commented on #909
I reported the issue [here](https://github.com/Azure/azure-sdk-for-java/issues/11808)

[2020-06-05 11:29] mcarleio commented on #888
Hi @yiliuTo .

Yes. When we created the application in Azure AD, we removed "User.Read" and added "User.Read.All" and "Directory.AccessAsUser.All" and granted them by admin. This was working until we updated to version 2.2.4, which resulted in the upper AADSTS65001 exception.

We could fix this by readding "User.Read" and grant it by admin:
![api-permissions](https://user-images.githubusercontent.

[2020-06-05 11:29] #888 closed

[2020-06-06 08:56] letmagnau opened #911 "Azure b2c AADB2COidcLoginConfigurer"
## Environment
- Spring boot starter:

  - azure-active-directory-b2c-spring-boot-starter

- OS Type: Linux
- Java version:
 - 1.9 Java14

## Summary
I try to integrate b2c with Jhipster stack.
About Login it seems to work good because it create correctly ClientRegsitrations on top the flows
but about the UserInfo and ProviderDetails/COnfiguration Metadata aobut the spring Oidc standard it leave s

[2020-06-06 14:52] chenrujun commented on #906
Hi, mrm9084,
(cc @yiliuTo, FYI.)

This is because when app configure refreshes it will trigger out the context refreshing, and key vaults reload as well. It repeats for multiple times is due to we have more than one context. Now it seems our current behavior of app configure refreshing is not reasonable, we will continue looking into it.

[2020-06-08 02:50] saragluna commented on #476
Closing this issue.

[2020-06-08 02:50] #476 closed

[2020-06-08 03:30] yiliuTo commented on #875
According to the discussion in this [pr](https://github.com/microsoft/spring-data-cosmosdb/issues/523#issuecomment-638955385), I think @Document can help set TTL on container level. However, currently we don't have the plan to provide another implementation of setting TTL via application.properties since this feature has been satisfied via annotation.

If we are going to provide this feature via a

[2020-06-08 08:39] #853 closed

[2020-06-08 20:16] anne-p commented on #476
The solution is working for token obtained from https://login.microsoftonline.com/{tenant-id}

The solution is not working with acces token obtained from https://login.microsoftonline.com/common. Did you have any suggestion ? thx

[2020-06-09 03:34] #909 closed

[2020-06-09 05:13] saragluna commented on #823
As we're retiring some modules:
- blob storage starter
- service bus starter
- media services starter

So currently the need to be supported starters are:
- [x] the Key Vault starter
- [ ] the Cosmos DB starter

[2020-06-09 05:20] saragluna commented on #871
Sorry for the late response, we've already released it in our version [2.3.1](https://github.com/microsoft/azure-spring-boot/releases/tag/v2.3.1), but there's no release for Spring Boot 2.2.x yet, we'll make a release for 2.2.x in weeks according to our release plan.

[2020-06-09 05:27] saragluna commented on #856
Closing this issue, [release 2.3.1](https://github.com/microsoft/azure-spring-boot/releases/tag/v2.3.1) already contains this PR and we'll make a release for 2.2.x in weeks.

[2020-06-09 05:27] #856 closed

[2020-06-09 05:35] saragluna commented on #763
Closing this issue.

[2020-06-09 05:35] #763 closed

[2020-06-09 05:36] saragluna commented on #690
Closing this issue.

[2020-06-09 05:36] #690 closed

[2020-06-09 05:43] saragluna commented on #688
Closing this issue.

[2020-06-09 05:43] #688 closed

[2020-06-09 05:46] saragluna commented on #673
@nitishsinghal29
Since the Key Vault does have limitations on secrets' name, you could try [placeholders](https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-starters/azure-keyvault-secrets-spring-boot-starter#placeholders-in-properties) in property files.

[2020-06-09 05:49] saragluna commented on #549
Closing this issue for #512 has been released.

[2020-06-09 05:49] #549 closed

[2020-06-09 06:01] saragluna commented on #526
Closing this issue.

[2020-06-09 06:01] #526 closed

[2020-06-09 06:03] saragluna commented on #333
Closing this issue.

[2020-06-09 06:03] #333 closed

[2020-06-09 06:36] yiliuTo commented on #906
Hi @mrm9084 , the reason why key vault values load multiple times is as what @chenrujun talked about, it is unavoidable in the process of spring context refreshing. However, we have a [PR](https://github.com/microsoft/azure-spring-boot/pull/905/files) to cache key vault values and then when the environment reads key vault property source, these values are cached locally instead of being requested

[2020-06-09 08:46] chenrujun commented on #853
Hi, @nandha2143, please update version to 2.2.5 or 2.3.2.

[2020-06-09 09:06] saragluna commented on #911
Thanks for reaching out and we'll look into it.

[2020-06-09 14:45] ftokarev commented on #886
Fyi, I had the same issue, I solved it by specifying the version explicitly:

    implementation 'io.netty:netty-all:4.1.50.Final'

After that I got `java.lang.ClassNotFoundException: reactor.core.CorePublisher` which I solved again by specifying reactor.core explicitly:

    implementation 'io.projectreactor:reactor-core:3.3.5.RELEASE'

[2020-06-10 14:47] saragluna opened #916 "Apply all PRs created after migration began to azure-sdk-for-java repo"
This issue is used to track all PRs needed to be applied to azure-sdk-for-java repo. While this repo is still in service, we should keep track of the merged PRs here and apply them to the azure-sdk-for-java repo.
- [x] #866  @saragluna
- [x] #868  @chenrujun https://github.com/Azure/azure-sdk-for-java/pull/12134
- [x] #870  @saragluna
- [x] #872  @saragluna
- [x] #873  @saragluna
- [x] #880  @sara

[2020-06-11 06:57] salujamanish opened #917 "[Bug] azure-active-directory-spring-boot-stateless-sample Project build failed due to Unsatisfied dependency"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary
Project build failed with error  org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'AADWebSecurityConfig': Unsatisfied dependency

## Reproduce steps
Step 1: Clone the repo
Step 2: open project azure-spring-

[2020-06-11 07:07] salujamanish opened #918 "[Bug] azure-active-directory-spring-boot-stateless-sample Project API endpoint call fail's with 403 Error"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary
com.nimbusds.jwt.proc.BadJWTException: Invalid token audience. Provided value [api://XXXXX-XXXX-XXXX-XXXX-XXXXXXXXXX]does not match neither client-id nor AppIdUri.

## Reproduce steps
Step 1: Clone the repo
Step 2: open project azure-spring-boot/azure-s

[2020-06-11 08:01] salujamanish commented on #917
property for OAuth 2.0 is not relevant here. Hence closing the issue,

[2020-06-11 08:01] #917 closed

[2020-06-11 11:20] #918 closed

[2020-06-11 18:52] blacelle commented on #288
To fix this, I had to switch not `oauth2AllowImplicitFlow` but `oauth2AllowIdTokenImplicitFlow` to true

	"oauth2AllowIdTokenImplicitFlow": true,
	"oauth2AllowImplicitFlow": false,

[2020-06-12 12:37] slugophl commented on #676
Had the same issue with version 2.3.2. Is this going to be fixed?

[2020-06-13 17:42] monu18oct commented on #817
@neuqlz

Is there any update on this issue. I have tried to setup idle timeout very high but still facing same issue. Could you please provide some inputs to handle this issue.

[2020-06-13 22:36] edburns commented on #906
Internally tracked at https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/190

[2020-06-15 19:30] H2RockyRoad opened #921 "Key Vault unzipping responses"
We have implemented azure keyvault secrets spring boot starter, but it has resulted in our rest responses coming back unzipped.

## Environment
- Spring boot starter:
  - key vault spring boot starter

- OS Type: MacOS
- Java version:
  - 1.8

## Summary
When we added the dependency azure keyvault, our rest template responses are now coming back as ASCII text, when they used to come back GZipped.

[2020-06-16 01:50] #906 closed

[2020-06-16 12:22] #762 closed

[2020-06-16 13:06] DzianisShaplyka1984 commented on #817
@neuqlz

Hi, we faced with the same issue. Any updates regarding JMS starter?

[2020-06-16 16:54] iliassk opened #922 "[aad-b2c][question] How can I secure both my backend and frontend with azure-active-directory-b2c-spring-boot-starter and msal-browser?"
## Environment

- [X] `active directory spring boot starter`

- OS Type: Linux
- Java version:

  - 11

## Summary
I have a JHipster app (Spring boot + React) and I'm trying to implement the authorization code flow (w/ PKCE) to secure both my frontend (UI) and my backend (API) on Azure AD B2C.
The most recommended plugins for my use case seem to be `msal-browser` for the frontend and `azure-active

[2020-06-17 04:24] neuqlz opened #923 "# azure-keyvault-secrets-spring-boot-starter can't load secrets from keyvault properly when using config server to host application.properties"
##  Environment
- Spring boot starter:

  - key vault spring boot starter

- OS Type: Windows/Linux/MacOS
- Java version:
  - 1.8

## Summary
It is caused by the loading order of KeyvaultPropertySource and config client.
**One thing needs to be noticed that is that the logic of loading secrets from keyvault is async which can also cause some magic symptom although the order is right. I think the i

[2020-06-18 08:16] yiliuTo commented on #921
Thanks for your reporing, could you describe how you use the key vault starter in your project or just add it as a dependency?

[2020-06-18 10:09] Paizo opened #925 "cosmosdb - context load fail due to "Input byte array has incorrect ending byte at 88""
## Environment
- Spring boot starter:
  - cosmosdb spring boot starter
- OS Type: Windows
- Java version:
  - 1.8

## Summary
Following the examples at https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/how-to-guides-spring-data-cosmosdb the resulting application does not start

## Reproduce steps

A repo to reproduce the issue is available here: https://github.com/Paizo/spring

[2020-06-18 15:30] mosh2151984 commented on #853
try
[code]

[2020-06-19 04:23] yiliuTo commented on #817
Sorry, currently we don't have a concrete plan about this feature mentioned above.

[2020-06-19 05:08] yiliuTo commented on #923
Thanks for reaching out, we will look into it.

[2020-06-19 09:54] chenrujun commented on #923
1. `spring cloud property source` is added here: https://github.com/spring-projects/spring-boot/blob/v2.3.1.RELEASE/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/SpringApplication.java#L308

2. `key-vault property source` is added  here: https://github.com/spring-projects/spring-boot/blob/v2.3.1.RELEASE/spring-boot-project/spring-boot/src/main/java/org/springframework/boot

[2020-06-19 10:15] yiliuTo commented on #922
Hi @iliassk , I am not clear whether msal-brower supports authorization code flow for b2c tenant due to [this](https://www.npmjs.com/package/@azure/msal-browser) declaration and if yes how it works. As for the backend authentication with Azure B2C, you could refer to our current [sample.](https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-active-directory-b2

[2020-06-19 10:33] iliassk commented on #922
@yiliuTo Yes for msal-browser, it seems that the support for b2c is still in preview/beta.

But now I'm more interested in `azure-active-directory-b2c-spring-boot-starter`. I'm using the 2.1.10 version (for spring boot 2.1.x). I'm unable to retrieve the email from the token. And I don't understand why can't we set scopes other than openid and the object id. I want to retrieve the profile and email

[2020-06-22 01:36] chenrujun commented on #916
All PRs have merged to new repo.
I'll close this issue.

[2020-06-22 01:36] #916 closed

[2020-06-22 02:48] chenrujun commented on #923
I'll close this issue because we do not have enough reason to save key-vault's property items in spring-cloud.

[2020-06-22 02:48] #923 closed

[2020-06-22 05:52] sidyes commented on #918
Having the same issue now. How did you fix this @saragluna ?
Its working fine locally for me.

[2020-06-22 05:58] yiliuTo commented on #925
Thanks for the reporting, we will look into it.

[2020-06-22 08:25] yiliuTo commented on #925
Hi @Paizo , I have downloaded your sample and replaced the values inCosmosConfiguration.java, and I can see this application run normally. Would you please check if the property file has been filled correctly, such as no more spaces or other symbols behined the values?

[2020-06-22 08:52] prabdeb opened #926 "Not reading azure.activedirectory properties from Spring Property file passed by -Dspring.config.location=<property file>"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Linux
- Java version:
  - 1.8

## Summary
No reading `azure.activedirectory` properties (Ex. `azure.activedirectory.tenant-id`) from Spring Property file passed by `-Dspring.config.location=<property file>` in Java Command line while starting the application

## Reproduce steps
Do not hard code `azure.active

[2020-06-22 09:09] prabdeb opened #927 "Is there any way to easily activate/de-activate the active-directory authentication"
## Environment
- Spring boot starter:
  - active directory spring boot starter

- OS Type: Linux
- Java version:
  - 1.8

## Summary
Currently I am using https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-starters/azure-active-directory-spring-boot-starter for implementing AAD authentication.

I am looking for a way where I can easily activate/de-activate the active-direc

[2020-06-22 12:50] saragluna commented on #927
Thanks for reaching out. Which kind of authentication are you talking about? Is it the OAuth2.0 authorization code flow or implicit flow?

[2020-06-22 12:52] saragluna commented on #926
Thanks for reaching out. Is the issue #927 related to this one?

[2020-06-22 13:02] saragluna commented on #918
@sidyes what do you mean by `working fine locally`? Could you describe the problem you're facing?

[2020-06-22 13:05] prabdeb commented on #927
@saragluna I am using OAuth2.0 authorization code flow

[2020-06-22 13:06] prabdeb commented on #926
@saragluna No this two issues are separate. Thanks for considering this issue!

[2020-06-22 13:17] saragluna commented on #927
Is Spring profiles suitable for your case, which you could put the aad related properties in a file like `application-dev.properties` and pass `-Dspring.profiles.active=dev` to your application to activate this profile, which will activate the AAD authentication?

[2020-06-22 13:51] prabdeb commented on #927
Yes @saragluna I can have a property file specific to the environment. But what properties and values I should use so that the same application will work without Authentication?

[2020-06-22 15:56] yiliuTo commented on #922
Hi @iliassk , to get the email of users from the token, you may consider about adding email as a user attribute and claim in a proper user flow, here is [the user flow doc](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows) maybe helpful to you.
Besides, you can set scoped of email and profiles in the API permissions of APP registions in AAD B2C, these two scop

[2020-06-22 16:53] iliassk commented on #922
We don't have the authenticated "email" scope/attribute on the user flow screen. We only have the list of ALL user's "Email Addresses". I also try that for the permissions but the email claim was never collected nor sent in the id_token after being authenticated.
The only solution I found was using Identity Experience Framework's custom policies to create a custom signin/signup user flow to collec

[2020-06-23 00:29] saragluna commented on #927
I am thinking of using two properties files, such as `application-dev.properties` and `application-prod.properties`, with one containing the aad related properties and one not. When you run the application, pass the profile `Dspring.profiles.active=dev|prod` to the application.

[2020-06-23 06:07] prabdeb commented on #927
@saragluna I have already tried that, but got error, please find the details below -

Sample **application.properties** used, where no aad properties are mentioned
[code]
**ERROR** while starting the application using the above property file -
[code]

Is there any properties need to be specified in **application.properties** so that AAD loading will be skipped?

[2020-06-23 07:44] Paizo commented on #925
Hi @yiliuTo you are right it was an oversight by me, the key has trailing characters at the end.

[2020-06-23 08:32] sidyes commented on #918
It means that when I am running the server locally and run my REST calls from my (also) locally running frontend, the validation of the JWT token is working without any errors.

But when frontend and backend are deployed in our kubernetes cluster, the backend fails with the following error when validating the sent token:
[code]

The error message looks exactly the same. And by the way sorry! I acc

[2020-06-23 18:10] danipixis commented on #494
Hi,
is this issue closed by PR **https://github.com/microsoft/azure-spring-boot/pull/512**?
Thank you

[2020-06-24 01:17] yiliuTo commented on #922
Hi @iliassk , you can use the "Email Addresses" in a user flow to get email infomation about users in the id_token. Would you like to descirbe how you obtain the email claim in the code since you said you failed to collect it from the id_token? Or you can refer to our [sample](https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot-samples/azure-active-directory-b2c-oidc-sprin

[2020-06-24 02:55] mavortius commented on #288
Setting "oauth2AllowIdTokenImplicitFlow": true, and "oauth2AllowImplicitFlow": false, works for me, but after that I have some version conflict issues. To solve that, I downgraded "azure-active-directory-spring-boot-starter" to 2.2.5 and "spring-boot-starter-parent" to 2.2.8.RELEASE. That combination works for me.

[2020-06-24 08:22] iliassk commented on #922
Hi @yiliuTo, your sample doesn't seem to work. Unless you specifically define a `Display Name`. A user can enter a login as a `Display Name` which I don't want. I want the email to be the principal/login/email. But in your code, the attribute name is "hardcoded" to be the "name" claim (= Display Name attribute).
But even by declaring a custom `ClientRegistrationRepository` bean to change `userName

[2020-06-24 20:30] mnolan98-tmk opened #928 "Bottlenecking in queries"
## Environment
- Spring boot starter:

  - cosmosdb spring boot starter

- OS Type: Linux-openshift container
- Java version:

  - 1.11

## Summary
We are encountering an issue with interactions being throttled/bottlenecked when interacting with async queies to cosmos. The cosmos execution has been verified to < 40ms, but we encounter the blocking thread layer of Reactor (used by Azure Spring) to

[2020-06-25 20:57] #494 closed

[2020-06-26 11:02] duydao commented on #817
Is there a workaround for this issue?

[2020-06-28 09:36] chenrujun commented on #926
Hi, @prabdeb .

I can not reproduce you problem in my localhost with our [sample app](https://github.com/microsoft/azure-spring-boot/blob/master/azure-spring-boot-samples/azure-active-directory-spring-boot-backend-sample/src/main/java/sample/aad/AzureADOAuth2BackendSampleApplication.java).

Here is the screenshot:
![2020-06-28](https://user-images.githubusercontent.com/13167207/85943913-c66ba400-b

[2020-06-28 12:57] yiliuTo commented on #922
Hi @iliassk , sorry for the late response due to a local Festival. The `userNameAttribute` value is contained in providers during construction of a client registration. So if you want to set `userNameAttribute`, you need to set the provider as azure-oauth-provider which you can refer to this [issue](https://github.com/microsoft/azure-spring-boot/issues/901). However, in your case I think the email

[2020-06-28 13:17] saragluna commented on #928
@kushagraThapar could you please help take a look at this?

[2020-06-28 18:24] DzianisShaplyka1984 commented on #817
I disabled cache producers like this

CachingConnectionFactory connectionFactory = (CachingConnectionFactory) jmsTemplate.getConnectionFactory();

connectionFactory.setCacheProducers(false);

Work for me.

In future i plan to implement reconect functionality.

[2020-06-30 06:33] chenrujun commented on #927
Hi, @prabdeb .

Root cause:

If property `azure.activedirectory.tenant-id` is not configured, then we will not have bean `authorizedClientService` and `oidcUserService`.

Method to solve this problem:

 Add `@ConditionalOnProperty(prefix = "azure.activedirectory", value = "tenant-id")` in some place like this [demo PR](https://github.com/Azure/azure-sdk-for-java/pull/12645/files).

[2020-06-30 06:55] #925 closed

[2020-06-30 10:23] prabdeb commented on #927
Hello @chenrujun ,

I am able to start the application without any error after following the mentioned PR, however the application was always redirecting to `/login` I had to use an extra property - `spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration` to disable the authentication completely

Is it a right way to disable? If yes, can we g

[2020-07-01 02:50] chenrujun commented on #927
Hi, @prabdeb .

I added `NoLoginSecurityConfig` in the [demo PR](https://github.com/Azure/azure-sdk-for-java/pull/12645/files) to illustrate how to disable login. Please check. 🙏

And the PR will be merged. Thank you very much for your suggestion. 👍

[2020-07-01 03:49] prabdeb commented on #927
Thanks a lot for considering my request @chenrujun !

[2020-07-01 03:49] #927 closed

[2020-07-01 07:55] prabdeb commented on #926
Yes @chenrujun the application is starting without any error, but while trying to access the api I am getting 403 forbidden error, where the bearer token is correct only.

However if I do this `cp $PROPERTY_FILE_PATH /home/user/application.properties && cd /home/user && java -jar application.war` then the authentication is working properly

cc: @salujamanish

[2020-07-01 14:36] iliassk commented on #922
Hi @yiliuTo, for the `spring.security.oauth2.client.provider.azure-oauth-provider.user-name-attribute` it should also work for the spring boot azure b2c starter?

As for the email claim, I'm using the default built-in user flow. There is no email claim returning the authenticated user, only email addresses that returns ALL emails. It seems to be the case for the last 3 years: https://stackoverflow

[2020-07-02 01:45] chenrujun commented on #926
@prabdeb .

Yes, that is the root cause. It has already been discussed in [stackoverflow](https://stackoverflow.com/questions/43744892/spring-config-location-is-ignored).

And I find [related code in spring boot](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/env/PropertiesPropertySourceLoader.java#L42).

Could you

[2020-07-03 02:00] chenrujun commented on #867
This problem already fixed in our [new repo](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultEnvironmentPostProcessor.java#L59), so I'll close this issue.

[2020-07-03 02:00] #867 closed

[2020-07-03 14:49] yiliuTo commented on #922
Hi @iliassk , I misremembered AAD and AAD B2C, and the way you declare a custom ClientRegistrationRepository bean to modify userNameAttributeName can work.

Besides, you mentioned that you use the default built-in userflow, however I cannot find where it is defined in AAD B2C. All the user flows I can see is as below:
![image](https://user-images.githubusercontent.com/63028776/86479744-54d59080-bd

[2020-07-06 02:09] chenrujun commented on #926
I'll close this issues because it's caused by spring framework restriction, not by our starter module.

[2020-07-06 02:09] #926 closed

[2020-07-06 10:35] letmagnau commented on #911
this is a not respected specific of openid

[2020-07-06 10:35] letmagnau commented on #911
https://openid.net/specs/openid-connect-core-1_0.html#UserInfo

[2020-07-06 10:36] letmagnau commented on #911
any news??

[2020-07-06 14:05] H2RockyRoad commented on #921
The only thing we've done is add com.microsoft.azure:azure-keyvault-secrets-spring-boot-starter:2.2.0 to our build.gradle file. Before we got a chance to fully implement it, we noticed existing rest responses were no longer coming back GZipped.

[2020-07-07 05:56] yiliuTo commented on #921
Hi @H2RockyRoad , could you provide a sample project or code snippet about the REST request/responses settings?

[2020-07-07 09:59] yiliuTo commented on #911
Hi @letmagnau , do you mean you hope to set customized redirect URL of logout for AAD B2C but failed? Besides, what do you mean that "in implementation is stored the information AADB2CLogoutSuccessHandler"?

[2020-07-08 07:51] moarychan commented on #921
Hi @H2RockyRoad , I will focus on this issue, could you please provide more details of the code structure,? I am checking the version you mentioned.
It's best if you can provide your demo project, I can reproduce your problem faster☺

[2020-07-08 16:56] scgbear commented on #926
<details>
<summary>Internal Tracking</summary>
CSEF368746
</details>

[2020-07-09 01:26] moarychan commented on #921
Hi @H2RockyRoad , 2.2.0 version found a problem. The spring boot 2.2.0 and azure-keyvault-secrets-starter 2.2.2 version combination work well,it is recommended that you upgrade the version of keyvault-secrets to 2.2.2 version. I added a rest api, check the Content-Encoding of response header  through the Postman, it has been compressed using gzip. This is the [sample ](https://github.com/moarychan

[2020-07-09 03:19] lu-cheng commented on #886
Any update on this issue?

[2020-07-09 03:25] lu-cheng commented on #650
Any update on this issue?

[2020-07-09 03:27] lu-cheng commented on #803
Any update on this issue?

[2020-07-09 11:29] moarychan commented on #911
Hi @letmagnau , I just tried the latest sample project, it works well. The logout-success-url item must be configured, then will trigger the redirect action.
![image](https://user-images.githubusercontent.com/19926623/87033347-a7e49300-c218-11ea-8cee-5643843a4f24.png)
You can also find snippet log as follows,

[code]
If you still cannot logout successfully, I hope you can provide your dmeo project

[2020-07-13 01:45] lu-cheng commented on #650
Any update on this issue?

[2020-07-13 13:14] letmagnau commented on #911
Hi @moarychan , i'm trying to customize the @jhipster stack for Oauth2, but we are finding some trouble in different scenarios

First of all , as descirbed when the webapp redirect /logout , I would have expected that AADB2CLogoutSuccessHandler that is initialized in AADB2COidcLoginConfigurer would react and logout me also with the identity provider that I have choosen (google in this case) but it

[2020-07-14 08:15] moarychan commented on #911
Hi @letmagnau, I'm not very sure about your real environment and how to use it. I found the corresponding points based on local testing for your reference:
1. Configuration logout-success-url in yml file, will be executed in org.springframework.security.web.authentication.AbstractAuthenticationTargetUrlRequestHandler#handle
![sdk-911](https://user-images.githubusercontent.com/19926623/87401658-003

[2020-07-14 08:24] moarychan commented on #921
Hi @H2RockyRoad , is there any other update? If not, we will close this issue tomorrow.

[2020-07-14 09:22] letmagnau commented on #911
First of all, I would to thank you for your support.

For the first problem, about the logout , it can have sense. so i'm now
redirecting to localhost and it is not accessible from internet now, i'll
try with an public url

About the second issue, in the authenticate method of
OidcAuthorizationCodeAuthenticationProvider    of spring security 5 you
create mapped authority

Collection<? extends Gran

[2020-07-14 10:15] moarychan commented on #911
Hi @letmagnau , about SCOPE_/ I found some documentation, I think a simple understanding is a default configuration that can read all permissions dynamically, you can find more details [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#using-the-admin-consent-endpoint), hope it helps you.

[2020-07-15 05:39] moarychan commented on #911
Hi @letmagnau , is there any other update? If not, we will close this issue tomorrow.

[2020-07-15 05:48] #921 closed

[2020-07-15 07:07] letmagnau commented on #911
I've tried to replicate the logout problem but It not work as expected
My stack is spring boot with aure starter : 
this is my SecutiryConfiguration

@EnableWebSecurity
@EnableGlobalMethodSecurity(prePostEnabled = true, securedEnabled = true)
@Import(SecurityProblemSupport.class)
public class SecurityConfiguration extends WebSecurityConfigurerAdapter {

    private final CorsFilter corsFilter;

[2020-07-15 07:50] letmagnau commented on #911
If this can be more clear  , you can  see an azure b2c .netcore app

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C/TodoListService

in this app you have a Client Web and WEB api with scope defined

a client sign in on azure b2c and can ask to run a endpoint of a WebApi giving him a scope that the WebAPi is able to recogni

[2020-07-15 08:24] moarychan commented on #911
Hi @letmagnau , can you use teams(https://teams.microsoft.com/)? so that our communication efficiency will be higher, please find me v-moaryc@microsoft.com, or please provide your microsoft account, I will contact you.

[2020-07-15 08:55] letmagnau commented on #911
I'm here

i've invited you

i'm copperpot_susca@outllok.com

Il giorno mer 15 lug 2020 alle ore 10:24 M <notifications@github.com> ha
scritto:

[2020-07-15 08:56] letmagnau commented on #911
copperpot_susca@outlook.com

Il giorno mer 15 lug 2020 alle ore 10:55 letmagnau <letmagnau@gmail.com> ha
scritto:

[2020-07-16 07:47] saragluna commented on #911
@letmagnau posting your questions here for the record:

[2020-07-16 08:03] saragluna commented on #911
For the first question:

Now with our `azure-active-directory-b2c-spring-boot-starter` this could not be achieved since our starter only covers the case OIDC part, which means we set the scope to only `openid`. But you could add a customized `ClientRegistration` with more scopes, e.g. `https://contoso.onmicrosoft.com/api/read openid offline_access`. Please also check this: https://docs.microsoft.c

[2020-07-16 14:11] saragluna commented on #911
For the second question,

How did you create the `ClientRegistration`? It should be like this:

[code]

And then the scope will appear as an authority, check the code here: https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/oidc/userinfo/OidcUserService.java#L136.

[2020-07-16 14:12] saragluna commented on #911
For the third question,

I don't get this question. What did you mean by rest body?

[2020-07-16 14:32] saragluna commented on #911
For the forth question,

I'm afraid that AAD B2C does not provide a UserInfo Endpoint now. Please add your feedback here: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34008505-we-definitely-need-to-have-support-for-userinfo-en

[2020-07-16 14:34] saragluna commented on #911
For the fifth question,

I'm afraid so.

[2020-07-17 08:34] letmagnau commented on #911
Thanjs for support @saragluna,

about first and second question: I've already tried to implement a resource server but my question abut this are:
1) if I use
 @Override
    protected void configure(HttpSecurity http) throws Exception {
        http.authorizeRequests()
            .antMatchers("/api/**")
            .authenticated()
            .and()
            .oauth2ResourceServer(OAuth2Resourc

[2020-07-17 08:35] letmagnau commented on #911
sorry I have closed it for mistake

[2020-07-17 10:53] letmagnau commented on #911
sorry I have closed it for mistake

[2020-07-20 06:45] letmagnau commented on #911
any news ? please

[2020-07-20 07:25] Chaitanyahegde commented on #621
@saragluna - Could you please check the link you paste. It isn't loading for me.
It says 404.

[2020-07-20 13:44] saragluna commented on #911
Sorry for the late response.

The JWK set URI is correct, we are contacting it that way too. Check it here https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/b2c/AADB2CURL.java#L25.

[2020-07-20 13:55] saragluna commented on #911
About the second question, what do you mean the starter will include this?

[2020-07-20 14:02] saragluna commented on #911
I don't get it. Could you explain about what are you going to achieve here?

[2020-07-20 15:01] letmagnau commented on #911
ok , but there's an official spring azure resource server implementation?

[2020-07-20 15:04] letmagnau commented on #911
if you read the appsettings.json of .net , it include definition of the client id and tenant, if I use the spring resource server, the jwt-uri would be enought, it seems very strange and It make me feel very doubtful  about my problem solution.. . do you think?

[2020-07-20 15:08] letmagnau commented on #911
if I try to browse  https://xxxxx.onmicrosoft.com/xxxx  application uri in azure portal , it don't resolve nothing

[2020-07-21 01:58] chenrujun commented on #621
@Chaitanyahegde , please check this link: https://github.com/microsoft/azure-spring-boot/tree/release/2.3.2/azure-spring-boot-starters/azure-keyvault-secrets-spring-boot-starter

[2020-07-21 09:05] #875 closed

[2020-07-21 10:44] saragluna commented on #911
We don't have a azure resource server implementation now. I believe this project with tenantId and clientId set is because it contains implementation for a web app(which in your case is your Angular SPA) and web API endpoint.

[2020-07-21 10:46] saragluna commented on #911
Are you trying to access your Web API endpoint via this path?

[2020-07-21 13:27] letmagnau commented on #911
What do you mean? Yes I try to access the api with  that path

[2020-07-22 03:14] #264 closed

[2020-07-22 03:15] #413 closed

[2020-07-22 03:18] #648 closed

[2020-07-22 03:19] saragluna commented on #626
Closing this issue.

[2020-07-22 03:19] #626 closed

[2020-07-22 04:32] saragluna commented on #876
We've now migrated to the azure-sdk-for-java repo and we support build with both Java 8 and Java 11 now.
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring

[2020-07-22 04:32] saragluna commented on #876
Closing this issue now.

[2020-07-22 04:32] #876 closed

[2020-07-22 04:42] saragluna commented on #716
Since #757 has been closed, closing this now.

[2020-07-22 04:42] #716 closed

[2020-07-22 05:51] saragluna commented on #355
Closing this now.

[2020-07-22 05:51] #355 closed

[2020-07-22 08:44] snicoll commented on #757
@neuqlz I don't understand how that has been fixed the way the issue is described. I've created https://github.com/Azure/azure-sdk-for-java/issues/13413 to follow-up in the new repo.

[2020-07-23 00:50] saragluna commented on #911
I don't think you could access your web API endpoint via this path https://xxxxx.onmicrosoft.com/application-uri
.

[2020-07-23 05:36] chenrujun commented on #757
Hi, @snicoll .

In current repo, the `overriding` content has already been removed.
Refs: https://github.com/microsoft/azure-spring-boot/blob/2.3.x/azure-spring-boot-parent/pom.xml

[2020-07-23 05:46] snicoll commented on #757
Hi @chenrujun, thank you for the link. Alright, that looks like it did, indeed. Adding a link to the commit here would have been useful as it didn't occur to me I had to look in a branch.

The problem is back on the new location as far as I can see though. Let's folow-up there.

[2020-07-23 06:45] letmagnau commented on #911
But I've obviously tried to call a postman request with
https://xxxxx.onmicrosoft.com/application-uri
and it's non not available

I have to do sometihing else in order to make it available?

Il giorno gio 23 lug 2020 alle ore 02:50 Xiaolu Dai <
notifications@github.com> ha scritto:

[2020-07-25 14:42] saragluna commented on #293
This issue is resolved after we migrated to azure-sdk-for-java repo since the build will fail on warnings now.

[2020-07-25 14:42] #293 closed

[2020-07-25 14:44] saragluna commented on #854
Closing this issue.

[2020-07-25 14:44] #854 closed

[2020-07-25 14:48] saragluna commented on #704
We've deprecated the [storage starter](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-storage) in this project. We do also have another [starter](https://github.com/microsoft/spring-cloud-azure/tree/master/spring-cloud-azure-starters/spring-starter-azure-storage) that implements the Spring Resource abstraction.

Closing this issue.

[2020-07-25 14:48] #704 closed

[2020-07-25 14:54] saragluna commented on #829
Closing this issue.

We've deprecated the Service Bus starter in this repo, and you could use our Spring Cloud Stream Binder implementation instead, check it out here https://github.com/microsoft/spring-cloud-azure/tree/master/spring-cloud-azure-stream-binder. And I remember the resources will be created there if an Azure subscription is provided.

[2020-07-25 14:54] #829 closed

[2020-07-25 15:02] saragluna commented on #759
The feature of multiple key vaults is supported now. Check here: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-keyvault-secrets#multiple-key-vault-support.

Closing this issue now.

[2020-07-25 15:02] #759 closed

[2020-07-27 00:37] saragluna commented on #911
Sorry for didn't make myself clear, I mean we can't access the web API endpoint via this URL https://xxxxx.onmicrosoft.com/application-uri.

[2020-07-27 06:59] letmagnau commented on #911
and why? what it serve?

[2020-07-27 08:57] saragluna commented on #842
Closing this issue.

[2020-07-27 08:57] #842 closed

[2020-07-28 02:34] zhoufenqin commented on #663
@afrancoc2000 Do you still remember this issue? I don't really understand "a personal account and a work account with the same email", a same account can register for two accounts?

[2020-07-28 07:11] AbhijeetAvaghade commented on #906
if this part of 2.3.2 release?

[2020-07-28 07:27] yiliuTo commented on #906
Hi @AbhijeetAvaghade The associated PR wasn't included in 2.3.2 release, and we plan to release it in 2.3.3 version.

[2020-07-29 07:45] letmagnau commented on #911
ok , and how  I can access it?

and also, what is the meaning of the application uri if i can't use it?

Il giorno lun 27 lug 2020 alle ore 02:37 Xiaolu Dai <
notifications@github.com> ha scritto:

[2020-07-29 10:03] saragluna commented on #911
In my understanding, the application id URI is used for authentication. And if you want to redirect to your service domain via this URI, I don't know how to set this up (or whether AAD supports such function). Did you happen to read some material about this scenario? You could correct me if I am wrong about this.

[2020-08-03 09:35] zhoufenqin commented on #722
https://github.com/microsoft/azure-spring-boot/pull/815/files

[2020-08-06 21:22] aholler2 commented on #886
I am also facing this issue.

[2020-08-07 12:49] vchernogorov commented on #909
The issue is still presented in `azure-keyvault-secrets-spring-boot-starter-2.3.2`.

[2020-08-10 04:52] saragluna commented on #909
@vchernogorov we plan to perform a release in this week, please stay tuned.

[2020-08-10 08:01] saragluna commented on #922
Closing this issue.

[2020-08-10 08:01] #922 closed

[2020-08-10 08:02] saragluna commented on #796
Closing this issue now.

[2020-08-10 08:02] #796 closed

[2020-08-10 08:11] saragluna commented on #869
This issue has been fixed https://github.com/Azure/azure-sdk-for-java/issues/12986.

[2020-08-10 18:59] afrancoc2000 commented on #663
Hi @zhoufenqin I don't remember the issue well, but I work in software development and need to connect sometimes my personal account and the company account for testing. Also, I used to have problems with my enterprise account because there was an issue that didn't allowed me to reset my password.

The password and the AAD issues have been resolved now I think the problem I had, happened while I w

[2020-08-13 07:32] Scarlettliuyc opened #930 "JMS for Service Bus standard AMQP session timeout"
hi Team,
We have a issue with JMS AMQP session timeout. And it make the system cannot get the message for a while.

the error message is :
Aug 01, 2020 11:25:50 AM org.springframework.jms.connection.SingleConnectionFactory onException
WARNING: Encountered a JMSException - resetting the underlying JMS Connection
org.apache.qpid.amqp_1_0.jms.MessageConsumerException: Force detach the link because th

[2020-08-14 06:42] saragluna commented on #930
We've deprecated this repo and migrated to [azure-sdk-for-java ](https://github.com/Azure/azure-sdk-for-java)repo, so I created this issue [there](https://github.com/Azure/azure-sdk-for-java/issues/14100). Closing this one.

[2020-08-14 06:42] #930 closed

[2020-08-17 02:53] Scarlettliuyc commented on #930
Hi Xiaolu,
Thank you so much for this email.

I’m Scarlett from Azure PaaS Dev team. Actually this was a customer’s issue, I’m behalf of him to create this issue in your Guithub.

I tried to find the document for JMS session timeout issue, but without luck. Could you please send me any relative documents then I can explain to my customer.

We are appreciated for your reply.

Best regards,

Scarlet

[2020-08-17 03:57] lu-cheng commented on #886
@mocleiri @aholler2
You can solved it by specifying the version explicitly:
implementation 'io.netty:netty-all:4.1.50.Final'
implementation 'io.projectreactor:reactor-core:3.3.5.RELEASE'

[2020-08-19 11:42] droidamar007 commented on #830
@fdr42 Could you please guide how you resolve your issue.

I'm facing same issue as of now.

I'm using spring boot 2.3.3.RELEASE, java 8, azure-active-directory-spring-boot-starter 2.2.3.

I followed https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc.

Thanks in advance.

[2020-08-24 12:51] nikhilingole commented on #903
Hi,

Has this issue be picked for any particular release ?

[2020-08-25 07:59] lu-cheng commented on #903
@nikhilingole Can you share your stack trace？

[2020-08-25 11:57] nikhilingole commented on #903
@lu-cheng  - We don't have the @ControllerAdvice class yet, but here is the stack trace --

2020-08-25 17:22:25.097 [http-nio-8080-exec-2] WARN  com.microsoft.azure.spring.autoconfigure.aad.AADAppRoleStatelessAuthenticationFilter:89 tenant1 UAP-IngestionEndpoint 1.5 cin 01  Invalid JWT. Either expired or not yet valid. Expired JWT
2020-08-25 17:23:57.032 [http-nio-8080-exec-2] ERROR org.apache.cat

[2020-08-25 21:01] philwebb commented on #926
To help with this, as of Spring Boot 2.4.0-M3 you can import extensionless files by using an extension hint. See https://github.com/spring-projects/spring-boot/issues/22280 for details.

[2020-08-26 02:08] chenrujun commented on #926
@philwebb Thank you for your information.

[2020-08-26 08:44] lu-cheng commented on #903
Hi @nikhilingole ，I can't reproduce your error. You can check if your project has unified exception handler, or upgrade the starter to the latest version to try.

[2020-09-01 07:00] moarychan commented on #651
Hi @vyasamit , is your problem solved? Will close this question two days later, if you have other questions, please report to [new repo ](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring).

[2020-09-01 07:07] moarychan commented on #653
Hi @berndgoetz , is your problem solved? if not please try to upgrade to the latest version 2.3.3.

[2020-09-01 07:30] moarychan commented on #656
Hi @tanay1307shah , is yout problem solved? if not please use this [sample ](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob) which will be more clearer, please try the latest version.

[2020-09-01 08:00] moarychan commented on #605
Hi @kpapadopoul , thanks for your trying. We are retiring this starter, please check new repo [azure-spring-boot-sample-storage-blob](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob), I check the default propertiy item `azure.storage.enable-https=true`, maybe need to emphasize this setting in readme. Now we will clo

[2020-09-01 08:15] moarychan commented on #663
Hi @afrancoc2000 , thanks for your using, if there's any new issue, please report it at [new repo](https://github.com/Azure/azure-sdk-for-java), so we will close this issue.

[2020-09-01 08:34] moarychan commented on #652
https://github.com/microsoft/azure-spring-boot/issues/840

[2020-09-01 08:41] moarychan commented on #652
Hi @sheekaat , please check this issue https://github.com/microsoft/azure-spring-boot/issues/683 https://github.com/microsoft/azure-spring-boot/issues/840 to see if it helps, if yes you can follow it then close this issue.

[2020-09-01 09:18] moarychan commented on #734
Hi @ravisgaur , is your problem solved? if not, could you replace with a higer version?

[2020-09-03 03:29] saragluna commented on #903
Closing this now..

[2020-09-03 03:29] #903 closed

[2020-09-03 03:30] saragluna commented on #886
Closing this now..

[2020-09-03 03:30] #886 closed

[2020-09-04 19:44] tanay1307shah commented on #656
Yes, this problem was later resolved. Thank you!

[2020-09-04 19:44] #656 closed

[2020-09-08 02:54] trs80 commented on #383
Which clearly says that admin consent is required, which is what we're complaining about. I found the uservoice for this, it's been open for 4 years with the last update 2 years ago so I wouldn't hold my breath. Do upvote it though, it's basically all you can do https://microsoftgraph.uservoice.com/forums/920506-microsoft-graph-feature-requests/suggestions/15969922-add-a-my-groups-read-write-permi

[2020-09-08 02:56] trs80 commented on #383
Also there's [getMemberGroups](https://docs.microsoft.com/en-us/graph/api/user-getmembergroups?view=graph-rest-1.0&tabs=http) which only needs User.ReadBasic.All and GroupMember.Read.All, the latter still requires admin consent but at least it's not as broad as Directory.AccessAsUser.All

[2020-09-09 12:23] fr4ncesco opened #931 "Cannot Get Access Token for Graph API"
I'm not able to use Access Token.

[code]
Seems like the access token forma is wrong there aren't the `.`tipical of jwt token.
Are there other option to get the access token?

I produce the following error:
[code]

[2020-09-09 13:19] saragluna commented on #931
We've deprecated this repo and all projected are in the [azure-sdk-for-java repo](https://github.com/Azure/azure-sdk-for-java/issues/14977) now. I created this issue in the new repo https://github.com/Azure/azure-sdk-for-java/issues/14977 and closing this one now.

[2020-09-09 13:19] #931 closed

[2020-09-10 17:28] ramangupta-cbre commented on #637
I am also facing the same issue, how can I fix it?

[2020-09-11 01:54] chenrujun commented on #637
Hi, @ramangupta-cbre ,
Which version are you using?
This problem should be solved in latest version.
Could you please try the latest version in your project?
i.e. [azure-keyvault-secrets-spring-boot-starter/2.3.3](https://mvnrepository.com/artifact/com.microsoft.azure/azure-keyvault-secrets-spring-boot-starter/2.3.3)

[2020-09-18 16:18] linux-code opened #932 "GoneException for all collections (HTTP StatusCode- 410)"
Getting GoneException for all collections (HTTP StatusCode- 410).
[code]

consistencyLevel=**BOUNDED_STALENESS**
multi write location =true
preferred location South Central US, West US
connection mode=DIRECT

When I have tried with SESSION consistency with same configuration, things are working fine but same code is not working with bounded staleness. Please provide some information if i am missin

[2020-09-18 17:13] linux-code commented on #932
I have debugged this further. With same configuration but connectionMode is GATEWAY , things are working fine.

Could you please confirm whether DIRECT mode is supported with BOUNDED_STALENESS or not ? There is no documentation I found which explains such details.

[2020-09-21 02:00] zhoufenqin commented on #932
We have migrated this repo to azure-sdk-for-java repo, so I resubmit an issue there, see https://github.com/Azure/azure-sdk-for-java/issues/15393, closing this issue.

[2020-09-21 02:01] #932 closed

[2020-09-21 13:55] jarekhr commented on #388
We've encountered same problem. Some users in our organization can have more than 300 groups assigned to them.
We had to use a workaround listed above to deal with this. This needs urgent fixing (changing default page size should be sufficient, 999 is likely enough)

[2020-09-22 00:14] zhoufenqin commented on #388
closing the issue, the issue has been solved. see https://github.com/Azure/azure-sdk-for-java/issues/14222

[2020-09-22 01:09] #388 closed

[2020-09-22 16:13] mukeshgulia opened #934 "Keyvault stops working after adding a newer version of active-directory starter"
# Environment

Spring boot starter:

key vault spring boot starter
active directory spring boot starter

OS Type: Linux

Java version: 1.8

# Summary
Keyvault is not called and properties are not loaded.

# Reproduce steps
Use these Versions

[code]
# Expected Results
Spring should have loaded the keys from the key vault.

# Actual Results

[2020-09-23 00:15] linux-code commented on #932
Hi Team,
Is there any update on this. Please help me here to resolve this issue. Thank you.

[2020-09-23 01:28] zhoufenqin commented on #932
hi @linux-code, could you follow the issue in https://github.com/Azure/azure-sdk-for-java/issues/15393, I think it's Cosmos SDK's problem, I'm asking them for help.

[2020-09-23 01:37] mukeshgulia commented on #934
Using the same version, 2.3.3, keyvault connects fine.

[2020-09-23 01:39] zhoufenqin commented on #934
hi @mukeshgulia, we have migrated the repo to https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring, could you submit your issue there? it will ask you for more issue details. thanks

[2020-09-24 01:38] ZhuXiaoBing-cn commented on #934
hi @mukeshgulia,azure-keyvault-secrets-spring-boot-starter:2.1.8 and azure-active-directory-spring-boot-starter:2.3.3 both refer to azure-spring-boot, but they refer to different versions of azure-spring-boot.This has led to dependency conflicts. It is suggested that you replace azure-keyvault-secrets-spring-boot-starter:2.1.8 with version 2.3.3 to resolve dependency conflicts.

[2020-09-25 06:33] zhoufenqin commented on #934
closing the issue

[2020-09-25 06:33] #934 closed

[2020-09-28 09:44] vamshinarra opened #935 "AADAppRoleStatelessAuthenticationFilter Is throwing Servlet Exception which is indeed converted to Internal Server Exception by Spring and Exception Msg is missing"
Hello,
I am using AADAppRoleStatelessAuthenticationFilter  in my project and when a token expires the filter is throwing
ServlerException which is in turn getting converted into Internal Server Error by Spring StandardWrapperValve where this Exception message was set null as given  below

{
    "timestamp": "2020-09-28T09:43:37.164+00:00",
    "status": 500,
    "error": "Internal Server Error",

[2020-09-29 02:48] yiliuTo commented on #935
Hi @vamshinarra , thanks for the reporting. We have fixed this bug [here](https://github.com/Azure/azure-sdk-for-java/pull/15362) to send 401 instead of 500 for the expired token error. And you can wait for our next release for the bugfix.

[2020-10-01 05:39] vamshinarra commented on #935
Thanks @yiliuTo  May i know when is the next planned release.

[2020-10-08 23:30] yuhaii commented on #817
I tried disabling the JMS Cache Producer. It is also not working for me. In my work scenario I have 50 messages to send, but when I disable this cache producer only 2 messages sent and job remaining idle without any error or anything. I would need some one step up and check this ASAP.

[2020-10-14 04:30] yiliuTo commented on #935
Hi @vamshinarra , sorry for my late reponse, if you want to test about the bugfix, you can use our nightly build version, which you can refer to [this link](https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#nightly-package-builds). And as for our release plan, recently we are doing some changes on our package and artifactid names, so we will release a preview version in mid-N

[2020-10-22 12:08] deryoman opened #936 "SecretAsyncClient tries to fetch non existing secret 'it-is-ok-to-be-empty'"
## Environment

- Spring boot 2.3.4
- Spring boot starter:

  - key vault spring boot starter

- OS Type: Linux - Kubernetes Container
- Java version: 11

## Summary

After updating to 'azure-keyvault-secrets-spring-boot-starter:2.3.5', the SecretAsyncClient tries to fetch a secret named `it-is-ok-to-be-empty` every few seconds. In version 2.3.3. everything works fine.

`2020-10-22 07:18:55.055  W

[2020-10-22 13:50] #936 closed

[2020-10-29 20:26] QuickNS opened #937 "Client Credentials grant flow fails when specifying a tenant"
Creating a Java Spring Boot Rest API that uses the client credentials grant flow.
I'm using Spring Boot version 2.3.3 and azure active directory spring boot starter (2.3.5).
I created an Azure AD tenant and registered the app as expected, exposing a couple of app roles in the app manifest.

I have everything working in a ASP.NET Core application so I don't think it's an issue with the app registra

[2020-10-29 21:28] QuickNS commented on #937
Modified pom file to reference latest starter version and the problem is no longer reproduceable.

		<dependency>
		<groupId>com.azure.spring</groupId>
		<artifactId>azure-spring-boot-starter-active-directory</artifactId>
		<version>3.0.0-alpha.20201026.0</version>
		</dependency>

[2020-10-29 21:28] #937 closed

[2020-11-18 15:10] avadgama91 opened #938 "AADB2COidcLoginConfigurer OAuth2 Additional Parameters"
Hi,

While integrating spring boot application with Azure B2C, I need to pass an additional parameter as "domain_hint", and I am not able to find any way to add this in this class, if anyone have any idea for this please let me know.

[2020-11-19 05:34] lu-cheng commented on #938
Hi @avadgama91 There is no support for passing additional parameters. Why do you need to pass additional parameters?

[2020-11-19 13:32] avadgama91 commented on #938
I want to pass the Domain Hint while login link, I want to have to user flow integration with one of the link contains domain hint and another will be without domain hint, so if you have some idea let me know.

[2020-11-19 16:14] LarsKemmann commented on #938
@lu-cheng This is also one of many custom parameters that we need to provide to B2C during login, to support our clients' different use cases. We can do this easily on other platforms, e.g. in ASP.NET Core we can add custom parameters to the B2C sign-in URL based on things like the individual user's request to the web API, but there is no documentation for how to achieve this with Microsoft's Spri

[2020-11-20 01:19] lu-cheng commented on #938
Thank you for your reply. I will investigate this issue.

[2020-11-20 13:15] anatoliy-balakirev commented on #520
I does actually cause troubles when one deploys it to the cluster with strict network policies. Our application couldn't start without logging anything and only via thread dump we managed to figure out, that it's stuck on that connection at the very beginning of its startup. Having things like that enabled by default is really something unusual / bad I would say.

[2020-11-23 05:38] lu-cheng commented on #938
We have moved to another repository and I have moved this issue to the new repository.
https://github.com/Azure/azure-sdk-for-java/issues/17751

[2020-11-23 07:21] #938 closed

[2020-11-24 07:49] chenrujun commented on #520
Hi, @anatoliy-balakirev ,

`telemetry` can be disabled by configuration.
Which version are you using?

And we moved repo to here:
https://github.com/Azure/azure-sdk-for-java/tree/azure-active-directory-spring-boot-starter_2.3.5/sdk/spring/azure-spring-boot-starter-active-directory

[2020-11-24 12:52] avadgama91 commented on #938
I have included the latest version of the SDK but and added additional parameters in the Application.yml but still additional parameters are not getting included auto URL generation, can you please check and update the document accordingly.

[2020-11-24 21:04] ashokseshan opened #939 "Unauthorized access. 'Send' claim(s) are required to perform this operation"
Getting issue when we use Service Bus with MSI authentication connection string.

azure-servicebus-jms-spring-boot-starter -> 2.3.3

Java version: 11

Summary
Causing the following error when trying to SEND, and NOT send to endpoint

Unauthorized access. 'Send' claim(s) are required to perform this operation.

Reproduce steps:
Use Azure AD (MSI) connection string to connect to service bus from pro

[2020-11-26 15:16] deeps-v commented on #939
@ashokseshan @chenrujun @backwind1233

I am also facing exactly similar issue for "**azure-servicebus-jms-spring-boot-starter**" library with version **2.3.5**

The same code was working fine with SAS tocken based authentication. Could you please confirm is AAD authentication support added in the library. If no, when can we expect this feature to be available.

[2020-11-27 07:16] saragluna commented on #938
@lu-cheng could you follow up on this?

[2020-11-27 07:24] backwind1233 commented on #939
@ashokseshan @deeps-v I am following this issue, I will inform you of any progress.

[2020-11-27 08:18] lu-cheng commented on #938
@avadgama91 Since the latest code has not yet been released, currently you can manually compile the master branch in the repository to use the latest code, or wait for the new version to be released next time.
If you manually compile the latest code, you can execute the following command:

[2020-12-02 00:34] gbsmith commented on #830
Having this same problem in Dec 2020. @neexs , @fd42, what were you doing wrong and how did you fix it?

[2020-12-18 23:41] gbsmith opened #940 "Spring Boot B2C example redirects /home to /login on localhost; never goes anywhere on VM Tomcat9"
Local OS: MacOS Catalina
VM OS: Ubuntu 20.04
VM app server: Tomcat9

Have already setup B2C tenant with JWT.ms and integrated Google Login.

Testing B2C with Spring as per https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc.

When running directly from MacOS localhost command-line, B2C login works and I

[2020-12-18 23:42] gbsmith commented on #940
Log extracts attached:

[b2cdemo_logs.zip](https://github.com/microsoft/azure-spring-boot/files/5718565/b2cdemo_logs.zip)

[2020-12-24 02:11] wujack778 commented on #940
Hey , Maybe you can change `reply-url` from `http://localhost:8080/home` to `http://localhost:8080/Except-home` in **Azure** and **yml**.
But I don't clear  the environment of your tomcat , so try the solution above ?

[2020-12-24 09:19] saragluna commented on #940
Since we've deprecated this repo, I'm recreating this issue in the new repo https://github.com/Azure/azure-sdk-for-java/issues/18350.

[2020-12-24 09:21] saragluna commented on #940
Closing this issue now and we will keep supporting you in the new repo.

[2020-12-24 09:21] #940 closed

[2021-01-07 10:49] Arnab09 commented on #817
I am facing the same issue. After timeout I am getting the same exception and can't reuse the JmsTemplate.

[2021-01-19 13:01] sergei-pavlov commented on #830
@gbsmith in my case the cause of the problem was invalid "application.properties", I assume that these beans are conditional and you have to add some properties keys to create them.
For example: "AADAppRoleStatelessAuthenticationFilter" requires "azure.activedirectory.client-id" property

[2021-01-21 15:17] vaidehip-optimus commented on #250
I am facing this issue "the specified cgi application encountered an error and the server terminated the process" on deploying jar file.

[2021-01-26 07:30] yiliuTo commented on #817
Hi @Arnab09 , sorry for the late response. Due to that we don't have plans to enhance the reconnect function recently, so the current workaround for this issue is to disable cache of MessageProducer like @DzianisShaplyka1984 said.

[2021-02-08 19:36] welsh commented on #817
Also want to mention that this can also occur when you modify a setting within Azure Service Bus.

For example, I can reproduce it by doing the following scenarios for Topics:

**Scenario 1**
- Start App
- Send Message
- Change Topic Setting `Max Size` from 1GB to 2GB
- Send Message
- Receive Error

**Scenario 2**
- Start App
- Send Message
- Change a one Subscription setting (E.g. TTL 14 -> 15 Da

[2021-02-15 11:12] ZoltanV commented on #650
I had the same error when using wrong version combos.
Fix the issue with:
**2.3.1.RELEASE** **spring-boot-starter-parent** version
and
**2.3.5** **azure-spring-boot-bom** version
[code]

[2021-02-18 01:52] chenrujun commented on #650
We have change the groupId and artifactId. Could you please try new groupId and artifactId?

Refs:
1. https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-keyvault-secrets/CHANGELOG.md#233-2020-08-13
2. https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-keyvault-secrets#include-the-package

[2021-02-19 05:46] ZhuXiaoBing-cn commented on #939
Hi,@ashokseshan,@deeps-v.
Can you share with me how you use ServiceBus-JMS and MSI authentication together? Or related configuration.

[2021-02-21 12:44] ThanhLongDoBK commented on #918
@saragluna how you fixed it?

I'm facing the same problem.

[2021-02-22 06:23] yiliuTo commented on #817
@welsh thanks for your reporting, we will look into this.

[2021-02-22 13:41] jonno85 commented on #606
Hello,
I'm trying to let the CosmosDbconfiguration loads the Cosmos primary key from the keyvault using a SecretClient (Keyvault) but apparently the property:
    Property: azure.cosmosdb.key
    Value: null

is mandatory.

Is there a proper way to do that, instead of relying on key injection from the Azure CI pipeline?

[2021-02-25 01:40] yiliuTo commented on #606
Hi @jonno85 , could you share a sample code project or code snippet to help us debug?

[2021-02-26 15:28] sidyes commented on #918
As I wrote before, I accidently used the wrong cliend id..

[2021-03-04 07:36] yiliuTo commented on #817
Hi @welsh , I ran our [sample project](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic) using version 3.1.0 and also followed your steps, but received different results: when I change the subscription or topic settings as you mentioned, the AMQP link is force detached, and session and MessageConsumer are cre

[2021-03-09 06:51] chenrujun commented on #683
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 06:51] #683 closed

[2021-03-09 06:55] chenrujun commented on #939
FYI: This issue will be closed if it's not active for a long time.

[2021-03-09 07:08] chenrujun commented on #393
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 07:08] #393 closed

[2021-03-09 08:15] chenrujun commented on #100
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:15] #100 closed

[2021-03-09 08:15] chenrujun commented on #229
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:15] #229 closed

[2021-03-09 08:15] chenrujun commented on #239
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:15] #239 closed

[2021-03-09 08:15] chenrujun commented on #298
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:15] #298 closed

[2021-03-09 08:15] chenrujun commented on #300
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:15] #300 closed

[2021-03-09 08:15] chenrujun commented on #302
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:15] #302 closed

[2021-03-09 08:15] chenrujun commented on #303
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:15] #303 closed

[2021-03-09 08:16] #305 closed

[2021-03-09 08:16] chenrujun commented on #334
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:16] #334 closed

[2021-03-09 08:16] chenrujun commented on #351
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:16] #351 closed

[2021-03-09 08:16] chenrujun commented on #389
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:16] #389 closed

[2021-03-09 08:17] chenrujun commented on #447
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:17] #447 closed

[2021-03-09 08:17] chenrujun commented on #455
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:17] #455 closed

[2021-03-09 08:17] chenrujun commented on #460
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:17] #460 closed

[2021-03-09 08:17] chenrujun commented on #462
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:17] #462 closed

[2021-03-09 08:17] chenrujun commented on #529
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:17] #529 closed

[2021-03-09 08:17] chenrujun commented on #486
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:17] #486 closed

[2021-03-09 08:17] chenrujun commented on #539
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:17] #539 closed

[2021-03-09 08:17] chenrujun commented on #553
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:18] chenrujun commented on #605
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:18] #605 closed

[2021-03-09 08:18] chenrujun commented on #606
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:18] #606 closed

[2021-03-09 08:18] chenrujun commented on #641
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:18] #641 closed

[2021-03-09 08:18] chenrujun commented on #650
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:18] #650 closed

[2021-03-09 08:19] chenrujun commented on #651
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:19] #651 closed

[2021-03-09 08:19] chenrujun commented on #530
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:19] #530 closed

[2021-03-09 08:19] chenrujun commented on #652
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:19] #652 closed

[2021-03-09 08:19] chenrujun commented on #653
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:19] #653 closed

[2021-03-09 08:19] chenrujun commented on #663
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:19] #663 closed

[2021-03-09 08:20] chenrujun commented on #670
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:20] #670 closed

[2021-03-09 08:20] chenrujun commented on #672
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:20] #672 closed

[2021-03-09 08:48] chenrujun commented on #673
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:48] #673 closed

[2021-03-09 08:48] chenrujun commented on #675
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:48] #675 closed

[2021-03-09 08:48] chenrujun commented on #695
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:48] #695 closed

[2021-03-09 08:48] chenrujun commented on #697
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:48] #697 closed

[2021-03-09 08:48] chenrujun commented on #708
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:48] #708 closed

[2021-03-09 08:48] chenrujun commented on #711
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:48] #711 closed

[2021-03-09 08:48] chenrujun commented on #720
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:48] #720 closed

[2021-03-09 08:48] #721 closed

[2021-03-09 08:48] chenrujun commented on #726
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:48] #726 closed

[2021-03-09 08:49] chenrujun commented on #731
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:49] #731 closed

[2021-03-09 08:49] chenrujun commented on #734
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:49] #734 closed

[2021-03-09 08:49] chenrujun commented on #737
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:49] #737 closed

[2021-03-09 08:49] chenrujun commented on #738
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:49] #738 closed

[2021-03-09 08:49] chenrujun commented on #741
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:49] #741 closed

[2021-03-09 08:50] chenrujun commented on #785
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:50] #785 closed

[2021-03-09 08:50] chenrujun commented on #792
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:50] #792 closed

[2021-03-09 08:50] chenrujun commented on #798
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:50] #798 closed

[2021-03-09 08:50] chenrujun commented on #799
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:50] #799 closed

[2021-03-09 08:50] chenrujun commented on #800
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:50] #800 closed

[2021-03-09 08:50] chenrujun commented on #802
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:50] #802 closed

[2021-03-09 08:51] #803 closed

[2021-03-09 08:52] chenrujun commented on #823
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:52] #823 closed

[2021-03-09 08:52] chenrujun commented on #840
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:52] #840 closed

[2021-03-09 08:52] chenrujun commented on #846
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:52] #846 closed

[2021-03-09 08:52] chenrujun commented on #847
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:52] #847 closed

[2021-03-09 08:53] chenrujun commented on #848
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:53] #848 closed

[2021-03-09 08:53] chenrujun commented on #849
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:53] #849 closed

[2021-03-09 08:53] chenrujun commented on #850
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:53] #850 closed

[2021-03-09 08:54] chenrujun commented on #855
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:54] #855 closed

[2021-03-09 08:54] chenrujun commented on #861
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:54] #861 closed

[2021-03-09 08:54] chenrujun commented on #862
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:54] #862 closed

[2021-03-09 08:55] chenrujun commented on #813
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:55] #813 closed

[2021-03-09 08:55] chenrujun commented on #865
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:55] #865 closed

[2021-03-09 08:55] chenrujun commented on #871
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:55] chenrujun commented on #878
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:55] #878 closed

[2021-03-09 08:55] chenrujun commented on #879
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:55] #879 closed

[2021-03-09 08:56] chenrujun commented on #887
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:56] #887 closed

[2021-03-09 08:56] chenrujun commented on #892
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:56] #892 closed

[2021-03-09 08:56] chenrujun commented on #901
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:56] #901 closed

[2021-03-09 08:57] chenrujun commented on #907
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:57] #907 closed

[2021-03-09 08:57] chenrujun commented on #911
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:57] chenrujun commented on #928
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:57] #928 closed

[2021-03-09 08:57] chenrujun commented on #935
Closing this issue.
Because it's not active for a long time.
If anyone have similar issue, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-09 08:57] #935 closed

[2021-03-09 14:50] mnolan98-tmk commented on #928
This is inactive because no one ever responded.  Was anyone able to find the cause or recreate the issue?

[2021-03-10 05:54] ismail5701 commented on #817
Stuck with the same issue.. :(
I am not able to use workaround @DzianisShaplyka1984 provided, as I am using `spring-cloud-starter-sleuth` in my project and therefore the `ConnectionFactory` uses implementation of Sleuth. i.e. `org.springframework.cloud.sleuth.brave.instrument.messaging.LazyConnectionFactory`.
So `(CachingConnectionFactory) jmsTemplate.getConnectionFactory()` gives error.

To solve

[2021-03-10 07:27] Saljack commented on #817
Hi I had/have the same issue with Sleuth. I resolved it with `BeanPostProcessor` which runs before Sleuth/Brave `TracingConnectionFactoryBeanPostProcessor` . See:
[code]

Do you plan fix this issue? It is open for more than one year. This is the real blocker (you have to mention this behaviour at least in your documentation) and disabling caching is not optimal. Is this real working supported libr

[2021-03-15 01:40] yiliuTo commented on #817
Given that CachingConnectionFactory of Spring Jms doesn't expose the cached session, producer and consumer for us to remove when items are closed, thus we cancelled the usage of cache.
Also we could choose to transfer the selection of cache to customers by providing configurable properties, however, we think it could make the problem more confusing. Therefore we currently choose to remove usage of

[2021-03-17 13:25] omkarjoshi opened #941 "Provider ID must be specified for client registration 'azure'"
I am trying to use Spring with Azure AD and I am getting **"Provider ID must be specified for client registration 'azure' "** error

My POM

[code]

Stacktrace:

[code]

[2021-03-18 15:16] g-apparence commented on #705
Hi,
any news on this?
Cannot find anything on using azure CosmosDB with spring boot reactive

[2021-03-18 15:20] g-apparence opened #942 "Spring boot reactive support"
Hi,
as I cannot find any resources to connect using webflux I'm posting here. As reactive is now really used on spring with cassandra do you have any workaround to make it work?
Would consider hosting our incoming project on azure cosmos DB with cassandra if this could work.
Else is there any plan to support this?

Thank you

[2021-03-18 23:30] chenrujun commented on #705
@g-apparence

Sorry, now our starter do not support reactive.

cc: @stliu , @seanli1988 FYI.

[2021-03-18 23:35] chenrujun commented on #942
@backwind1233
FYI: https://github.com/microsoft/azure-spring-boot/issues/705#issuecomment-802384636

@g-apparence

Currently, I don't have workaround.

Yes, we have. But not sure when our starter can support reactive.

[2021-03-19 07:58] g-apparence commented on #942
Yes, Thank you for your fast reply.
Hope you plan this soon 👍

[2021-03-20 21:44] omkarjoshi opened #943 "Input id_token cannot be used as 'urn:ietf:params:oauth:grant-type:jwt-bearer'"
I am trying to connect my spring app with Azure AD and getting following error,
Essentially my app is redirecting this to Microsoft AD login and after login application response fails with below exception.

I am following below microsoft documentation for setting this up.
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active

[2021-03-21 19:41] omkarjoshi commented on #941
Any update guys ?

[2021-03-21 19:41] omkarjoshi commented on #943
Any update guys ?

[2021-03-22 00:28] chenrujun commented on #941
Hi, @omkarjoshi
I can not reproduce your problem by [the sample project](https://github.com/chenrujun/azure-spring-boot-issue-941/tree/0f7ed106bfbeaa9ffd9a3b188c31c1207000f70f)
Please help to reproduce your problem by creating PR to the sample project.
Please read the [README.md](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory) before y

[2021-03-22 00:31] chenrujun commented on #942
Closing this issue.
If you still have this problem, please create issue in new repo: https://github.com/Azure/azure-sdk-for-java/issues

[2021-03-22 00:31] #942 closed

[2021-03-22 00:33] chenrujun commented on #941
Closing this issue because I already moved to new repo: https://github.com/Azure/azure-sdk-for-java/issues/20003

[2021-03-22 00:33] #941 closed

[2021-03-22 00:34] chenrujun commented on #943
Closing this issue because I already copied this issue to new repo: https://github.com/Azure/azure-sdk-for-java/issues/20004

[2021-03-22 00:34] #943 closed

[2021-05-25 12:24] shambhavitewari commented on #333
Hi,
I tried setting both the oauth2AllowIdTokenImplicitFlow and oauth2AllowImplicitFlow as true. But still not working for me. I am using a personal outlook account for AAD. Does that has anything to do with this?

thanks

[2021-05-25 12:34] naridnevahgar commented on #879
I made a WebFlux resource server implementation with spring security and Azure AD [Here](https://github.com/naridnevahgar/spring-webflux-azuread-rbac)
Works normally!

[2021-05-25 12:37] saragluna commented on #333
@chenrujun could you please take a look at this?

[2021-05-26 00:27] chenrujun commented on #879
Hi, @naridnevahgar .
Thank you very much for your sharing.
We will continue the task in the new issue: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-05-28 08:30] Sreini commented on #886
I am getting a similar error with project reactor

`ERROR o.s.boot.SpringApplication               : Application run failed

java.lang.NoSuchMethodError: 'reactor.core.publisher.Mono reactor.core.publisher.Mono.contextWrite(reactor.util.context.ContextView)'
	at com.azure.core.http.rest.RestProxy.handleRestReturnType(RestProxy.java:495) ~[azure-core-1.15.0.jar:na]
	at com.azure.core.http.rest.Rest

[2021-05-28 08:34] Sreini commented on #886
Specifying the reactor version in the pom.xml doesn't resolve the error.

[code]

[2021-05-29 03:56] satyajitcet opened #944 "https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-data-gremlin link is not valid"
i am searching any sample project for spring boot gremlin starter project. But given link is not valid(404).
Which library is good to integrate java with cosmos gremlin api currently.

[2021-05-31 01:16] chenrujun commented on #886
Hi, @Sreini, could you please provide your pom.xml?

[2021-05-31 01:24] chenrujun commented on #944
Hi, @satyajitcet

The spring-boot-starter-data-gremlin is deprecated and deleted from master branch.
If you want to check the legacy doc, please refer:
1. https://github.com/Azure/azure-sdk-for-java/tree/azure-data-gremlin-spring-boot-starter_2.3.3/sdk/spring/azure-spring-boot-starter-data-gremlin
2. Samples: https://github.com/Azure/azure-sdk-for-java/tree/azure-data-gremlin-spring-boot-starter_2

[2021-05-31 01:24] #944 closed

[2021-05-31 19:40] ShaguftaSyed commented on #526
I'm facing same issue. The details are [here](https://stackoverflow.com/questions/67779378/azure-ad-oauth-integration-in-sprint-boot-gives-401-unauthorized). Changing spring.security.oauth2.client.registration.azure.client-authentication-method=post does not help.

[2021-06-01 01:41] chenrujun commented on #526
@ShaguftaSyed, could you please try our latest version of [azure-spring-boot-starter-active-directory](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-active-directory_3.5.0/sdk/spring/azure-spring-boot-starter-active-directory)? Which work for spring-boot 2.4.5.

[2021-06-01 06:43] ShaguftaSyed commented on #526
@chenrujun, Thank you for your response but using above sample, after the authorization code is received it is taking me to page login?error that says invalid credentials.
![OAuthCapture](https://user-images.githubusercontent.com/80444066/120278305-c04b1980-c2d2-11eb-98a1-deb6d47766d0.PNG)

[2021-06-01 08:53] ShaguftaSyed commented on #526
@chenrujun, Thank for looking into my issue. It wasn't related to code but had to enable sticky session on ECS service's Application Load Balancer.

[2021-06-02 00:29] chenrujun commented on #526
Hi, @ShaguftaSyed, could you please use this sample instead?

https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-active-directory_3.5.0/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp

[2021-06-10 19:53] kbking01 commented on #886
Same issue happens when both secrets and keys dependency are used on boot
    implementation 'com.azure:azure-security-keyvault-secrets:4.2.7'
    implementation 'com.azure:azure-security-keyvault-keys:4.3.0-beta.8'

[2021-06-11 00:30] chenrujun commented on #886
Hi, @kbking01, here is the dependency of `com.azure:azure-security-keyvault-secrets:4.2.7`:
![image](https://user-images.githubusercontent.com/13167207/121613349-d7d29100-ca8e-11eb-8c10-b3252072287f.png)

Could you please check the reactor-core version in your classpath? Or please share your `build.gradle`.

[2021-06-11 15:08] kbking01 commented on #886
Hi @chenrujun - Was using 3.3.5 previously. Changed it to below, still same issue.
io.projectreactor:reactor-core:3.4.6
io.projectreactor.netty:reactor-netty:1.0.7

[2021-06-15 00:38] chenrujun commented on #886
Hi, @kbking01 , it's a dependency version problem. Could you please share you `build.gradle`?

[2021-09-13 07:33] VarshaGadekar opened #945 "Error creating bean with name 'channelInitializer' while using default configuration in Spring Boot 2.5.4 with Azure Service Bus"
// azure service bus with spring cloud
implementation group: 'com.azure.spring', name: 'azure-spring-cloud-stream-binder-servicebus-topic', version: '2.5.0'
implementation group: 'com.azure.spring', name: 'azure-spring-cloud-stream-binder-servicebus-queue', version: '2.5.0'

In junit testcases, if connection string is not provided then following error comes
Explicitly configure spring.jpa.open-in-

[2021-09-14 16:02] deviousasti commented on #476
This was not at all straight-forward and hard to find. This should be shouted from the rooftops!

[2021-09-16 09:18] ubik-valis opened #946 "aud claim is not valid"
Hello there, I am facing some issues verifying my ID Token from the frontend in the backend. My application.yaml configuration is like this:

[code]

I already set my app registration to v2 ID Tokens and the audience claims match when I receive the ID Token from the frontend. Yet I get the following error during the filtering process: `The aud claim is not valid`.

Is using `login.microsoftonline.

[2021-09-22 06:40] yiliuTo commented on #945
Hi @VarshaGadekar , could you provide a sample project including the pom and configuration file to help us reproduce your issue?
 I have tested our [Service Bus Queue stream binder sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/servicebus/azure-spring-cloud-stream-binder-servicebus-queue/servicebus-queue-binder) with Spring Boot 2.5.4 and binder 2.5.0 but failed to re

[2021-09-22 07:07] chenrujun commented on #946
Hi, @ubik-valis , did you use `azure-spring-boot-starter-active-directory`?

I think you should configure `azure.activedirectory.tenant-id`:

Example: https://github.com/Azure-Samples/azure-spring-boot-samples/blob/73e7cf7f36c37e0d1f35a0f4b3242d1515858a42/aad/azure-spring-boot-starter-active-directory/aad-resource-server/src/main/resources/application.yml#L10

[2021-09-24 16:12] letmagnau commented on #879
Hi @saragluna  , is webflux planned to be integrated in project? as authentication server ? usgin AADB2COidcLoginConfigurer??
it seems to be central for many project as Jhipster and we are using AADB2C for IAM and for now I don't see any solutions about

kind regards

Piero

[2021-09-26 06:37] chenrujun commented on #879
@letmagnau

Yes.

No.
We will not provide AbstractHttpConfigurer in 4.0 version. Further more, we will not provide b2c-starter since 4.0 version.

We will not provide b2c-starter since 4.0 version. Because after investifation, we found that all AAD B2C features can be accomplished by spring-security natively. We will provide sample  projects in this repo: https://github.com/Azure-Samples/azure-spr

[2021-09-27 15:53] letmagnau commented on #879
@saragluna @zhichengliu12581

it means that the azure configurations flows in application.yaml  wil be unused in the future?
How B2C will work as Auhtentication Server ed not only as resource server?

[2021-09-28 02:46] chenrujun commented on #879
@letmagnau

In this PR: https://github.com/Azure-Samples/azure-spring-boot-samples/pull/37
1. It only depends on spring-security related artifacts, not have aad-b2c starter.
2. It not only contain AAD B2C resource-server, it also contain using AAD B2C to login.

[2021-09-29 10:22] letmagnau commented on #879
Hi @chenrujun

nice to see it but it seems do not implement the WebFluxSecurity

in https://github.com/zhichengliu12581/azure-spring-boot-samples/blob/add-samples-for-aad-b2c-with-only-spring-security/aad/aad-b2c-with-spring-security/aad-b2c-web-application-1-simple-sample/src/main/java/com/spring/sample/b2c/security/WebSecurityConfiguration.java

you can see @EnableWebSecurity and not @EnableWebF

[2021-09-30 00:30] chenrujun commented on #879
Hi, @letmagnau

Thank you for your check.
I will investigate @EnableWebFluxSecurity and @EnableReactiveMethodSecurity in this issue: #21581

And PR is welcome.

[2021-10-01 15:55] letmagnau commented on #879
Hi @chenrujun
i'm able to integrate WebFluxSecurity now but a question,
in example editprofile and resetpassword are hardcoded , instead in loginControllere there is a configuraition that hide all the creation of it
With spring security 5 , only sign up sign in is configured and you have to be replicate 3 client provider with 3 different registration conf , it seems very DRY

How can we manage it

[2021-10-09 00:14] chenrujun commented on #879
Hi, @letmagnau.

Could you please share related link?

In `spring-cloud-azure-oauth2-client:4.0.0` which is under developing ([PR 24280]), we will not provide client provider and registration by configuration item `azure.activedirectory.xxx`, we will use the clients provided by `spring-boot-starter-oauth2-client` by these configuration items:

[code]

So our clients can work with other clients wit

[2021-10-25 05:03] RaviGannu opened #948 "Provider ID must be specified for client registration 'azure'"
Getting following issue, and attached POM.xml and application.properties files.

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'securityConfig': Unsatisfied dependency expressed through method 'setContentNegotationStrategy' parameter 0; nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with na

[2021-11-24 16:35] shaimagawankar commented on #250
hi i am facing this issue while deploying spring boot war file to azure app service . Can anyone guide

[2021-11-24 16:36] shaimagawankar commented on #250
"The specified CGI application encountered an error and the server terminated the process."

My WebConfig :

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
        arg

[2022-01-31 11:33] vcarluer opened #949 "Could not find com.azure:azure-storage-blob-batch in azure-spring-boot-bom"
Since version 3.13.0 we have a compilation error on azure-storage-blob-batch.
Here our gradle build:
[code]

Here the error we have:
[code]

We can solve this with forcing azure-storage-blob-batch to 12.11.3 with:
`  api("com.azure:azure-storage-blob-batch:12.11.3")`

But the goal of the boot-bom is to avoid this.

Is there an issue with the bom package or in the way we use it?

Thanks.

[2022-02-07 07:08] chenrujun commented on #949
Hi, @vcarluer. Thanks for reaching out.
It's caused by this PR: https://github.com/Azure/azure-sdk-for-java/pull/26208
I think you can fix this issue by importing  `azure-sdk-bom:1.0.6` in your pom.

Hi, @saragluna , @yiliuTo .
1. Could you please explain why we delete `azure-sdk-bom` in `azure-spring-boot-bom`?
2. Is there any wiki page to hold the version mapping between `azure-spring-boot-bom`

[2022-02-08 01:25] saragluna commented on #949
@chenrujun this is why https://github.com/Azure/azure-sdk-for-java/issues/26136#issuecomment-1007230550.

[2022-02-25 16:46] vcarluer commented on #949
Adding azure-sdk-bom removed from azure-spring-boot-boot solved the issue.
Thanks.

[2022-02-25 16:46] #949 closed

[2022-03-15 21:29] RaghavThakkar opened #950 "Sample for Daemon application that calls web APIs - Spring boot"
Hello,
I am looking for the sample in which my Deamon app calls web API.

https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-overview
My use case is very simple.

Deamon app acquire JWT token from the web API.

Once a token has been acquired web API verify that token using roles.

I could not find any sample of this flow.

Could not any sample of the in spring-boot.

R

[2022-03-16 01:05] chenrujun commented on #950
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27699

[2022-03-16 01:05] #950 closed

[2022-04-11 17:30] raghavendrachennu commented on #656
Hi Tanay,

I am facing the same problem. Could you please tell how is it resolved fir you. Did you add any configuration?

[2022-04-11 17:53] raghavendrachennu commented on #656
Hi, I am also facing the dame issue. Could you please tell me how is it resolved?

[2022-04-12 02:13] saragluna commented on #656
@raghavendrachennu which library are you using? BTW, we have just released our 4.0.0 of all Spring Cloud Azure libraries, https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html, which provides much better support for configuring Azure SDK clients.

[2022-04-28 09:32] chenrujun commented on #948
Closing this issue because there is no response from customer for a long time.

[2022-04-28 09:32] #948 closed

[2022-04-28 09:49] jialigit commented on #817
**This is Conclusion**
The user is using the old lib(3.x) which does not provide cache feature by default. And the user then created the CachedConnectionFactory and JmsTemplate in their application code, then raise the issue.

The key consideration is:
1.	Cache the connection for sending messages.
2.	Solve the problem of  “ link detached issue “ when using JmsTemplate for sending messages.

**We g

[2022-04-28 09:51] chenrujun commented on #946
Closing this issue because there is no response from the customer.

[2022-04-28 09:51] #946 closed

[2022-05-17 08:06] jialigit commented on #817
Hi,

This is a conclusion for this issue, we will:

1. Give a short description of the issue background.
2. Give a short cause analysis.
3. Show related artifact versions and its problems users may encounter.
4. Give a workaround of recommendation for new 4.x.x version starter and describe how it mitigates the issue.
5. Give a workaround if using old artifacts.

**About issue background**

When us

[2022-05-23 03:17] jialigit commented on #817
close the summary presented. If more question, reopen this issue then.

[2022-06-25 04:11] FabioConte commented on #244
Ho, please can you share the source code. I have a simular issue

[2022-07-04 08:06] yiliuTo commented on #945
Close this issue since no response from the customer for a long time.

[2022-07-13 19:22] gomathi-manakavalan commented on #691
Will you please tell me how to enable this in springboot app. Because the url is constructed by the aad b2c jar file. Thanks.

[2022-07-14 00:37] chenrujun commented on #691
Hi, @gomathi-manakavalan

Which version of `spring-cloud-azure-starter-active-directory` are you using?

1. If your version >= 4.0, you can use property: `spring.cloud.azure.active-directory.b2c.authenticate-additional-parameters`. Refs: https://microsoft.github.io/spring-cloud-azure/current/reference/html/appendix.html#_azure_active_directory_b2c_properties.

2. If your version < 4.0, you can use

[2022-07-15 02:22] chenrujun commented on #691
Hi, @gomathi-manakavalan

Please refer to this:
https://github.com/Azure/azure-sdk-for-java/issues/29645#issuecomment-1171239213

[2022-07-22 06:32] thomas-worm-datev commented on #879
I managed to add WebFlux security support in the starter: https://github.com/Azure/azure-sdk-for-java/pull/30074

[2022-07-22 18:24] gomathi-manakavalan commented on #691
@chenrujun  finally solved the mystery.
for Azure ad b2c the implementation is different than you mentioned above.

I wrote an custom CustomAADB2CAuthorizationRequestResolver extends AADB2CAuthorizationRequestResolver and override the method getB2CAuthorizationRequest. i got the currentlanguage from the http request

`  public OAuth2AuthorizationRequest resolve(@NonNull HttpServletRequest request,

[2022-07-29 07:16] anshul733 opened #953 "Queue trying to recover despite active consumer"
For past few days we saw that, one queue which has schdeduling enabled has got messages piling up and the Azure Kubernetes (AKS )Sprint boot consumer is not able consume all of them. In our AKS consumer app, the log is coming as

**"A JMS MessageConsumer has been closed: JmsConsumerInfo: { ID:48d2e6b3-9b29-4fb2-846a-32b7a184e77b:80:1:1, destination = recon.q }"**

**Setup of JMS message listener i

[2022-08-03 05:03] saragluna commented on #953
Thanks for reaching out @anshul733, I saw this is a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/30237, so I'm going to close this one.

[2022-08-03 05:03] #953 closed

[2022-09-02 19:46] datasmithadvtech opened #954 "Signature validation fails on spring boot backend"
I understand this occurs if access token associated with microsoft scope is used.

How do i request access token with another scope so that the signature will be successfully verified?

[2022-09-05 01:55] chenrujun commented on #954
Hi, @datasmithadvtech

Thanks for reaching out.

Are you using `azure-spring-boot-starter-active-directory` or `spring-cloud-azure-starter-active-directory`?

I'm not understand the problem.
Could you please create a new issue in [azure-sdk-for-java repo](https://github.com/Azure/azure-sdk-for-java) and add more descriptions about the problem?

[2022-09-19 02:03] saragluna commented on #954
@datasmithadvtech, I'm going to close this issue for no feedback provided. Please create a new issue in [azure-sdk-for-java](https://github.com/Azure/azure-sdk-for-java/issues) repo if you still have questions.

[2022-09-19 02:03] #954 closed

[2022-09-19 20:07] andros0689 commented on #886
Hello, @kbking01 , I'm facing the same problem trying to resolve this dependency:

java.lang.NoSuchMethodError: 'reactor.core.publisher.Mono reactor.core.publisher.Mono.contextWrite(reactor.util.context.ContextView)'
	at com.azure.core.http.rest.RestProxy.handleRestReturnType(RestProxy.java:528)
	at com.azure.core.http.rest.RestProxy.invoke(RestProxy.java:146)
	at com.sun.proxy.$Proxy15.getSecrets

[2022-09-20 01:36] chenrujun commented on #886
Hi, @andros0689

Thanks for reaching out.

Could you please create a new issue, including all information to reproduce the problem. Like the version of **spring-boot** and **spring-cloud-azure-starter-keyvault-secrets**.

It's better to create a simple project to reproduce the problem.

[2022-09-20 01:43] andros0689 commented on #886
Hello @chenrujun THANKS

Actually, I just found out with my team the solution based on the BOM version (Fuse 11, java 11, Spring Boot based):

<dependencyManagement>
		<dependencies>
			<dependency>
				<groupId>org.jboss.redhat-fuse</groupId>
				<artifactId>fuse-springboot-bom</artifactId>
				<version>7.11.0.fuse-sb2-7_11_0-00028-redhat-00001</version>
				<type>pom</type>
				<scope>import</sc

[2022-09-20 02:00] chenrujun commented on #886
Hi, @andros0689
Please update this project: https://github.com/chenrujun/azure-spring-boot-issue-886
Then I can reproduce the problem.

[2022-09-20 04:40] andros0689 commented on #886
Hello @chenrujun

I updated the project with the property "fuse.bom.version.test". The one is not commented reproduces the error:

`java.lang.NoSuchMethodError: 'reactor.core.publisher.Mono reactor.core.publisher.Mono.contextWrite(reactor.util.context.ContextView)'
	at com.azure.core.http.rest.RestProxy.handleRestReturnType(RestProxy.java:528)
	at com.azure.core.http.rest.RestProxy.invoke(RestProx

[2022-09-20 05:16] chenrujun commented on #886
@andros0689

Current project has error when I try to run it. Could you please fix it?
Here is the screenshot about the error:
![image](https://user-images.githubusercontent.com/13167207/191173225-f94d3667-4391-4dd0-9104-d3eebfdad0ab.png)

[2022-09-20 05:29] andros0689 commented on #886
Did you pull the correct version?

![image](https://user-images.githubusercontent.com/47195130/191174640-b6398351-1530-46bc-b7b2-a38cf1a9c734.png)

I just reviewed and I commited the source with the correct property

:/

[2022-09-21 01:31] chenrujun commented on #886
@andros0689

I already pulled the latest code. It has error.

See this:

https://github.com/chenrujun/azure-spring-boot-issue-886/blob/master/pom.xml#L119

![image](https://user-images.githubusercontent.com/13167207/191394050-fa6c7b51-67de-4727-a367-67bfe05e472b.png)
![image](https://user-images.githubusercontent.com/13167207/191394162-e5b2ad37-4975-4e94-a28b-e35d334f121d.png)

[2022-09-22 00:08] andros0689 commented on #886
@chenrujun

Hello, please, verify again

[2022-09-22 02:46] chenrujun commented on #886
1.

`reactor-core`'s version is `3.4.17`

![image](https://user-images.githubusercontent.com/13167207/191644528-06d43d37-1f54-4b1b-99dd-206fc392eee6.png)

2.

`reactor-core`'s version is `3.3.17`

![image](https://user-images.githubusercontent.com/13167207/191644636-073e4ab8-fe6b-4b83-864f-bf661fb0eb5c.png)

To fix the problem of `java.lang.NoSuchMethodError: 'reactor.core.publisher.Mono`, `reacto

[2022-09-22 14:16] craigblackman2 commented on #817
Hi, using spring-cloud-azure-starter-servicebus-jms:4.0.0 or a later version 4.3.0 with the `pool:enabled: true` setting makes the factory class `org.messaginghub.pooled.jms.JmsPoolConnectionFactory`. Can you confirm if the solution above is referring to the activemq version of [PooledConnectionFactory](https://activemq.apache.org/maven/apidocs/org/apache/activemq/jms/pool/PooledConnectionFactory.

[2022-09-23 08:43] craigblackman2 commented on #817
So far trying to get `PooledConnectionFactory` working I have added the following dependencies to the project: `com.azure.spring:spring-cloud-azure-autoconfigure` to get the `AzureServiceBusJmsProperties` and
`org.apache.activemq:activemq-pool` to get `PooledConnectionFactory`.

The bean declaration is:

[code]
However I cannot seem to find the correct jar to import `ServiceBusKey` and `Connection

[2022-09-23 09:19] hui1110 commented on #817
@craigblackman2 You can add the following dependencies as needed:

[code]

or

[code]

[2022-09-23 09:37] hui1110 commented on #817
@craigblackman2 `ServiceBusKey` and `ConnectionStringResolver` no longer exist in 4.x.x.

[2022-09-23 09:38] hui1110 commented on #817
I will investigate this.

[2022-09-23 10:38] craigblackman2 commented on #817
Thanks, I did see a reply about using an older version but assume that was not really viable. What is the latest way of obtaining the service bus key then?

[2022-09-26 08:44] hui1110 commented on #817
@craigblackman2 Can you tell us about your usage scenarios, or have error logs?
In this [PR ](https://github.com/Azure/azure-sdk-for-java/pull/26159)we have provided `serviceBusJmsConnectionFactoryFactory`. You can refer to [ConnectionStringResolver](https://github.com/Azure-Samples/spring-jms-service-bus/blob/master/spring-jms-service-bus-topic-sample/src/main/java/sample/ConnectionStringResolver

[2022-09-26 13:28] craigblackman2 commented on #817
@hui1110 Our usage scenario is receiving a JMS message via a method annotated with `@JmsListener`to trigger a Spring Batch Job, once that Job has finished, another job will be started automatically by the app sending a message via `JmsTemplate`. We have seen lots of errors stating closed JMS session and MessageProducer is closed so the jobs are not executed. This is mostly where the jobs run longe

[2022-09-27 10:31] hui1110 commented on #817
I'll start investigating this tomorrow and will reply asap.

[2022-09-28 10:20] craigblackman2 commented on #817
@hui1110 Best I don't share full logs here but do have some further that could be useful, is it possible via a direct message or azure support ticket? Anyway a cut down version of events:
`15:49:56.113 Started Application in 42.669 seconds (JVM running for 43.438)`
`15:51:35.774 o.s.j.connection.JmsTransactionManager   : Participating in existing transaction` (JMS message received)
Job still runni

[2022-09-28 10:47] hui1110 commented on #817
@craigblackman2 Can you provide a sample that reproduces the problem, I run it locally for about 50 minutes and send and receive messages normally. Here is the log:

[code]
I use the code from this sample: [servicebus-jms-topic](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.3.0/servicebus/spring-cloud-azure-starter-servicebus-jms/servicebus-jms-topic)

**app

[2022-09-29 09:25] craigblackman2 commented on #817
@hui1110 thanks, I will look at that example although the queue version - we are using a queue not a topic on the service bus. Can I ask the significance of using `spring.jms.servicebus.idle-timeout: 20000` as that is different to the value of `spring.jms.servicebus.idle-timeout:1800000` provided in the solution/workaround above on 17th May?
1800000 is the default value so we removed that config f

[2022-09-29 10:57] hui1110 commented on #817
@craigblackman2  Referring to this [sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.4.0/servicebus/spring-cloud-azure-starter-servicebus-jms/servicebus-jms-queue),  when the property `spring.jms.servicebus.idle-timeout` is removed, my application works fine. If you could provide a sample that reproduces the problem, it might speed me up to reproduce th

[2022-09-30 06:43] Saljack commented on #817
@craigblackman2 I am not from Azure but we had a lot of issues with Azure Service Bus JMS (from my point of view it is only for really simple use cases). From my observation your problem is that the job is running too long and during this time its session for the received message is closed (message lock duration).  Maximum time which can be used for processing a message is 5 minutes. JMS does not

[2022-09-30 16:49] subbaiahd commented on #817
@hui1110
                Put a thread.sleep for 20 mins in your receiver ( In the sample code) . See if you can reproduce the issue

[2022-09-30 16:50] subbaiahd commented on #817
I have long running job once i receive the message.

[2022-09-30 17:50] craigblackman2 commented on #817
Thanks for the input @Saljack, that is very helpful - have been looking into this for a long time. @hui1110 if I put a `Thread.sleep(330000)`  in the sample code I see the following in the logs - we have seen many of these errors in our logs over the last few months so it's definitely part of our issue. If we cannot have a message processing time of longer than five minutes that's quite a limitati

[2022-10-01 14:00] zoladkow commented on #817
@craigblackman2 Perhaps it's a misunderstanding.

The "message processing" should not be understood as the job that is started as a result of receiving a message.

Any time you see that a documentation makes a distinction between these tree steps: a.client receives a message, b.client processes the message, c.client acks/rejects the message, it's in fact still a single logical action that should b

[2022-10-01 14:17] zoladkow commented on #817
@superrdean It's not a "fancy feature" just a valid expectation that a starter package should not contain such a trivial and unreasonable limitation like a timeout exception that is not being handled.

I mean there are workarounds, true, but those should not be required on the client code, which just has JmsTemplate instance provided by injection.

@jialigit Which brings me to your problem summary

[2022-10-03 15:31] craigblackman2 commented on #817
@zoladkow thanks for the post, yes I take your point. Long running transactions are not ideal and we will likely have to look at an alternative approach.

@hui1110 I am coming to the conclusion that the connection eviction will not happen in an app where a `JmsListener` and `JmsTemplate` instance are used as the JmsListener will always have a reference to the connection so even if the connection i

[2022-10-17 03:14] hui1110 commented on #817
@craigblackman2 Can you help confirm the above two points?

[2022-10-17 09:30] craigblackman2 commented on #817
@hui1110 sorry for the delay. Point 1 - yes this is the case.

Point 2 - yes to an extent -  it does not have MessageProducer errors if a job is around 5 minutes but we still see other session closed errors as in the logs shared above if a job is 10 minutes or more. We will then see the Transaction is not declared Reference error.

If a job lasts between 5 and 10 minutes, the sending succeeds but

[2022-10-19 13:18] DeSmetMaarten opened #955 "Possibility to specify multiple KeyVaults to connect to"
in the issue "Possibility to specify multiple KeyVaults to connect to and mount all secrets as config props. #759"
there is a link added to point to information on how to connect multiple keyvaults to a spring boot but the link(https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-keyvault-secrets#multiple-key-vault-support) does not work anymore #759

[2022-10-20 02:26] chenrujun commented on #955
Hi, @DeSmetMaarten, thanks for reaching out.

Multiple KeyVaults is still supported.

Could you please try this sample?
https://github.com/Azure-Samples/azure-spring-boot-samples/blob/spring-cloud-azure_v4.4.0/keyvault/spring-cloud-azure-starter-keyvault-secrets/property-source/src/main/resources/application.yml

[2022-10-31 09:49] sanalsfingent commented on #661
Hi, Can you please help me understand the solution here? I am in the exact same situation as you were. After login all the requests are passing with JSESSIONID and the token received  from `OidcUser principal;` is not necessary for the application as of now. Also everything except my GET requests are failing unless I specifically disable `csrf` with `http.csrf().disable();` which I believe is not

[2022-11-01 08:31] chenrujun commented on #661
Hi, @sanalsfingent

Thanks for reaching out.
Could you please create a new issue in [azure-sdk-for-java](https://github.com/Azure/azure-sdk-for-java/issues) repo?
And it's better to create a demo project to reproduce the problem.

[2022-11-01 08:50] chenrujun commented on #955
Closing this issue because there is no response for a long time.

[2022-11-01 08:50] #955 closed

[2022-11-01 08:51] chenrujun commented on #817
@hui1110

Could you please update the status of this issue?

[2022-11-03 08:11] chenrujun commented on #817
Can we close it now?

How about creating a new issue?

[2022-11-03 10:04] Saljack commented on #817
Sorry, I do not want to be a prude but how is this issue fixed? By this: https://github.com/microsoft/azure-spring-boot/issues/817#issuecomment-1128550965 ?
Because there is no fix for this issue, there are just workarounds. There is still no fix for it. Why do you want to close it if it is not fixed yet? If you think it is enough for closing this issue then it is pretty sad.

[2022-11-04 07:50] zoladkow commented on #817
That's not being prude at all. This situation is just silly.
The issue is **NOT FIXED**, as the **underlying problem** is not addressed in any way - the **error handling**.

Since Apache Qpid JMS client employed in this starter as a shortcut to have an easy win, while it does speak the right protocol AMQP, it does not recognize particular ASB specific states or error messages, it has no way to emp

[2022-11-06 02:39] stliu commented on #817
@hui1110 what's the fix when you say 'has been fixed'?

[2022-11-07 02:51] hui1110 commented on #817
Enable pools to avoid exceptions thrown when sending messages: `The MessageProducer was closed due to an unrecoverable error`

[2022-11-07 12:22] Saljack commented on #817
Really? Where is it enabled? It is starting ridiculous. This is just a workaround (which all users of this library have to use). It is not described anywhere (only in one comment in this issue). If you think it is enough then it is really sad. If you think it is the solution then you should enable it by default. You should definitely write it to reference documentation. It is completely missing th

[2022-11-08 02:03] yiliuTo commented on #817
@Saljack  we agree that using pool connection facotry for such case should not be announced as a fix, a fix should be able to enable send/receive messages normally and smoothly without exceptions or without extra configuration. Our current plan for this issue that:
1. we will validate the usage of pool connection factory and give clear introducation and instruction for it in our reference doc/quic

[2022-11-22 05:33] anshul733 opened #956 "Cannot perform operation 'sendMessage' on a disposed sender."
In our Spring boot Java app flow, we were not able to send message using ASB sdk to a topic.
We also did not see any retries while publishing the message.

**Here is the stack trace**
[code]

**Here is the SDK version we use**

[code]

**JDK version - 11**

**Spring boot version - 2.6.6**

**Here is the code snippet we use to publsh the message**

[code]

[2022-11-23 05:32] yiliuTo commented on #956
Hi @anshul733 , thanks for reaching out. This repository has been deprecated and migrated to https://github.com/Azure/azure-sdk-for-java. So I will close this one and create [another](https://github.com/Azure/azure-sdk-for-java/issues/32298) there to track your issue.

[2022-11-23 05:32] #956 closed